<template>
    <main class="app-content">
        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-pencil"></i> Isi markah mengikut mahasiswa</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- /.Page title -->
        <!-- Page body -->
        <div class="tile mb4" v-if="$can('study_result')">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-3">
                            <div class="input-group float-left">
                                <input class="form-control" v-model="query" type="text" placeholder="Cari dengan kata kunci">
                                <div class="input-group-append"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                            </div>
                        </div>
                        <button class="btn btn-success float-right" @click="createUserModal()"><i class="fa fa-plus-circle"></i>Tambah</button>
                    </div>
                </div>        
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr class="table-default">
                                <th>NIM</th>
                                <th>NAMA NASAB</th>
                                <td class="font-amiri" align="right">نام نسب</td>
                                <th>AKSI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(student, index) in students" :key="index ">
                                <td>{{student.student_id}}</td>
                                <td>
                                    {{student.firstname_rumi | upText}} 
                                    {{student.lastname_rumi | upText}}
                                </td>
                                <td align="right" class="font-amiri">
                                    {{student.firstname_jawi}} &nbsp;&nbsp;&nbsp; 
                                    {{student.lastname_jawi}}
                                </td>
                                <td>
                                    <button @click="subjectShow(student)" class="btn btn-warning" type="button"><i class="fa fa-edit"></i>Buka</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination
                        v-if="pagination.last_page > 1"
                        :pagination="pagination"
                        :offset="5"
                        @paginate="query === '' ? loadStudent() : searchData()"
                    ></pagination>
                </div>
            </div>
        </div>
        <div class="tile mb-4" v-if="!$can('study_result')">
            <not-found></not-found>
        </div>
        <!-- /.Page body -->
        <!-- Modal -->
        <div class="modal fade" id="subjectDataModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">
                        {{student_id}}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card mb-3 text-white bg-info">
                        <div class="card-body">
                            <blockquote class="card-blockquote">
                                <h3 class="float-left">{{stuednt_name_rumi}} {{stuednt_lastname_rumi}}</h3>
                                <h3 class="float-right font-amiri">{{stuednt_name_jawi}} &nbsp;&nbsp; {{stuednt_lastname_jawi}}</h3>
                            </blockquote>
                        </div>
                    </div>
                    <form @submit.prevent="updateScore()">
                        <div class="list-group mt-3" v-for="(semester, index) in subjectData" :key="index">
                            <button type="button" class="list-group-item list-group-item-action active">
                                {{semester.semester}}/{{semester.year}}
                            </button>
                            <button type="button" class="list-group-item list-group-item-action" v-for="(subject, index) in semester.subject" :key="index">
                                <div class="form-group row">
                                    <div class="col-md-4" align="left">
                                        {{index+1}} - {{subject.subject.s_code}} {{subject.subject.s_rumiName}}
                                    </div>
                                    <div class="col-md-3" align="left">
                                        <p><strong> Pensyarah :</strong> {{subject.teacher.t_fnameRumi}} {{subject.teacher.t_lnameRumi}}</p>
                                    </div>
                                    <div class="col-md-3 font-amiri" align="right">
                                        {{subject.subject.s_arabName}}
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" v-model="subject.ss_score" class="form-control">
                                    </div>    
                                </div>
                                
                            </button>
                        </div> 
                        <button type="button" class="btn btn-secondary float-left mt-3" data-dismiss="modal">TUTUP</button>
                        <button type="submit" class="btn btn-primary float-right mt-3" :disabled="disabled"><i class="fa fa-save"></i> SAVE</button>   
                    </form>
                </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        mounted(){
            this.loadStudent();
        },
        data(){
            return{
                stuednt_name_rumi: '',
                stuednt_lastname_rumi: '',
                stuednt_name_jawi: '',
                stuednt_lastname_jawi: '',
                student_id: '',
                disabled: false,
                st_id: '',
                subjectData:[],
                pagination:{
                    current_page: 1,
                },
                query: '',
                students: [],
            }
        },
        watch:{
            query: function(){
                this.pagination.current_page = 1;
                if(this.query === "") {
                    this.loadStudent();
                } else {
                    this.searchData();
                }
            }
        },
        methods: {
            updateScore(){
                this.$Progress.start();
                this.disabled = true;
                axios.put('api/updateStudentScore/'+this.st_id, {score: this.subjectData})
                    .then(response => {
                        this.disabled = false;
                        this.$Progress.finish();

                        toast.fire({
                            icon: 'success',
                            title: 'Data berhasil di perbaharui'
                        })
                    })
                    .catch(() => {
                        this.disabled = false;
                        this.$Progress.fail();
                    })
            },
            subjectShow(student){
                $("#subjectDataModal").modal("show");
                this.st_id = student.st_id;
                this.student_id = student.student_id;
                this.stuednt_name_rumi = student.firstname_rumi,
                this.stuednt_lastname_rumi = student.lastname_rumi,
                this.stuednt_name_jawi = student.firstname_jawi,
                this.stuednt_lastname_jawi = student.lastname_jawi,
                axios.get('api/studentSubjectList/'+student.st_id)
                    .then(response => {
                        this.subjectData = response.data;
                    })
                    .catch(() => {

                    })
            },
            searchData: _.debounce(() => {
                 fire.$emit('searching');
            },1000),
            // searchData(){
            //     axios.get('api/findStudentAtFaculty?q=' + this.query + '&page=' +this.pagination.current_page)
            //         .then(response => {
            //             this.students = response.data.data;
            //             this.pagination = response.data;
            //         })
            //         .catch(() => {

            //         })
            // },
            loadStudent(){
                // if(this.$gate.isAdminOrFacultyEmployee()){
                    this.$Progress.start();
                    axios.get('api/studentAtFaculty?page='+this.pagination.current_page)
                        .then(response => {
                            this.students = response.data.data;
                            this.pagination = response.data;
                            this.$Progress.finish();
                        })
                        .catch(() => {
                            this.$Progress.fail();
                        }) 
                // }
            }        
        },
        created: function(){
            fire.$on('searching', () => {
                this.$Progress.start();
                axios.get('api/findStudentAtFaculty?q=' + this.query + '&page=' +this.pagination.current_page)
                    .then(response => {
                        this.students = response.data.data;
                        this.pagination = response.data;
                        this.$Progress.finish();
                    })
                    .catch(() => {  
                        this.$Progress.finish();
                    })
            })
        }
    }
</script>
