<template>
    <main class="app-content">
        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-pencil"></i> Isi markah mengikut kelas</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- /.Page title -->
    </main>
</template>