<template>
    <main class="app-content">
        <!-- page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-graduation-cap"></i> Mahasiswa - Biodata</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- \.Page title -->

        <!-- Page body -->
        <div class="row" v-if="$can('student_list')">
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="tile">
                    <!-- <h3 class="tile-title">Responsive Table</h3> -->
                    <div class="tile-title">
                        <div class="col-lg-3">
                            <div class="input-group float-left">
                                <input class="form-control" v-model="query" type="text" placeholder="kata kunci">
                                <div class="input-group-append"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table mt-3 ">
                            <thead>
                                <tr>
                                    <th>NIM</th>
                                    <th>NO.IDENTITAS</th>
                                    <th>NAMA NASAB</th>
                                    <th class="font-amiri">نام - نسب</th>
                                    <th>INFO</th>
                                    <th>UBAH</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in students" :key="index">
                                    <td>{{item.student_id}}</td>
                                    <td>{{item.cityzen_id}}</td>
                                    <td>{{item.firstname_rumi}} {{item.lastname_rumi}}</td>
                                    <td class="font-amiri" align="right">{{item.firstname_jawi}} - {{item.lastname_jawi}}</td>
                                    <td>
                                        <router-link :to="{ name: 'StudentData', params: { st_id: item.st_id } }">
                                            <button class="btn btn-secondary"><i class="fa fa-info"></i> info</button>
                                        </router-link>
                                    </td>
                                    <td>
                                        <router-link :to="{ name: 'StudentEdit', params:  { st_id: item.st_id}  }">
                                            <button class="btn btn-warning" ><i class="fa fa-edit"></i> ubah</button>
                                        </router-link>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination
                            v-if="pagination.last_page > 1"
                            :pagination="pagination"
                            :offset="5"
                            @paginate="query === '' ? loadStudent() : searchData()"
                        ></pagination>
                    </div>
                </div>
            </div>
        </div>
        <!-- \.Page body -->

         <div class="tile mb-4" v-if="!$can('student_list')">
            <not-found></not-found>
        </div>

    </main>
</template>

<script>
    export default {
        mounted(){
            this.loadStudent();
        },
        data(){
            return{
                query: '',
                pagination:{
                    current_page: 1
                },
                students: [],
            }
        },
        watch: {
            query: function(){
                if(this.query === ""){
                    this.loadStudent();
                }else{
                    this.searchData();
                }
            }
        },
        methods:{
            searchData: _.debounce(() => {
                 fire.$emit('searching');
            },1000),
            loadStudent(){
                this.$Progress.start();
                axios.get('api/student?page='+this.pagination.current_page)
                    .then(r => {
                        this.students = r.data.data;
                        this.pagination = r.data;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            }
        },
        created: function(){
            fire.$on('searching', () => {
                this.$Progress.start();
                axios.get('api/findStudent?q='+this.query+'&page='+this.pagination.current_page)
                    .then(r => {
                        this.students = r.data.data;
                        this.pagination = r.data;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            })
        }
    }
</script>