<template>
    <main class="app-content">
        
        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-graduation-cap"></i> Mahasiswa - Ubah data mahasiswa</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- \.Page title -->
        
        <!-- Page body -->
        <div class="row" v-if="$can('student_list')">
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-title">
                        <div class="float-right">
                            <button class="btn btn-primary" @click="print()"><i class="fa fa-print"></i> print</button>
                            <router-link to="/StudentInfo">
                                <button class="btn btn-primary"><i class="fa fa-arrow-left"></i> back</button>
                            </router-link>
                        </div>
                    </div>
                    <div class="tile-body">
                        <div class="text-center mt-5">
                            <table class="table">
                                <tr>
                                    <td>
                                        <!-- <img :src="'images/'+form.photo" class="rounded" width="180px" height="185px"> -->
                                        <img :src="image.name" class="rounded" width="180px" height="180px">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <router-link :to="{ name: 'StudentTakePhoto', params: { st_id: st_id } }">
                                            <button class="btn btn-success text-center"><i class="fa fa-camera" aria-hidden="true"></i> gambar</button>
                                        </router-link>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <!-- student form-->
                        <form @submit.prevent="updateStudent()">
                            <fieldset>
                                <legend>Data perkuliahan</legend>
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <label for="">NIM</label>
                                        <input type="text" v-model="form.student_id" :class="{ 'is-invalid': form.errors.has('student_id') }" class="form-control">
                                        <has-error :form="form" field="student_id"></has-error>
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label for="">Fakulti</label>
                                        <select v-model="form.ft_id" @change="loadDepartment($event.target.value)" class="form-control">
                                            <option v-for="(item, index) in faculties" :value="item.ft_id" :key="index">{{item.ft_name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3" v-if="departments.length != []">
                                        <label for="">Jurusan</label>
                                        <select v-model="form.dp_id" class="form-control">
                                            <option v-for="(item, index) in departments" :value="item.dp_id" :key="index">{{item.dp_name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label for="">Kelas</label>
                                        <select v-model="form.class" class="form-control">
                                            <option v-for="(item, index) in studentClass" :value="item.year" :key="index">{{item.class}}</option>
                                        </select>
                                    </div>
                                </div>

                                <hr>

                                <legend class="mt-3">Biodata</legend>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label for="">No.Identitas</label>
                                        <input type="text" v-model="form.cityzen_id" :class="{'is-invalid': form.errors.has('cityzen_id')}" class="form-control">
                                        <has-error :form="form" field="cityzen_id"></has-error>
                                    </div>
                                </div>
                                <div class="form-row mt-1">
                                    <div class="col-md-3">
                                        <label class="control-label">Nama</label>
                                        <input v-model="form.firstname_rumi" class="form-control" type="text" placeholder="Nama">
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Bin</label>
                                        <input v-model="form.familyname_rumi" class="form-control" type="text" placeholder="Bin">
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Nasab</label>
                                        <input v-model="form.lastname_rumi" class="form-control" type="text" placeholder="Nasab">
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label class="control-label font-amiri">نام</label>
                                        <input v-model="form.firstname_jawi" class="form-control font-amiri" type="text" placeholder="نام">
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label font-amiri">بن\بنت</label>
                                        <input v-model="form.familyname_jawi" class="form-control font-amiri" type="text" placeholder="بن\بنت">
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label font-amiri">نسب</label>
                                        <input v-model="form.lastname_jawi" class="form-control font-amiri" type="text" placeholder="نسب">
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label for="">ชื่อ</label>
                                        <input type="text"  v-model="form.t_studentname" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">นามสกุล</label>
                                        <input type="text" v-model="form.t_studentlastname" class="form-control">
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label for="">Jenis kelamin</label>
                                        <select v-model="form.gender" class="form-control">
                                            <option value="Lelaki">Lelaki</option>
                                            <option value="Perempuan">Perempuan</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Tarikh lahir</label>
                                        <input type="date" v-model="form.birdth_date" class="form-control">
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label for="">Nama bapa</label>
                                        <input type="text" v-model="form.father_name" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Nasab bapa</label>
                                        <input type="text" v-model="form.father_lastname" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Kerja bapa</label>
                                        <input type="text" v-model="form.father_job" class="form-control">
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label for="">Nama ibu</label>
                                        <input type="text" v-model="form.mother_name" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Nasab ibu</label>
                                        <input type="text" v-model="form.mother_lastname" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Kerja ibu</label>
                                        <input type="text" v-model="form.mother_job" class="form-control">
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="col-md-3 text-danger">
                                        <label for=""><strong>Jumlah saudara</strong></label>
                                        <input type="number" class="form-control" v-model="form.numbers_of_siblings">
                                    </div>
                                    <div class="col-md-3 text-danger">
                                        <label for=""><strong>saudara yang ke berapa</strong></label>
                                        <input type="number" class="form-control" v-model="form.sibling_number">
                                    </div>
                                    <div class="col-md-3 text-danger">
                                        <label for=""><strong>status sosial</strong></label>
                                        <select v-model="form.marital_status" class="form-control">
                                            <option value="" style="display: none">--Pilih status sosial--</option>
                                            <option value="1">belum kahwin</option>
                                            <option value="2">sudah kahwin</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 text-danger">
                                        <label for=""><strong>sumber ekonomi semasa kuliah</strong></label>
                                        <input type="text" class="form-control" v-model="form.have_income_from">
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="col-md-6 text-danger">
                                        <label for=""><strong>perkhidmatan masyarakat</strong></label>
                                        <input type="text" class="form-control" v-model="form.public_benefit_activities">
                                    </div>
                                    <div class="col-md-6 text-danger">
                                        <label for=""><strong>keahlian khas</strong></label>
                                        <input type="text" class="form-control" v-model="form.skills">
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label for="">Status keluarga</label>
                                        <select v-model="form.familyStatus" class="form-control">
                                            <option value="1">Ibu bapa masih bersama</option> 
                                            <option value="2">Bercerai</option> 
                                            <option value="3">Bapa meninggal</option> 
                                            <option value="4">Ibu meninggal</option> 
                                            <option value="5">Ibu bapa meninggal</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Penyakit pembawaan</label>
                                        <input type="text" v-model="form.disease" class="form-control">
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label for="">Telepon</label>
                                        <input type="text" v-model="form.telephone" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Email</label>
                                        <input type="text" v-model="form.email" class="form-control">
                                    </div>
                                </div>

                                <hr>

                                <legend>Alamat</legend>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label for="">Kampung</label>
                                        <input type="text" v-model="form.t_village_name" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">No. Rumah</label>
                                        <input type="text" v-model="form.house_number" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Tempat</label>
                                        <input type="text" v-model="form.place" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Jalan</label>
                                        <input type="text" v-model="form.t_road" class="form-control">
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label for="">Wilayah / จังหวัด</label>
                                        <select v-model="form.t_province" @change="findAmphur($event.target.value)" :class="{'is-invalid': form.errors.has('t_province')}" class="form-control">
                                            <option value="" style="display: none">Pilih wilayah</option>
                                            <option v-for="(item, index) in provinces" :value="item.PROVINCE_ID" :key="index">{{item.PROVINCE_NAME}}</option>
                                        </select>
                                        <has-error :form="form" field="t_province"></has-error>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Dairah / อำเภอ</label>
                                        <select @change="findDistrict($event.target.value)" v-model="form.t_district" :class="{'is-invalid': form.errors.has('t_district')}" class="form-control">
                                            <option value="" style="display: none">Pilih dairah</option>
                                            <option v-for="(item, index) in amphurs" :value="item.AMPHUR_ID" :key="index">{{item.AMPHUR_NAME}}</option>
                                        </select>
                                        <has-error :form="form" field="t_district"></has-error>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Muqim / ตำบล</label>
                                        <select v-model="form.t_subdistrict" :class="{'is-invalid': form.errors.has('t_subdistrict')}" class="form-control">
                                            <option value="" style="display: none">Pilih muqim</option>
                                            <option v-for="(item, index) in districts" :value="item.DISTRICT_ID" :key="index">{{item.DISTRICT_NAME}}</option>
                                        </select>
                                        <has-error :form="form" field="t_subdistrict"></has-error>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">POS Kod / ไปษณีย์</label>
                                        <input v-model="form.post" type="text" class="form-control">
                                    </div>
                                </div>

                                <hr>

                                <legend class="mt-3">Sejarah pendidikan</legend>
                                <p class="text-secondary">- Pendidikan agama</p>
                                
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label class="float-right font-amiri" for="">تاهون تامت</label>
                                        <select v-model="form.ibtidai_graduate_year" class="form-control" dir="rtl">
                                            <option v-for="(item, index) in 50" :value="2000+item" :key="index">{{2000+item}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="float-right font-amiri" for="">كمفوڠ</label>
                                        <input type="text" v-model="form.ibtidaiVillage" class="form-control font-amiri" dir="rtl">
                                    </div>
                                    <div class="col-md-3">
                                        <label class="float-right font-amiri" for="">تاديكا داري سكوله</label>
                                        <input type="text" v-model="form.ibtidai_graduate" class="form-control font-amiri" dir="rtl">
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label class="float-right font-amiri" for="">تاهون تامت</label>
                                        <select v-model="form.mutawasit_graduate_year" class="form-control" dir="rtl">
                                            <option v-for="(item, index) in 50" :value="2000+item" :key="index">{{2000+item}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="float-right font-amiri" for="">كمفوڠ</label>
                                        <input type="text" v-model="form.mutawassitVillage" class="form-control font-amiri" dir="rtl">
                                    </div>
                                    <div class="col-md-3">
                                        <label class="float-right font-amiri" for="">متوسط داري سكوله</label>
                                        <input type="text" v-model="form.mutawasit_graduate" class="form-control font-amiri" dir="rtl">
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label class="float-right font-amiri" for="">تاهون تامت</label>
                                        <select v-model="form.sanawi_graduate_year" class="form-control" dir="rtl">
                                            <option v-for="(item, index) in 50" :value="2000+item" :key="index">{{2000+item}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="float-right font-amiri" for="">كمفوڠ</label>
                                        <input type="text" v-model="form.sanawiVillage" class="form-control font-amiri" dir="rtl">
                                    </div>
                                    <div class="col-md-3">
                                        <label class="float-right font-amiri" for="">ثانوي داري سكوله</label>
                                        <input type="text" v-model="form.sanawi_graduate" class="form-control font-amiri" dir="rtl">
                                    </div>
                                </div>

                                <p class="mt-3">- Pendidikan akademik</p>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label for="">โรงเรียนประถม</label>
                                        <input type="text" v-model="form.down_graduate" class="form-control">   
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">ปีที่จบ</label>
                                        <select v-model="form.down_graduate_year" class="form-control">
                                            <option v-for="(item, index) in 50" :value="2000+item" :key="index">{{2000+item}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label for="">โรงเรียนมัธยมต้น</label>
                                        <input type="text" v-model="form.first_highschool_graduate" class="form-control">   
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">ปีที่จบ</label>
                                        <select v-model="form.first_highschool_graduate_year" class="form-control">
                                            <option v-for="(item, index) in 50" :value="2000+item" :key="index">{{2000+item}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label for="">โรงเรียนมัธยมปลาย</label>
                                        <input type="text" v-model="form.second_highschool_graduate" class="form-control">   
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">ปีที่จบ</label>
                                        <select v-model="form.second_highschool_graduate_year" class="form-control">
                                            <option v-for="(item, index) in 50" :value="2000+item" :key="index">{{2000+item}}</option>
                                        </select>
                                    </div>
                                </div>

                                <hr>

                                <legend>Pengetahuan bahasa</legend>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label>Bahasa melayu</label>
                                        <select v-model="form.melayu_lang_skill" class="form-control">
                                            <option value="">Pilih</option>
                                            <option value="Kurang">Kurang</option>
                                            <option value="Cukup">Cukup</option>
                                            <option value="Lancar">Lancar</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Bahasa arab</label>
                                        <select v-model="form.arab_lang_skill" class="form-control">
                                            <option value="">Pilih</option>
                                            <option value="Kurang">Kurang</option>
                                            <option value="Cukup">Cukup</option>
                                            <option value="Lancar">Lancar</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Bahasa ingris</label>
                                        <select v-model="form.ingris_lang_skill" class="form-control">
                                            <option value="">Pilih</option>
                                            <option value="Kurang">Kurang</option>
                                            <option value="Cukup">Cukup</option>
                                            <option value="Lancar">Lancar</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Bahasa thai</label>
                                        <select v-model="form.thai_lang_skill" class="form-control">
                                            <option value="">Pilih</option>
                                            <option value="Kurang">Kurang</option>
                                            <option value="Cukup">Cukup</option>
                                            <option value="Lancar">Lancar</option>
                                        </select>
                                    </div>
                                </div>

                                <hr>
                                
                                <legend>Persyaratan</legend>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label>Syahadah</label>
                                        <select v-model="form.certificate" class="form-control">
                                            <option value="">Pilih</option>
                                            <option value="1">Ada</option>
                                            <option value="2">Tidak ada</option>
                                        </select>    
                                    </div>
                                    <div class="col-md-3">
                                        <label>Kasfu nilai</label>
                                        <select v-model="form.transcript" class="form-control">
                                            <option value="">Pilih</option>
                                            <option value="1">Ada</option>
                                            <option value="2">Tidak ada</option>
                                        </select>    
                                    </div>
                                    <div class="col-md-3">
                                        <label>Senarai dapur</label>
                                        <select v-model="form.citizen_book" class="form-control">
                                            <option value="">Pilih</option>
                                            <option value="1">Ada</option>
                                            <option value="2">Tidak ada</option>   
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Kad pengenalan</label>
                                        <select v-model="form.id_book" class="form-control">
                                            <option value="">Pilih</option>
                                            <option value="1">Ada</option>
                                            <option value="2">Tidak ada</option>       
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="col-md-3 text-danger">
                                        <label><strong>Kad pengenalan bapa</strong></label>
                                        <select v-model="form.father_idcard" class="form-control">
                                            <option value="">Pilih</option>
                                            <option value="1">Ada</option>
                                            <option value="2">Tidak ada</option>       
                                        </select>       
                                    </div>
                                    <div class="col-md-3 text-danger">
                                        <label><strong>Senarai dapur bapa</strong></label>
                                        <select v-model="form.father_citizenbook" class="form-control">
                                            <option value="">Pilih</option>
                                            <option value="1">Ada</option>
                                            <option value="2">Tidak ada</option>       
                                        </select>       
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="col-md-3 text-danger">
                                        <label><strong>Kad pengenalan ibu</strong></label>
                                        <select v-model="form.mother_idcard" class="form-control">
                                            <option value="">Pilih</option>
                                            <option value="1">Ada</option>
                                            <option value="2">Tidak ada</option>       
                                        </select>       
                                    </div>
                                    <div class="col-md-3 text-danger">
                                        <label><strong>Senarai dapur ibu</strong></label>
                                        <select v-model="form.mother_citizenbook" class="form-control">
                                            <option value="">Pilih</option>
                                            <option value="1">Ada</option>
                                            <option value="2">Tidak ada</option>       
                                        </select>       
                                    </div>
                                </div>

                                <hr>

                                <legend>Password</legend>
                                <div class="form-row mt-3">
                                    <div class="col-md-3">
                                        <label for="">Password</label>
                                        <input type="text" v-model="form.password" class="form-control">
                                    </div>
                                </div>

                                <button type="submit" :disabled="disabled" class="btn btn-success mt-3"><i class="fa fa-check-circle" aria-hidden="true"></i> save</button>
                            </fieldset>
                        </form>
                        <!-- \.student form-->

                    </div>
                </div>
            </div>
        </div>
        <!-- \.Page body -->

        <!-- print profile -->
        <div id="documentPrint" class="row printArea" style="display: none">
            
            <page size="A4">
                <table align="center" valign="" width="100%" class="reciet-header">
                    <tr>
                        <td align="left"><img src="images/head.jpg" width="250px" height="100px" class="float-left"> </td>
                    </tr>
                </table>

                <b><hr class="new"></b>

                <table align="center" width="100%">
                    <tr>
                        <td align="left"><img :src="image.name" class="img-rounded" width="180px" height="185px"> </td>
                        <!-- <td align="left"><img class="img-rounded" width="120" height="140px"> </td> -->
                        <td align="left" valign="top" class="font-amiri-header">
                            <b>
                                بوراڠ فندفتران مهاسيسوا
                            </b><br>
                            &nbsp;&nbsp;&nbsp;  تاهون اکاديميک {{income_year}}
                        </td>
                    </tr>
                </table>

                <div align="right" class="row float-right mt-2 font-amiri-content"><b>بهاݢين يڠ فرتام : بيوداتا</b></div>
                
                <table class="reciet-body font-amiri-content mt-3" width="100%">
                    <tbody>
                        <tr height="30px">
                            <td width="35%" align="right" class="font-amiri-content">{{form.student_id}} :</td>
                            <td width="15%" align="right" class="font-amiri-content"><b>نمبر فوكوء</b></td>
                            <td width="35%" align="right" class="font-amiri-content">{{form.firstname_jawi}} &nbsp;&nbsp; {{form.lastname_jawi}} :</td>
                            <td width="15%" align="right" class="font-amiri-content"><b>نام نسب</b></td>
                        </tr>
                        <tr height="30px">
                            <td width="35%" align="right" class="font-amiri-content">{{stdDepartment.dp_arab_name}} :</td>
                            <td width="15%" align="right" class="font-amiri-content"><b>جوروسن</b></td>
                            <td width="35%" align="right" class="font-amiri-content">{{stdFaculty.ft_arab_name}} :</td>
                            <td width="15%" align="right" class="font-amiri-content"><b>كلية</b></td>
                        </tr>
                        <tr height="30px">
                            <td width="35%" align="right">
                                <span v-if="form.familyStatus == 1">ايبو باف ماسيه برسام</span>
                                <span v-if="form.familyStatus == 2">برچراي</span>
                                <span v-if="form.familyStatus == 3">باف منيغݢل</span>
                                <span v-if="form.familyStatus == 4">ايبو منيڠݢل</span>
                                <span v-if="form.familyStatus == 5">ايبو باف منيڠݢل</span>
                                :
                            </td>
                            <td width="15%" align="right" class="font-amiri-content"><b>ستاتوس كلوارݢ</b></td>
                            <td width="35%" align="right">{{form.birdth_date}} :</td>
                            <td width="15%" align="right" class="font-amiri-content"><b>تاريخ لاهير</b></td>
                        </tr>
                        <tr height="30px">
                            <td align="right">{{form.t_road}} :</td>
                            <td align="right" class="font-amiri-content"><b>جالن</b></td>
                            <td align="right">{{form.place}} :</td>
                            <td align="right" class="font-amiri-content"><b>تمفڤ</b></td>
                        </tr>
                        <tr height="30px">
                            <td align="right">{{form.house_number}} :</td>
                            <td align="right" class="font-amiri-content"><b> نمبر رومه</b></td>
                            <td align="right">{{form.t_village_name}} :</td>
                            <td align="right" class="font-amiri-content"><b> كمفوڠ</b></td>
                        </tr>
                        <tr height="30px">
                            <td align="right">
                                <span v-for="(item, index) in amphurs" :key="index">
                                    <span v-if="form.t_district == item.AMPHUR_ID">{{item.AMPHUR_NAME}}</span>
                                </span>
                                :
                            </td>
                            <td align="right" class="font-amiri-content"><b> دائره</b></td>
                            <td align="right">
                                <span v-for="(item, index) in districts" :key="index">
                                    <span v-if="form.t_subdistrict == item.DISTRICT_ID">{{item.DISTRICT_NAME}}</span>
                                </span>
                                :    
                            </td>
                            <td align="right" class="font-amiri-content"><b> موقيم</b></td>
                        </tr>
                        <tr height="30px">
                            <td align="right">
                                {{form.post}}
                                :
                            </td>
                            <td align="right" class="font-amiri-content"><b> كود فوس</b></td>
                            <td align="right">
                                <span v-for="(item, index) in provinces" :key="index">
                                    <span v-if="form.t_province == item.PROVINCE_ID">{{item.PROVINCE_NAME}}</span>
                                </span>
                                :
                            </td>
                            <td align="right" class="font-amiri-content"><b> ولاية</b></td>
                        </tr>
                        <tr height="30px">
                            <td align="right">{{form.email}} :</td>
                            <td align="right" class="font-amiri-content"><b>e-mail / سوريل </b></td>
                            <td align="right">{{form.telephone}} :</td>
                            <td align="right" class="font-amiri-content"><b>نمبر تيليفون</b></td>
                        </tr>
                    </tbody>
                </table>

                <br>

                <div align="right" class="row float-right mt-2 font-amiri-content"><b>بهاݢين يڠ كدوا : سجاره فنديديقكن</b></div>

                <table class="reciet-body font-amiri-content mt-3" width="100%">
                    <tbody>
                        <tr height="30px">
                            <td width="100%" align="right" colspan="6" class="font-amiri-content"><u><b>ڤنديديقكن اݢام</b></u></td>
                        </tr>
                        <tr height="30px">
                            <td width="10%" align="right" class="font-amiri-content">{{form.ibtidai_graduate_year}} :</td>
                            <td width="10%" align="right" class="font-amiri-content"><b>تاهون تامت</b></td>
                            <td width="20%" align="right" class="font-amiri-content">{{form.ibtidaiVillage}} :</td>
                            <td width="5%" align="right" class="font-amiri-content"><b>كمفوڠ</b></td>
                            <td width="35%" align="right" class="font-amiri-content">{{form.ibtidai_graduate}} :</td>
                            <td width="20%" align="right" class="font-amiri-content"><b>تاديكا داري سكوله</b></td>
                        </tr>
                        <tr height="30px">
                            <td width="10%" align="right" class="font-amiri-content">{{form.mutawasit_graduate_year}} :</td>
                            <td width="10%" align="right" class="font-amiri-content"><b>تاهون تامت</b></td>
                            <td width="20%" align="right" class="font-amiri-content">{{form.mutawassitVillage}} :</td>
                            <td width="5%" align="right" class="font-amiri-content"><b>كمفوڠ</b></td>
                            <td width="35%" align="right" class="font-amiri-content">{{form.mutawasit_graduate}} :</td>
                            <td width="20%" align="right" class="font-amiri-content"><b>متوسط داري سكوله</b></td>
                        </tr>
                        <tr height="30px">
                            <td width="10%" align="right" class="font-amiri-content">{{form.mutawasit_graduate_year}} :</td>
                            <td width="10%" align="right" class="font-amiri-content"><b>تاهون تامت</b></td>
                            <td width="20%" align="right" class="font-amiri-content">{{form.mutawassitVillage}} :</td>
                            <td width="5%" align="right" class="font-amiri-content"><b>كمفوڠ</b></td>
                            <td width="35%" align="right" class="font-amiri-content">{{form.mutawasit_graduate}} :</td>
                            <td width="25%" align="right" class="font-amiri-content"><b>ثانوي داري سكوله</b></td>
                        </tr>

                        <tr>
                            <td colspan="6"><hr></td>
                        </tr>

                        <tr height="30px">
                            <td width="100%" align="right" colspan="6" class="font-amiri-content"><u><b>ڤنديديقكن اكاديميك</b></u></td>
                        </tr>
                        <tr height="30px">
                            <td width="10%" align="left" colspan="2" class="font-amiri-content"><b>โรงเรียนประถม</b></td>
                            <td width="10%" align="left" colspan="2" class="font-amiri-content">: {{form.down_graduate}}</td>
                            <td width="20%" align="left" colspan="2" class="font-amiri-content"><b>ปีที่จบ : {{form.down_graduate_year}}</b></td>
                        </tr>
                        <tr height="30px">
                            <td width="10%" align="left" colspan="2" class="font-amiri-content"><b>โรงเรียนมัธยมต้น</b></td>
                            <td width="10%" align="left" colspan="2" class="font-amiri-content">: {{form.first_highschool_graduate}}</td>
                            <td width="20%" align="left" colspan="2" class="font-amiri-content"><b>ปีที่จบ : {{form.first_highschool_graduate_year}}</b></td>
                        </tr>
                        <tr height="30px">
                            <td width="10%" align="left" colspan="2" class="font-amiri-content"><b>โรงเรียนมัธยมปลาย</b></td>
                            <td width="10%" align="left" colspan="2" class="font-amiri-content">: {{form.second_highschool_graduate}}</td>
                            <td width="20%" align="left" colspan="2" class="font-amiri-content"><b>ปีที่จบ : {{form.second_highschool_graduate_year}}</b></td>
                        </tr>
                    </tbody>
                </table>

                <br>

                <div align="right" class="row float-right mt-2 font-amiri-content"><b>بهاݢين يڠ كتيݢ : فڠتهوان بهاس</b></div>

                <table class="reciet-body font-amiri-content mt-3" width="100%" border="0">
                    <tbody>
                        
                        <tr height="30px">

                            <td width="10%" align="right" class="font-amiri-content">
                                <span v-if="form.thai_lang_skill == 'Kurang'" class="font-amiri">كوراڠ</span>
                                <span v-if="form.thai_lang_skill == 'Cukup'" class="font-amiri">چوكوب</span>
                                <span v-if="form.thai_lang_skill == 'Lancar'" class="font-amiri">لنچر</span>
                                :
                            </td>
                            <td width="8%" align="right" class="font-amiri-content"><b>بهاس تهاي</b></td>

                            <td width="10%" align="right" class="font-amiri-content">
                                <span v-if="form.ingris_lang_skill == 'Kurang'" class="font-amiri">كوراڠ</span>
                                <span v-if="form.ingris_lang_skill == 'Cukup'" class="font-amiri">چوكوب</span>
                                <span v-if="form.ingris_lang_skill == 'Lancar'" class="font-amiri">لنچر</span>
                                :
                            </td>
                            <td width="9%" align="right" class="font-amiri-content"><b>بهاس ايڠݢريس</b></td>

                            <td width="10%" align="right" class="font-amiri-content">
                                <span v-if="form.arab_lang_skill == 'Kurang'" class="font-amiri">كوراڠ</span>
                                <span v-if="form.arab_lang_skill == 'Cukup'" class="font-amiri">چوكوب</span>
                                <span v-if="form.arab_lang_skill == 'Lancar'" class="font-amiri">لنچر</span>
                                :
                            </td>
                            <td width="8%" align="right" class="font-amiri-content"><b>بهاس عرب</b></td>

                            <td width="10%" align="right" class="font-amiri-content">
                                <span v-if="form.melayu_lang_skill == 'Kurang'" class="font-amiri">كوراڠ</span>
                                <span v-if="form.melayu_lang_skill == 'Cukup'" class="font-amiri">چوكوب</span>
                                <span v-if="form.melayu_lang_skill == 'Lancar'" class="font-amiri">لنچر</span>
                                :
                            </td>
                            <td width="8%" align="right" class="font-amiri-content"><b>بهاس ملايو</b></td>

                        </tr>
                    </tbody>
                </table>

            </page>

        </div>
        <!-- \.print profile -->

        <div class="tile mb-4" v-if="!$can('student_list')">
            <not-found></not-found>
        </div>

    </main>
</template>

<script>
    export default {
        props: ['st_id'],
        mounted(){
            this.loadStudentInfo();
            this.loadStudentClass();
        },
        data(){
            return{
                //print 
                income_year: '',
                stdFaculty: '',
                stdDepartment: '',
                districts: [],
                amphurs: [],
                provinces: [],
                studentClass: [],
                departments: [],
                faculties: [],
                disabled: false,
                form: new Form({
                    photo: '',
                    st_id: '',
                    student_id: '',
                    ft_id: '',
                    dp_id: '',
                    class: '',

                    //biodata
                    cityzen_id: '',
                    firstname_rumi: '',
                    lastname_rumi: '',
                    familyname_rumi: '',
                    firstname_jawi: '',
                    lastname_jawi: '',
                    familyname_jawi: '',
                    t_studentname: '',
                    t_studentlastname: '',
                    gender: '',
                    birdth_date: '',
                    father_name: '',
                    father_lastname: '',
                    father_job: '',
                    mother_name: '',
                    mother_lastname: '',
                    mother_job: '',
                    familyStatus: '',
                    disease: '',
                    telephone: '',
                    email: '',
                    t_village_name: '',
                    house_number: '',
                    place: '',
                    t_road: '',
                    t_province: '',
                    t_district: '',
                    t_subdistrict: '',
                    post: '',
                    numbers_of_siblings: '',
                    sibling_number: '',
                    marital_status: '',
                    have_income_from: '',
                    public_benefit_activities: '',
                    skills: '',

                    //sejarah pendidikan
                    ibtidai_graduate_year: '',
                    ibtidaiVillage: '',
                    ibtidai_graduate: '',
                    mutawasit_graduate_year: '',
                    mutawassitVillage: '',
                    mutawasit_graduate: '',
                    sanawi_graduate_year: '',
                    sanawiVillage: '',
                    sanawi_graduate: '',
                    down_graduate: '',
                    down_graduate_year: '',
                    first_highschool_graduate: '',
                    first_highschool_graduate_year: '',
                    second_highschool_graduate: '',
                    second_highschool_graduate_year: '',

                    //Pengetahuan bahasa
                    melayu_lang_skill: '',
                    arab_lang_skill: '',
                    ingris_lang_skill: '',
                    thai_lang_skill: '',

                    //Persyaratan
                    certificate: '',
                    citizen_book: '',
                    id_book: '',

                    transcript: '',
                    
                    father_idcard: '',
                    father_citizenbook: '',
                    mother_idcard: '',
                    mother_citizenbook: '',

                    //password
                    password: '',

                }),
                image: {
                    name: 'image/avatar.png'
                },
            }
        },
        methods:{
            print(){
                this.$htmlToPaper('documentPrint');
            },
            findDistrict(id){
                axios.get('api/district/'+id)
                    .then(response => {
                        this.districts = response.data;
                        //this.form.t_district = '';
                        this.form.t_subdistrict = '';
                    })
                    .catch(() => {

                    })
            },
            findAmphur(id){
                axios.get('api/amphur/'+id)
                    .then(response => {
                        this.amphurs = response.data;
                        //t_province: '',
                        this.form.t_district = '';
                        this.form.t_subdistrict = '';
                    })
                    .catch(() => {

                    })
            },
            loadStudentClass(){
                axios.get('api/studentClass')
                    .then(r => {
                        this.studentClass = r.data;
                    })
                    .catch(() => {

                    })
            },
            loadDepartment(id){
                axios.get('api/departmentAtFaculty/'+id)
                    .then(r => {
                        //console.log(r.data.length);
                        if(r.data.length == '0' ){
                            this.form.dp_id = 0;
                        }else{
                            this.departments = r.data;
                        }
                    })
                    .catch(() => {

                    })
            },
            updateStudent(){
                this.$Progress.start();
                this.disabled = true;
                this.form.put('api/updateStudentInfo/'+this.form.st_id)
                    .then(r => {    
                        this.$Progress.finish();
                        toast.fire({
                            icon: 'success',
                            title: 'Data berhasil di perbaharui',
                        }),
                        this.disabled = false;
                    })
                    .catch(() => {
                        this.disabled = false;
                        this.$Progress.fail();
                    })
            },
            loadStudentInfo(){
                this.$Progress.start();
                axios.get('api/studentInfo/'+this.st_id)
                    .then(r => {
                        this.form.fill(r.data.biodata);
                        this.income_year = r.data.biodata.income_year;
                        // if(r.data.biodata.photo != null){
                        //     this.image.name = 'images/'+r.data.biodata.photo;
                        // }
                        if(r.data.image == "null"){
                            this.form.photo = r.data.biodata.photo;
                            this.image.name = 'image/avatar.png';
                        }else{
                            this.form.photo = r.data.image.name;
                            this.image.name = r.data.image.name;
                        }
                        this.faculties = r.data.faculty;
                        this.departments = r.data.department;
                        this.provinces = r.data.province;
                        this.amphurs = r.data.amphur;
                        this.districts = r.data.district;
                        this.stdFaculty = r.data.studentFaculty;
                        this.stdDepartment = r.data.studentDepartment;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            },
        }
    }
</script>