<template>
    <main class="app-content">
        
        <div class="row user">
            
            <div class="col-md-12">
                <div class="profile">
                    <div class="info" style="background-color: gray">
                        <img class="user-img" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg">
                            <h4>John Doe</h4>
                            <p>{{st_id}}</p>
                    </div>
                        <div style="width: 100%; background-color: gray">
                            <router-link to="/studentInfo">
                                <button class="btn btn-primary mt-3 float-right mr-3"><i class="fa fa-arrow-left"></i> back</button>  
                            </router-link>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="tile p-0">
                        <ul class="nav flex-column nav-tabs user-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#biodata" data-toggle="tab">Biodata</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#scoreList" data-toggle="tab">Hasil kuliah</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    
                    <div class="tab-content">
                        <div class="tab-pane active" id="biodata">
                            <div class="tile user-settings">
                                <h4 class="line-head">Biodata</h4>
                                
                            </div>
                        </div>

                        <div class="tab-pane fade" id="scoreList">
                            <button @click="printTranscript()" class="btn btn-success mb-3"><i class="fa fa-print"></i> print</button>
                            <StudenScore :score="score"></StudenScore>   
                        </div>
                    </div>
                </div>
            </div>

            <!-- Print Transcript -->
            <div id="paperPrint" style="display: none" align="center">
            
                <page size="A4">
                    
                    <table width="100%" border="1">
                        <tr>
                            <td colspan="2" align="center">
                                <b>TRANSCRIP NILAI</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table width="100%">
                                    <tr>
                                        <td align="left" width="30%" valign="top">
                                            <img src="image/avatar.png" alt="..." class="img-thumbnail" width="80px" height="90px">
                                        </td>
                                        <td align="left" width="85%" valign="top">
                                            NIM :
                                            NAMMA : 
                                            FAKULTI & JURUSAN : 
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%" valign="top">
                                <table width="100%">
                                    <tr v-for="(first, index) in firstSemScore" :key="index">
                                        <td valign="top">
                                            <table id="transcript" width="100%" style="font-size: 10px; line-height: 0.5em;">
                                                <thead>
                                                    <tr style="background-color: gray; color: white">
                                                        <td colspan="4">{{first.semester}}/{{first.year}}</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(ss, index) in first.subject" :key="index"> 
                                                        <td width="10%">
                                                            {{ss.subject.s_code}}
                                                        </td>
                                                        <td width="50%">
                                                            {{ss.subject.s_code}} {{ss.subject.s_rumiName}}   
                                                        </td> 
                                                        <td width="35%">
                                                            {{ss.teacher.t_fnameRumi}}   {{ss.teacher.t_lnameRumi}}   
                                                        </td>    
                                                        <td width="5%">
                                                            {{ss.ss_score}}   
                                                        </td>
                                                    </tr> 
                                                </tbody>   
                                            </table> 
                                        </td>  
                                    </tr>
                                </table>
                            </td>
                            <td width="50%" valign="top">
                                <table width="100%">
                                    <tr v-for="(second, index) in secondSemScore" :key="index">
                                        <td>
                                            <table id="transcript" width="100%" style="font-size: 10px;line-height: 0.5em;">
                                                <thead>
                                                    <tr style="background-color: gray; color: white">
                                                        <td colspan="4">{{second.semester}}/{{second.year}}</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(ss, index) in second.subject" :key="index">
                                                        <td width="10%">
                                                            {{ss.subject.s_code}}
                                                        </td>
                                                        <td width="50%">
                                                            {{ss.subject.s_rumiName}}   
                                                        </td> 
                                                        <td width="35%">
                                                            {{ss.teacher.t_fnameRumi}}   {{ss.teacher.t_lnameRumi}}   
                                                        </td>    
                                                        <td width="5%">
                                                            {{ss.ss_score}}   
                                                        </td>
                                                    </tr> 
                                                </tbody>   
                                            </table>        
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </page>

            </div>
            <!-- \.Print Transcript -->

    </main>
</template>

<script>
    import StudenScore from "./information/Score.vue";
    import ScorePrint from "./information/ScorePrint.vue";
    export default {
        props: ['st_id'],
        components:{
            StudenScore,
            ScorePrint,
        },
        mounted(){
            this.loadStdentScore();
        },
        data(){
            return{
                firstSemScore: [],
                secondSemScore: [],
                score: [],
            }
        },
        methods:{
            printTranscript(){
                this.$htmlToPaper('paperPrint');
            },
            loadStdentScore(){
                axios.get('api/studentSubjectList/'+this.st_id)
                    .then(response => {
                        this.score = response.data;
                        this.firstSemScore = response.data.filter(response => response.semester == 1);
                        this.secondSemScore = response.data.filter(response => response.semester == 2);
                    })
                    .catch(() => {

                    })
            },
            loadStudentInfo(){

            }
        }
    }
</script>