<template>
    <main class="app-content">
        <!-- page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-graduation-cap"></i> Mahasiswa - Ambil gambar</h1>
                <p>Sistem managemen informasi JISDA {{form.photo}}</p>
            </div>
        </div>
        <!-- \.Page title -->

        <!-- page body -->
        <div class="row" v-if="$can('student_list')">
            <div class="clear-fix"></div>
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-title">
                        <div class="float-right">
                            <router-link :to="{ name: 'StudentEdit', params:  { st_id: st_id}  }">
                                <button class="btn btn-primary"><i class="fa fa-arrow-left"></i> back</button>
                            </router-link>
                        </div>
                    </div>
                    <div class="tile-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Camera anda</h2>
                                <code v-if="device">{{ device.label }}</code>
                                <div class="border">
                                    <vue-web-cam
                                        ref="webcam"
                                        :device-id="deviceId"
                                        :width="width"
                                        :height="height"
                                        @started="onStarted"
                                        @stopped="onStopped"
                                        @error="onError"
                                        @cameras="onCameras"
                                        @camera-change="onCameraChange"
                                    />
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <select v-model="camera">
                                            <option >-- Select Device --</option>
                                            <option
                                                v-for="device in devices"
                                                :key="device.deviceId"
                                                :value="device.deviceId"
                                            >{{ device.label }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-8">
                                        <button type="button" class="btn btn-primary" @click="onCapture">Capture</button>
                                        <button type="button" class="btn btn-danger" @click="onStop">Stop</button>
                                        <button type="button" class="btn btn-success" @click="onStart">Start</button>
                                        <button :disabled="disabled" type="button" class="btn btn-success" @click="uploadPhoto()">Upload</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>Gambar anda</h2>
                                <code v-if="device">{{ device.label }}</code>
                                <figure class="figure">
                                    <img :src="img" class="img-fluid img-thumbnail" />
                                </figure>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- \.page body -->

        <div class="tile mb-4" v-if="!$can('student_list')">
            <not-found></not-found>
        </div>

    </main>
</template>

<script>
    import { WebCam } from "vue-web-cam";
    export default {
        //props: ['st_id'],
        computed: {
            device: function() {
                return this.devices.find(n => n.deviceId === this.deviceId);
            }
        },
        name: "App",
        props: {
            st_id: '',
            width: {
                type: [Number, String],
                default: "100%"
            },
            height: {
                type: [Number, String],
                default: 500
            },
            autoplay: {
                type: Boolean,
                default: true
            },
            screenshotFormat: {
                type: String,
                default: "image/jpeg"
            },
            selectFirstDevice: {
                type: Boolean,
                default: false
            },
            deviceId: {
                type: String,
                default: null
            },
            playsinline: {
                type: Boolean,
                default: true
            },
            resolution: {
                type: Object,
                default: null,
                validator: value => {
                    return value.height && value.width;
                }
            }
        },
        components: {
            "vue-web-cam": WebCam
        },
        mounted(){

        },  
        data(){
            return{
                disabled: true,
                img: null,
                camera: null,
                //deviceId: null,
                devices: [],
                pre_id: this.$route.params.pre_id,
                //st_id: this.$route.params.st_id,
                form: new Form({
                    st_id: this.st_id,
                    std_photo: '',
                }),
            }
        },
        watch: {
            camera: function(id) {
                this.deviceId = id;
            },
            devices: function() {
                // Once we have a list select the first one
                const [first, ...tail] = this.devices;
                if (first) {
                    this.camera = first.deviceId;
                    this.deviceId = first.deviceId;
                }
            }      
        },
        methods: {
            uploadPhoto(){
                this.disabled = true;
                this.$Progress.start();
                this.form.post('api/studentTakePhoto')
                    .then(response => {
                        this.disabled = false;

                        toast.fire({
                            icon: 'success',
                            title: 'Gambar berhasil di upload!'
                        })

                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            },
            // confirmingRegister(pre_id,st_id){
            //     this.$router.push({name:'confirmingRegister',params:{pre_id:pre_id,st_id:st_id}})
            // },
            onCapture() {
                this.img = this.$refs.webcam.capture();
                this.form.std_photo = this.$refs.webcam.capture();
                this.disabled = false;
                //console.log(this.form.std_photo)
                // this.form.post('api/uploadImage')
                //     .then(response => {
                //         console.log(response)
                //     })
                //     .catch(() => {

                //     })
            },
            onStarted(stream) {
                console.log("On Started Event", stream);
            },
            onStopped(stream) {
                console.log("On Stopped Event", stream);
            },
            onStop() {
                this.$refs.webcam.stop();
            },
            onStart() {
                this.$refs.webcam.start();
            },
            onError(error) {
                console.log("On Error Event", error);
            },
            onCameras(cameras) {
                this.devices = cameras;
                console.log("On Cameras Event", cameras);
            },
            onCameraChange(deviceId) {
                this.deviceId = deviceId;
                this.camera = deviceId;
                console.log("On Camera Change Event", deviceId);
            }
        },
        created: function(){
            
        }, 
    }
</script>