// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~vali-admin/docs/css/main.css';

@font-face {
    font-family: "AmiriFont";
    src: url(/)
}

.font-amiri{
    font: "AmiriFont", serif;
    color: black;
    font-weight: 300;
    font-size: 20px;
}

.router-link-exact-active{
    background-color:#009688 !important;
    color: #fff !important; 
}


