/* @import url('https://fonts.googleapis.com/css?family=Amiri&display=swap'); */
@font-face {
    font-family: "AmiriFont";
    src: url(../fonts/arabic/Amiri/Amiri-Regular.ttf);
}
.font-amiri{
    font-family: 'AmiriFont', serif;
    color: black;
    font-weight: 300;
    font-size: 15px;
}