/* @import url('https://fonts.googleapis.com/css?family=Amiri&display=swap'); */
@font-face {
    font-family: "AmiriFont";
    src: url(../fonts/arabic/Amiri/Amiri-Regular.ttf);
}
@font-face {
    font-family: "ThaiSarabun";
    src: url(../fonts/thai/THSarabunNew.ttf);
}
.font-amiri-header{
    font-family: 'AmiriFont', serif;
    color: black;
    font-weight: 300;
    font-size: 20px;
}
.font-amiri-content{
    font-family: 'AmiriFont', serif;
    color: black;
    font-weight: 300;
    font-size: 14px;
}

.font-amiri-small{
  font-family: 'AmiriFont', serif;
  color: black;
  font-weight: 300;
  font-size: 12px;
}

.reciet-header{
    font-size: 14pt;
    text-align: center;
}
.reciet-body{
    /* font-size: 20pt; */
    border: 2px solid black;
    border-radius: 5px;
    line-height: 1em;
}
.reciet-body td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.reciet-body tr{
    border: 2px solid black;
}
.reciet-body table{
    padding-left: 1px;
    padding-right: 1px;
}
hr.new {
    color: #f00;
    background-color: black;
    height: 3px;
}
.tableMarginTop{
    margin-top: 70px;
}

/* ใบเสร็จ */
#muqaddimah {
    /* font-family: "ThaiSarabun";
    font-size: 15px; */
    border-collapse: collapse;
    width: 95%;
    margin-right: 5ch;
}

#reciet-footer{
  padding-right: 10ch;
}

#muqaddimah td, #muqaddimah th {
    border: 1px solid black;
    padding: 6px;
}
#muqaddimah th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

/* table border style */
/* ใบเสร็จ */
#transcript {
  /* font-family: "ThaiSarabun";
  font-size: 15px; */
  border-collapse: collapse;
  width: 100%;
  margin-right: 0.1ch;
  margin-left: 0.1ch;
}
#transcript td, #transcript th {
  border: 1px solid black;
  padding: 6px;
}
#transcript th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}


/* สไตลของไฟล์ที่จะปริ้น*/
body {
    background: white; 
  }
  page{
    background: white;
    display: block;
    margin: 0 auto;
    /* margin-bottom: 0.5cm;
    margin-top: 0.5cm; */
    /* box-shadow: 0 0 0.5cm rgba(0,0,0,0.5); */
  }
  page[size="reciet"] {  
    /* width: 22.86cm;
    height: 13.97cm;  */
    width: 21.86cm;
    height: 12.97cm; 
  }
  page[size="A4"] {  
    width: 21cm;
    /* height: 29.7cm;  */
    height: 28.7cm; 
  }
  page[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 20.8cm;  
  }
  page[size="A3"] {
    width: 29.7cm;
    height: 42cm;
  }
  page[size="A3"][layout="landscape"] {
    width: 42cm;
    height: 29.7cm;  
  }
  page[size="A5"] {
    width: 14.8cm;
    height: 21cm;
  }
  page[size="A5"][layout="landscape"] {
    width: 21cm;
    height: 14.8cm;  
  }
  page[footer="footer"]{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }

  @media print {
    body, page {
      margin: 0;
      box-shadow: 0;
    }
    #footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      /* margin-bottom: 35px; */
    }
  }
