<template>
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-wrench"></i> Perbaharui pendaftaran matakuliah</h1>
                <p>A free and open source Bootstrap 4 admin template</p>
            </div>
        </div>
        
        <div class="row" v-if="$can('special')">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <form class="row" @submit.prevent="findStudent()">
                            <div class="form-group col-md-2">
                                <label class="control-label">Tahun daftar</label>
                                <select v-model="searchForm.class" :class="{'is-invalid': searchForm.errors.has('class')}" 
                                    class="form-control" type="text" placeholder="Enter your name">
                                    <option value="">Pilih tahun daftar</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                </select>
                                <has-error :form="searchForm" field="class"></has-error>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label">Tahun pengajian</label>
                                <select v-model="searchForm.re_id" :class="{'is-invalid': searchForm.errors.has('re_id')}" 
                                    class="form-control" type="text" placeholder="Enter your email">
                                    <option value="">Pilih tahun pengajian</option>
                                    <option v-for="(register, index) in registers" :value="register.re_id" :key="index">{{register.re_term}}/{{register.re_year}}</option>
                                </select>
                                <has-error :form="searchForm" field="re_id"></has-error>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label">Pilih fakulti</label>
                                <select v-model="searchForm.ft_id" :class="{'is-invalid': searchForm.errors.has('ft_id')}"
                                    @change="getDepartmentInfo($event.target.value)" class="form-control" type="text" placeholder="Enter your email">
                                    <option value="">Fakulti</option>
                                    <option v-for="(faculty, index) in faculties" :value="faculty.ft_id" :key="index">{{faculty.ft_name}}</option>
                                </select>
                                <has-error :form="searchForm" field="ft_id"></has-error>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label">Pilih Jurusan</label>
                                <select v-model="searchForm.dp_id" :class="{'is-invalid': searchForm.errors.has('dp_id')}"  
                                    class="form-control" type="text" placeholder="Enter your email">
                                    <option v-for="(department, index) in departments" :value="department.dp_id" :key="index">{{department.dp_name}}</option>
                                </select>
                                <has-error :form="searchForm" field="dp_id"></has-error>
                            </div>
                            <div class="form-group col-md-4 align-self-end">
                                <button class="btn btn-primary" type="submit" :disabled="disabled"><i class="fa fa-fw fa-lg fa-search"></i>Search</button>
                            </div>
                        </form>
                        <h3 class="tile-title">Hasil carian</h3>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Bil</th>
                                    <th>NIM</th>
                                    <th>Nama Nasab</th>
                                    <th>Kelas yang daftar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(student, index) in students" :key="index">
                                    <td>{{index+1}}</td>
                                    <td>{{student.student.student_id}}</td>
                                    <td>{{student.student.firstname_rumi | upText}} {{student.student.lastname_rumi | upText}}</td>
                                    <td>{{student.sr_class}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <form class="row" @submit.prevent="updateStudentSubject()" v-show="updateForm">
                            <div class="form-group col-md-2">
                                <label class="control-label">Kelas</label>
                                <select v-model="formUpdate.ss_class" class="form-control" required>
                                    <option value="">Pilih kelas</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 align-self-end">
                                <button class="btn btn-primary" type="submit" :disabled="disabled"><i class="fa fa-fw fa-lg fa-save"></i>Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="tile mb-4" v-if="!$can('special')">
            <not-found></not-found>
        </div>

    </main>
</template>

<script>
    export default {
        mounted(){
            this.getFacultyInfo();
            this.getRegisterInfo();
        },
        data(){
            return{
                disabled: false,
                formUpdate: new Form({
                    ss_class: '',
                    class: '',
                    re_id: '',
                    ft_id: '',
                    dp_id: '',
                }),
                updateForm: false,
                students: [],
                departments: [],
                faculties: [],
                registers: [],
                students: [],
                searchForm: new Form({
                    class: '',
                    re_id: '',
                    ft_id: '',
                    dp_id: '',
                    sr_class: '',
                })
            }
        },
        methods:{
            updateStudentSubject(){
                this.$Progress.start();
                this.disabled = true;
                this.formUpdate.post('api/updateStudentSubject')
                    .then(response => {
                        //console.log(response);
                        this.disabled = false;
                        this.$Progress.finish();

                        toast.fire({
                            icon: 'success',
                            title: 'Data berhasil di perbaharui',
                        })

                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            },
            getDepartmentInfo(ft_id){
                axios.get('api/departmentAtFaculty/'+ft_id)
                    .then(response => {
                        this.departments = response.data;
                    })
            },
            getFacultyInfo(){
                axios.get('api/faculty')
                    .then(response => {
                        this.faculties = response.data;
                    })
                    .then(() => {

                    })
            },
            getRegisterInfo(){
                axios.get('api/bachelorRegisterInfo')
                    .then(response => {
                        this.registers = response.data;
                    })
                    .catch(() => {
                        
                    })
            },
            findStudent(){
                this.$Progress.start();
                this.disabled = true;
                this.searchForm.post('api/findStudentRegister')
                    .then(response => {
                        this.disabled = false;
                        this.students = response.data;
                        this.updateForm = true;
                        this.formUpdate.fill(this.searchForm);
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.disabled = false;
                        this.$Progress.fail();
                    })
            },
        }
    }
</script>