<template>
    <main class="app-content" v-if="$gate.isAdmin()">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-code"></i> Developer</h1>
                <p>Sistem pengurusan idarah JISDA</p>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <passport-clients></passport-clients>
                <passport-authorized-clients></passport-authorized-clients><br>
                <passport-personal-access-tokens></passport-personal-access-tokens>
            </div>
        </div>
    </main>
</template>