<template>
    <main class="app-content">
        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-users"></i> Pengguna</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- /.Page title -->
        <!-- Page body -->
        <!-- <div class="tile mb-4" v-if="$gate.isAdminOrRegistration()"> -->
        <div class="tile mb-4" v-if="$can('user')">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-3">
                            <div class="input-group float-left">
                                <input class="form-control" v-model="query" type="text" placeholder="Cari dengan kata kunci">
                                <div class="input-group-append"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                            </div>
                        </div>
                        <button class="btn btn-success float-right" @click="createUserModal()"><i class="fa fa-plus-circle"></i>Tambah</button>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NAMA NASAB</th>
                                <th>TELEPON</th>
                                <th>JENIS PENGGUNA</th>
                                <th>AKSI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(user, index) in users" :key="index">
                                <td>{{user.idcard}}</td>
                                <td>{{user.name | upText}} {{user.lastname | upText}}</td>
                                <td>{{user.telephone}}</td>
                                <td>
                                    <span v-if="user.type==1">Admin</span>
                                    <span v-if="user.type==2">Kewangan</span>
                                    <span v-if="user.type==3">Pendaftaran</span>
                                    <span v-if="user.type==4">Akademic</span>
                                    <span v-if="user.type==5">Pegawai fakultas</span>
                                </td>
                                <td>
                                    <button class="btn btn-warning" @click="updateModal(user)"><i class="fa fa-edit"></i>Ubah</button>    
                                </td>   
                            </tr>
                        </tbody>
                    </table>
                    <pagination
                        v-if="pagination.last_page > 1"
                        :pagination="pagination"
                        :offset="5"
                        @paginate="query === '' ? getUser() : searchData()"
                    ></pagination>
                </div>
            </div>
        </div>
        <!-- /.Page body -->
        <div class="tile mb-4" v-if="!$can('user')">
            <not-found></not-found>
        </div>
        
        <div class="modal fade" id="userModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 v-show="!editMode" class="modal-title">Tambah pengguna</h5>
                        <h5 v-show="editMode" class="modal-title">Ubah pengguna</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="editMode ? updateUser(): createUser()">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label class="col-form-label">Nama</label>
                                    <input v-model="userForm.name" :class="{ 'is-invalid': userForm.errors.has('name') }" 
                                    class="form-control">
                                    <has-error :form="userForm" field="name"></has-error>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label">Nasab</label>
                                    <input v-model="userForm.lastname" :class="{'is-invalid': userForm.errors.has('lastname')}"
                                    class="form-control" id="message-text">
                                    <has-error :form="userForm" field="lastname"></has-error>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label class="col-form-label">No. Identitas</label>
                                    <input type="text" v-model="userForm.idcard" :class="{'is-invalid': userForm.errors.has('idcard')}"
                                    class="form-control">
                                    <has-error :form="userForm" field="idcard"></has-error>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label">Telepon</label>
                                    <input type="text" v-model="userForm.telephone" :class="{'is-invalid': userForm.errors.has('telephone')}"
                                    class="form-control">
                                    <has-error :form="userForm" field="telephone"></has-error>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="" class="col-form-label">Email</label>
                                    <input type="text" v-model="userForm.email" :class="{'is-invalid': userForm.errors.has('email')}"
                                    class="form-control">
                                    <has-error :form="userForm" field="email"></has-error>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label">Jenis penguna</label>
                                    <select v-model="userForm.type" :class="{'is-invalid': userForm.errors.has('type')}"
                                    class="form-control">
                                        <option value="">Pilih jenis pengguna</option>
                                        <option value="1">Admin</option>
                                        <option value="2">Kewangan</option>
                                        <option value="3">Pendaftaran</option>
                                        <option value="4">Akademik</option>
                                        <option value="5">Pegawai fakultas</option>
                                    </select>
                                    <has-error :form="userForm" field="type"></has-error>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label class="col-form-label">Fakulti</label>
                                    <select class="form-control" v-model="userForm.ft_id" @change="getDepartment($event.target.value)">
                                        <option value="">Pilih fakulti</option>
                                        <option v-for="(faculty, index) in facultys" :value="faculty.ft_id" :key="index">{{faculty.ft_name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label">Jurusan</label>
                                    <select class="form-control" v-model="userForm.dp_id">
                                        <option v-for="(department, index) in departments" :value="department.dp_id" :key="index">{{department.dp_name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label class="col-form-label">Username</label>
                                    <input type="text" v-model="userForm.username" :class="{'is-invalid': userForm.errors.has('username')}"
                                    class="form-control">
                                    <has-error :form="userForm" field="username"></has-error>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label">Password</label>
                                    <input type="password" v-model="userForm.password" :class="{'is-invalid': userForm.errors.has('password')}"
                                    class="form-control">
                                    <has-error :form="userForm" field="password"></has-error>
                                </div>
                            </div>
                            <div class="form-row mt-3">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">BATAL</button>
                                    <button type="submit" :disabled="disabled" class="btn btn-primary float-right">SAVE</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
    </main>
</template>

<script>
    export default {
        mounted(){
            this.getUser();
            this.getFaculty();
        },
        data(){
            return{
                pagination:{
                    current_page: 1,
                },
                query: "",
                disabled: false,
                departments: [],
                facultys: [],
                editMode: false,
                users: [],
                userForm: new Form({
                    id: '',
                    name: '',
                    lastname: '',
                    idcard: '',
                    telephone: '',
                    type: '',
                    ft_id: '',
                    dp_id: '',
                    email: '',
                    username: '',
                    password: '',
                })
            }
        },
        watch: {
            query: function(){
                this.pagination.current_page = 1;
                if(this.query === "") {
                    //this.pagination.current_page = 1;
                    this.getUser();
                } else {
                    //this.pagination.current_page = 1;
                    this.searchData();
                }
            }
        },
        methods:{
            updateUser(){
                this.$Progress.start();
                this.disabled = true;
                this.userForm.put('api/user/'+this.userForm.id)
                    .then(response => {
                        this.disabled = false;
                        this.$Progress.finish();
                        this.getUser();
                        $("#userModal").modal("hide");

                        toast.fire({
                            icon: 'success',
                            title: 'Data berhasil di perbaharui'
                        })
                    })
                    .catch(() => {
                        this.disabled = false;
                        this.$Progress.fail();
                    })
            },
            updateModal(user){
                $('#userModal').modal("show");
                this.editMode = true;
                this.getDepartment(user.ft_id);
                this.userForm.fill(user);
            },
            searchData(){
                axios.get('api/findUser?q=' + this.query + '&page=' + this.pagination.current_page)
                    .then(response => {
                        this.users = response.data.data;
                        this.pagination = response.data;
                    })
                    .catch(() => {

                    })
            },
            createUser(){
                this.$Progress.start();
                this.disabled =true;
                this.userForm.post('api/user')
                    .then(response => {
                        this.disabled = false;
                        $("#userModal").modal('hide');
                        this.getUser();
                        
                        toast.fire({
                            icon: 'success',
                            title: 'Data berhasil di tambah'
                        })

                        this.$Progress.finish();
                    })  
                    .catch(() => {
                        this.disabled = false;
                        this.$Progress.fail();
                    })  
            },
            createUserModal(){
                $("#userModal").modal('show');
                this.userForm.reset();
                this.editMode = false;
            },
            getUser(){
                //if(this.$gate.isAdminOrRegistration()){
                    this.$Progress.start();
                    axios.get('api/user?page='+this.pagination.current_page)
                        .then(response => {
                            this.users = response.data.data;
                            this.pagination = response.data;
                            this.$Progress.finish();
                        })
                        .catch(() => {
                            this.$Progress.fail();
                        })
                //}
            },
            getDepartment(ft_id){
                axios.get('api/departmentAtFaculty/'+ft_id)
                    .then(response => {
                        this.departments = response.data;
                        let departmentLength = response.data.length;
                        if(departmentLength == '0'){
                            this.userForm.dp_id = null;
                        }
                    })
                    .catch(() => {

                    })
            },
            getFaculty(){
                axios.get('api/faculty')
                    .then(response => {
                        this.facultys = response.data;
                    })
                    .catch(() => {

                    })
            }

        },
    }
</script>