<template>
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-bar-chart"></i> Laporan kehadiran mahasiswa</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        
        <div class="row" v-if="$can('student_attendance')">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <form class="row" @submit.prevent="findStudent()">
                            <div class="form-group col-md-2">
                                <label class="control-label">Kelas</label>
                                <select v-model="searchForm.sr_class" class="form-control" required>
                                    <option value="">Pilih Kelas</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="" class="control-label">Semester/tahun</label>
                                <select v-model="searchForm.re_id" class="form-control" required>
                                    <option value="">Pilih semester</option>
                                    <option v-for="(register, index) in registers" :key="index" :value="register.re_id">{{register.re_term}}/{{register.re_year}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="" class="coltrol-label">Fakulti</label>
                                <select v-model="searchForm.ft_id" class="form-control" @change="getDepartment($event.target.value)" required>
                                    <option value="">Pilih fakulti</option>
                                    <option v-for="(faculty, index) in facultys" :key="index"  :value="faculty.ft_id">{{faculty.ft_name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="" class="control-label">Jurusan</label>
                                <select v-model="searchForm.dp_id" class="form-control">
                                    <option v-for="(department, index) in departments" :key="index" :value="department.dp_id">{{department.dp_name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 align-self-end">
                                <button class="btn btn-primary" type="submit" :disabled="disabled"><i class="fa fa-fw fa-lg fa-search"></i>Cari</button>
                            </div>
                        </form>
                        <h3 class="tile-title">Hasil carian</h3>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Bil</th>
                                    <th>NIM</th>
                                    <th>Nama Nasab</th>
                                    <th>Tidak hadir</th>
                                    <th>Tidak hadir (Berlaku perkuliahan : {{totalStudyDate}} kali)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(student, index) in students" :key="index">
                                    <td><!--{{student.sr_id}}--> {{index+1}}</td>
                                    <td>{{student.student_id}}</td>
                                    <td>{{student.firstname_rumi | upText}} {{student.lastname_rumi | upText}}</td>
                                    <td>{{student.totalAbsent}}</td>
                                    <td>
                                        <div class="bs-component">
                                            <div class="progress mb-2">
                                                <div class="progress-bar bg-danger" role="progressbar" :style="{'width': student.absentPercent+'%'}" :aria-valuenow="student.totalAbsent" aria-valuemin="0" :aria-valuemax="student.totalAbsent"></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="tile mb-4" v-if="!$can('student_attendance')">
            <not-found></not-found>
        </div>

    </main>
</template>

<script>
    export default {
        mounted(){
            this.getFaculty();
            this.getRegister();
        }, 
        data(){
            return{
                totalStudyDate: '...',
                students: [],
                disabled: false,
                registers: '',
                departments: '',
                facultys: '',
                searchForm: new Form({
                    sr_class: '',
                    re_id: '',
                    ft_id: '',
                    dp_id: '',
                })
            }
        },
        methods:{
            findStudent(){
                this.$Progress.start();
                this.disabled = true;
                this.searchForm.post('api/findStudentRegisterAtClass')
                    .then(response => {
                        this.students = response.data.studentWithAbsent;
                        this.totalStudyDate = response.data.totalStudyDate;
                        this.disabled = false;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.disabled = false;
                        this.$Progress.fail();
                    })
            },
            getRegister(){
                axios.get('api/bachelorRegisterInfo')
                    .then(response => {
                        this.registers = response.data;
                    })
                    .catch(() => {

                    })
            },
            getDepartment(dp_id){
                axios.get('api/departmentAtFaculty/'+dp_id)
                    .then(response => {
                        this.departments = response.data;
                        this.searchForm.dp_id = '0';
                    })
                    .then(() => {

                    })
            },
            getFaculty(){
                axios.get('api/faculty')
                    .then(response => {
                        this.facultys = response.data;
                    })  
                    .catch(() => {

                    })      
            }
        },
    }
</script>