<template>
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-bar-chart"></i> Senarai ketua kelas</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
    </main>
</template>