<template>
    <main class="app-content">
        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-print"></i> Print & Export - Mahasiswa</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- /.Page title -->

        <!-- body -->
        <div class="tile mb-4" v-if="$can('export_student_classroom')">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-12">
                    <h2 class="mb-3 line-head" id="buttons">senarai nama mahasiswa</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>KELAS</td>
                                <td>TARBIAH - PAI</td>
                                <td>TARBIAH - PBSM</td>
                                <td>SYARIAH</td>
                                <td>USULUDDIN</td>
                                <td>DIRASAT</td>
                                <td>DAKWAH - MD</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in classList" :key="index">
                                <td>{{item.class}}</td>
                                <td align="center">
                                    <button class="btn btn-secondary btn-sm" @click="showStudent(item.year,'121','22',item.class)"><i class="fa fa-print"></i> print</button>
                                    <button class="btn btn-secondary btn-sm" @click="excellExport(item.year,'121','22',item.class)"><i class="fa fa-file-excel-o"></i> exell</button>
                                </td>
                                <td align="center">
                                    <button class="btn btn-secondary btn-sm" @click="showStudent(item.year,'121','23',item.class)"><i class="fa fa-print"></i> print</button>
                                    <button class="btn btn-secondary btn-sm" @click="excellExport(item.year,'121','23',item.class)"><i class="fa fa-file-excel-o"></i> exell</button>
                                    
                                </td>
                                <td align="center">
                                    <button class="btn btn-secondary btn-sm" @click="showStudent(item.year,'122','0',item.class)"><i class="fa fa-print"></i> print</button>
                                    <button class="btn btn-secondary btn-sm" @click="excellExport(item.year,'122','0',item.class)"><i class="fa fa-file-excel-o"></i> exell</button>
                                </td>
                                <td align="center">
                                    <button class="btn btn-secondary btn-sm" @click="showStudent(item.year,'123','0',item.class)"><i class="fa fa-print"></i> print</button>
                                    <button class="btn btn-secondary btn-sm" @click="excellExport(item.year,'123','0',item.class)"><i class="fa fa-file-excel-o"></i> exell</button>
                                </td>
                                <td align="center">
                                    <button class="btn btn-secondary btn-sm" @click="showStudent(item.year,'124','0',item.class)"><i class="fa fa-print"></i> print</button>
                                    <button class="btn btn-secondary btn-sm" @click="excellExport(item.year,'124','0',item.class)"><i class="fa fa-file-excel-o"></i> exell</button>
                                </td>
                                <td align="center">
                                    <button class="btn btn-secondary btn-sm" @click="showStudent(item.year,'125','28',item.class)"><i class="fa fa-print"></i> print</button>
                                    <button class="btn btn-secondary btn-sm" @click="excellExport(item.year,'125','28',item.class)"><i class="fa fa-file-excel-o"></i> exell</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>    
                </div>
            </div>
        </div>
        <!-- \.body -->

        <!-- Student Modal -->
        <div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nama mahasiswa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <button @click="print()" class="btn btn-success mb-3"><i class="fa fa-print"></i> print</button>
                    <div class="float-right font-amiri">
                        {{classLevel}}  {{faculty}} {{department}}
                    </div>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>Bil</td>
                                <td>NIM</td>
                                <td>Nama-Nasab</td>
                                <td class="font-amiri">نام نسب</td>
                                <td class="font-amiri">نمبر ڤوكؤ</td>
                                <td>بيل</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in students" :key="index">
                                <td>{{index+1}}</td>
                                <td align="center">{{item.student_id}}</td>
                                <td>{{item.firstname_rumi}} {{item.lastname_rumi}}</td>
                                <td align="right" class="font-amiri">{{item.firstname_jawi}} {{item.lastname_jawi}}</td>
                                <td align="center">{{item.student_id}}</td>
                                <td>{{index+1}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                </div>
                </div>
            </div>
        </div>
        <!-- \.Student Modal -->

        <!-- PRINT -->
        <div id="documentPrint"  style="display: none">
            
            <page size="A4">
                <table class="font-amiri-header" width="100%">
                    <tr>
                        <td align="center"><b>جامعة الشيخ داود الفطاني الإسلامية - جالا</b></td>
                    </tr>
                    <tr>
                        <td align="center"> {{faculty}} {{department}}</td>
                    </tr>
                    <tr>
                        <td align="center">كلس {{classLevel}}</td>
                    </tr>
                </table>
                <table width="100%" id="muqaddimah" class="font-amiri-small">
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                            <td align="center">نسب</td>
                            <td align="center">نام </td>
                            <td align="center">نمبر ڤوكؤ</td>
                            <td align="center">بيل</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in students" :key="index" style="line-height: 14px;">
                            <td></td>
                            <td></td>
                            <td width="13%" align="right">{{item.lastname_jawi}}</td>
                            <td width="13%" align="right">{{item.firstname_jawi}}</td>
                            <td width="10%" align="center">{{item.student_id}}</td>
                            <td width="5%">{{index+1}}</td>
                        </tr> 
                    </tbody>   
                </table>  
                <table>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="left" class="font-amiri-small">
                            {{printDate}} تاريخ چيتق
                        </td>
                    </tr>
                </table>
            </page>

        </div>
        <!-- \.PRINT -->

        <!-- not found -->
        <div class="tile mb-4" v-if="!$can('export_student_classroom')">
            <not-found></not-found>
        </div>
        <!-- \.not found -->

    </main>
</template>

<script>
    import XLSX from 'xlsx' // import xlsx
    export default {
        mounted(){
            this.currentClassList();
        },  
        data(){
            return{
                printDate: '',
                classLevel: '',
                faculty: '',
                department: '',
                students: [],
                classList: [],
            }
        },
        methods:{
            excellExport(year,ft_id,dp_id,level){
                this.$Progress.start();
                axios.post('api/studentClassroomExell',{
                    'class': level,
                    'year': year,
                    'ft_id': ft_id,
                    'dp_id': dp_id,
                })
                    .then(response => {
                        this.students = response.data.students;
                        const dataWS = XLSX.utils.json_to_sheet(this.students)
                        const wb = XLSX.utils.book_new()
                        XLSX.utils.book_append_sheet(wb, dataWS)
                        XLSX.writeFile(wb,response.data.ft_name+' '+response.data.dp_short_name+' '+response.data.class+'.xlsx') 

                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            },
            print(){
                this.$htmlToPaper('documentPrint');
            },
            showStudent(year,ft_id,dp_id,level){
                this.$Progress.start();
                axios.post('api/studentClassroom', {
                    'class': level,
                    'year': year,
                    'ft_id': ft_id,
                    'dp_id': dp_id,
                })
                .then(r => {
                    $("#studentModal").modal("show");
                    this.students = r.data.students;
                    this.classLevel = r.data.class;
                    this.faculty = r.data.faculty;
                    this.department = r.data.department;
                    this.printDate = r.data.print_date;
                    this.$Progress.finish();
                })
                .catch(() => {
                    this.$Progress.fail();
                })
            },
            currentClassList(){
                axios.get('api/currentClassList')
                    .then(r => {
                        this.classList = r.data;
                    })
                    .catch(() => {

                    })
            }
        }
    }
</script>