<template>
    <main class="app-content">
        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-registered"></i> Penerimaan baru - Daftar calon</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- /.Page title -->
        <!-- Page body -->
        <div class="tile mb-4" v-if="$can('admission')">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-3">
                            <div class="input-group float-left">
                                <input class="form-control" v-model="query" type="text" placeholder="kata kunci">
                                <div class="input-group-append"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                            </div>
                        </div>
                        <!-- <button class="btn btn-success float-right"><i class="fa fa-plus-circle"></i>Tambah</button> -->
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><b>No Dafatr</b></th>
                                <th><b>Nama-Nasab</b></th>
                                <th class="font-amiri"><b>ناما - نسب</b></th>
                                <th><b>Kad pengenalan</b></th>
                                <th><b>Bilik | Kursi</b></th>
                                <th>Daftar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(student, index) in students" :key="index">
                                <th>{{student.regNumber}}</th>
                                <th>{{student.student.firstname_rumi}} {{student.student.lastname_rumi}}</th>
                                <th class="font-amiri">{{student.student.firstname_jawi}} {{student.student.lastname_jawi}}</th>
                                <th>{{student.student.cityzen_id}}</th>
                                <th><span v-if="student.testClass!=null">{{student.testClass}} | {{student.testNumber}}</span></th>
                                <th><button @click="confirmingRegister(student.pre_id,student.student.st_id)" class="btn btn-warning"> Daftar</button></th>    
                            </tr>
                        </tbody>
                    </table>   
                    <pagination
                        v-if="pagination.last_page > 1"
                        :pagination="pagination"
                        :offset="5"
                        @paginate="query === '' ? loadStudent() : searchData()"
                    ></pagination>
                </div>
            </div>
        </div>

        <div class="tile mb-4" v-if="!$can('admission')">
            <not-found></not-found>
        </div>

    </main>
</template>

<script>
    export default {
        mounted(){
            this.loadStudent();
        },   
        data(){
            return{
                students: [],
                // pagination:{
                //     current_page: 1,
                // },
                query: '',
                pagination:{
                    current_page: 1,
                },
            }
        },
        watch: {
            query: function(){
                if(this.query === ""){
                    this.loadStudent();
                }else{
                    this.searchData();
                }
            }
        },
        methods: {
            confirmingRegister(pre_id,st_id){
                this.$router.push({name:'confirmingRegister',params:{pre_id:pre_id,st_id:st_id}})
            },
            searchData: _.debounce(() => {
                 fire.$emit('searching');
            },1000),
            loadStudent(){
                this.$Progress.start();
                axios.get('api/pretest?page='+this.pagination.current_page)
                    .then(response => {
                        this.students = response.data.data;
                        this.pagination = response.data;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            },
        },
        created: function(){
            fire.$on('searching', () => {
                this.$Progress.start();
                axios.get('api/findPretest?q=' + this.query + '&page=' + this.pagination.current_page)
                    .then(response => {
                        this.students = response.data.data;
                        this.pagination = response.data;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            })
        }
    }
</script>
