<template>
    <main class="app-content">
        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-registered"></i> Penerimaan baru - Laporan</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- /.Page title -->

        <!-- header info -->
        <div class="row" v-if="$can('admission')">
            <div class="col-md-6 col-lg-3">
                <div class="widget-small info coloured-icon"><i class="icon fa fa-users fa-3x"></i>
                    <div class="info">
                    <h4>Online</h4>
                    <p><b>{{totalRegister}}</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
                    <div class="info">
                    <h4>Calon</h4>
                    <p><b>{{totalConfirm}}</b></p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6 col-lg-3">
                <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
                    <div class="info">
                    <h4>Transfer</h4>
                    <p><b>{{totalTransfer}}</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-small primary coloured-icon"><i class="icon fa fa-money fa-3x"></i>
                    <div class="info">
                    <h4>Muqaddimah</h4>
                    <p><b>{{totalMuqaddimah}}</b></p>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- /.header info -->

        <!-- Faculty statistic -->
            <div class="row" v-if="$can('admission')">
                <div class="col-md-6">
                    <div class="tile">
                        <h3 class="tile-title">Statistic pilihan pertama</h3> 
                        <div class="tile-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Fakulti / Jurusan</th>
                                        <th>Lelaki</th>
                                        <th>Perempuan</th>
                                        <th>Semua</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(firstSelectStatistic,index) in firstSelectStatistics" :key="index">
                                        <td>{{index+1}}</td>
                                        <td>{{firstSelectStatistic.faculty}} <span v-if="firstSelectStatistic.department!=''">-</span> {{firstSelectStatistic.department}}</td>
                                        <td>{{firstSelectStatistic.maleSelectFirst}}</td>
                                        <td>{{firstSelectStatistic.femaleSelectFirst}}</td>
                                        <td>{{firstSelectStatistic.sumSelectFirst}}</td>
                                    </tr>
                                </tbody>
                            </table> 
                        </div> 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tile">
                        <h3 class="tile-title">Statistic pilihan kedua</h3> 
                        <div class="tile-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Fakulti / Jurusan</th>
                                        <th>Lelaki</th>
                                        <th>Perempuan</th>
                                        <th>Semua</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(secondSelectStatistic,index) in secondSelectStatistics" :key="index">
                                        <td>{{index+1}}</td>
                                        <td>{{secondSelectStatistic.faculty}} <span v-if="secondSelectStatistic.department!=''">-</span> {{secondSelectStatistic.department}}</td>
                                        <td>{{secondSelectStatistic.maleSelectSecond}}</td>
                                        <td>{{secondSelectStatistic.femaleSelectSecond}}</td>
                                        <td>{{secondSelectStatistic.sumSelectSecond}}</td>
                                    </tr>
                                </tbody>
                            </table>    
                        </div> 
                    </div>
                </div>
            </div>
        <!-- Faculty statistic -->

        <!-- Map statistic -->
        <!-- <div class="tile mb-4">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Map</h1>   
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <longdo-map class="map">
                        <longdo-map-marker             
                            v-for="(item, i) in markers"             
                            :key="i"             
                            :location="item.location"
                            :title="item.title"             
                            :detail="item.detail"     
                        /> 
                    </longdo-map>
                </div>
            </div>
        </div> -->
        <!-- /.Map statistic -->

    </main>
</template>

<script>
export default {
    mounted(){
        this.loadRegisterStatistic();
        this.loadCountRegister();
    },
    data() {
        return {
            secondSelectStatistics: [],
            firstSelectStatistics: [],
            totalRegister: '...',
            totalConfirm: '...',
            totalTransfer: '...',
            totalMuqaddimah: '...',
            markers: [
                {
                    location: { lon: 100.58, lat: 13.761 },
                    title: "Vue Marker",
                    detail: "This is a detail"
                }
            ]
        };
    },
    methods: {
        loadRegisterStatistic(){
            axios.get('api/admissionRegisterStatistic')
                .then(response => {
                    this.firstSelectStatistics = response.data.first;
                    this.secondSelectStatistics = response.data.second;
                })
                .catch(() => {

                })
        },
        loadCountRegister(){
            axios.get('api/countRegister')
                .then(response => {
                    this.totalRegister = response.data.totalRegister;
                    this.totalConfirm = response.data.totalConfirm;
                    this.totalTransfer = response.data.totalTransfer;
                    this.totalMuqaddimah = response.data.totalMuqaddimah;
                })
                .catch(() => {

                })
        }
    }
 }
</script>

<style>
    .map{
        height: 500px !important;
    }
</style>
