<template>
    <main class="app-content">
        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-registered"></i> Penerimaan baru - Print & Export</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- /.Page title -->
        
        <!-- Page body -->
        <div class="row mt-4" v-if="$can('admission')">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                        Print & Export
                    </a>
                    <a href="#" class="list-group-item list-group-item-action"><router-link to="/admissionDocumentHome"> calon untuk ujian</router-link></a>
                    <a href="#" class="list-group-item list-group-item-action"><router-link to="/admissionDocumentBiodata">Biodata calon</router-link></a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="tile">
                    <h3 class="tile-title">Lelaki</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>BILIK</th>
                                <th>JUMLAH (ORANG)</th>
                                <th>PRINT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(male,index) in maleTestRooms" :key="index">
                                <td>{{male.room_name}}</td>
                                <td>{{male.count}}</td>
                                <td>
                                    <button class="btn btn-success" @click="admissionPretestStudent(male.room_id)"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-5">
                <div class="tile">
                    <h3 class="tile-title">Perempuan</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>BILIK</th>
                                <th>JUMLAH (ORANG)</th>
                                <th>PRINT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(female,index) in femaleTestRooms" :key="index">
                                <td>{{female.room_name}}</td>
                                <td>{{female.count}}</td>
                                <td>
                                    <button class="btn btn-success" @click="admissionPretestStudent(female.room_id)"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.Page body -->

        <div class="tile mb-4" v-if="!$gate.isAdminOrRegistration()">
            <not-found></not-found>
        </div>

    </main>
</template>

<script>
    import XLSX from 'xlsx' // import xlsx

    export default {
        mounted(){
            this.loadTestRoom();  
        },   
        data(){
            return{
                // ข้อมูล JSON ทีต้องการ Export
                students : [],
                maleTestRooms: [],
                femaleTestRooms: [],
            }    
        },
        watch: {
            
        },
        methods: {
            admissionPretestStudent(atr_id){
                this.$Progress.start();
                axios.get('api/admissionPretestStudent/'+atr_id)
                    .then(response => {
                        this.students = response.data.studentList;
                        const dataWS = XLSX.utils.json_to_sheet(this.students)
                        const wb = XLSX.utils.book_new()
                        XLSX.utils.book_append_sheet(wb, dataWS)
                        XLSX.writeFile(wb,'Bilik '+response.data.room+'.xlsx')    

                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            },
            // เมื่อกดปุ่มจะทำการสร้างไฟล์ xcel ด้วย xlsx
            // onExport() {
            //     const dataWS = XLSX.utils.json_to_sheet(this.json)
            //     const wb = XLSX.utils.book_new()
            //     XLSX.utils.book_append_sheet(wb, dataWS)
            //     XLSX.writeFile(wb,'export.xlsx')
            // },
            download(room_id){
                axios.get('api/pretestRoomDownload')
                    .then(response => {

                    })
                    .catch(() => {

                    })
            },
            loadTestRoom(){
                axios.get('api/admissionTestRoomPretest')
                    .then(response => {
                        this.maleTestRooms = response.data.male;
                        this.femaleTestRooms = response.data.female;
                    })
                    .catch(() => {

                    })
            },   
        },
        created: function(){
            
        }
    }
</script>
