<template>
    <main class="app-content">
        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-registered"></i> Penerimaan baru - Print & Export</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- /.Page title -->
        
        <!-- Page body -->
        <div class="row mt-4" v-if="$can('admission')">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                        Print & Export
                    </a>
                    <a href="#" class="list-group-item list-group-item-action"><router-link to="/admissionDocumentHome"> calon untuk ujian</router-link></a>
                    <a href="#" class="list-group-item list-group-item-action"><router-link to="/admissionDocumentBiodata">Biodata calon</router-link></a>
                    <a href="#" class="list-group-item list-group-item-action"><router-link to="/admissionDocumentSchool">Senarai sekolah calon</router-link></a>
                </div>
            </div>
        </div>
        <!-- /.Page body -->

        <div class="tile mb-4" v-if="!$can('admission')">
            <not-found></not-found>
        </div>

    </main>
</template>

<script>
    export default {
        mounted(){
            
        },   
        data(){
            return{

            }    
        },
        watch: {
            
        },
        methods: {
            
        },
        created: function(){
            
        }
    }
</script>
