<template>
    <main class="app-content">
        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-registered"></i> Penerimaan baru - Tetapan</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- /.Page title -->
        
        <!-- Page body -->
        <div class="row" v-if="$can('admission')">
            <div class="col-lg-6">
                <div class="tile mb-4">
                    <div class="tile-title-w-btn">
                        <h3 class="title">Penetapan Informasi Penerimaan</h3>
                        <p><a @click="addForm()" class="btn btn-primary icon-btn" href="#"><i class="fa fa-plus"></i> Tambah</a></p>
                    </div>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Tahun</th>
                                <th>Status</th>
                                <th>Tarikh</th>
                                <th>Pengubah</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(admissionRegister,index) in admissionRegisters" :key="index">
                                <td>{{admissionRegister.ar_year}}</td>
                                <td>
                                    <span v-if="admissionRegister.status == '1'">Buka</span>
                                    <span v-if="admissionRegister.status == '2'">Tutup</span>
                                </td>
                                <td>{{admissionRegister.ar_start_date | thaiDate}} - {{admissionRegister.ar_end_date | thaiDate}}</td>
                                <td>{{admissionRegister.name | upText}} {{admissionRegister.lastname | upText}}</td>
                                <td><button @click="editForm(admissionRegister)" class="btn btn-warning" type="button"><i class="fa fa-edit"></i> Ubah</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination
                        v-if="pagination.last_page > 1"
                        :pagination="pagination"
                        :offset="5"
                        @paginate="query === '' ? loadAdmissionRegister() : searchData()"
                    ></pagination>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="tile mb-4">
                    <div class="tile-title-w-btn">
                        <h3 class="title">Bilik ujian</h3>
                        <p><a @click="testRoomModal()" class="btn btn-primary icon-btn" href="#"><i class="fa fa-plus"></i> Tambah</a></p>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Lelaki</th>
                                <th>Perempuan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <table class="table">
                                        <tr v-for="(item, index) in maleRooms" :key="index">
                                            <td width="50%">{{item.room_name}}</td>
                                            <td width="50%" align="right">
                                                <button @click="deleteRoom(item.id)" class="btn btn-danger icon-btn btn-sm" href="#"><i class="fa fa-trash"></i> Hapus</button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table class="table">
                                        <tr v-for="(item, index) in femaleRooms" :key="index">
                                            <td width="50%">{{item.room_name}}</td>
                                            <td width="50%" align="right">
                                                <button @click="deleteRoom(item.id)" class="btn btn-danger icon-btn btn-sm" href="#"><i class="fa fa-trash"></i> Hapus</button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="tile mb-4" v-if="!$can('admission')">
            <not-found></not-found>
        </div>

        <!-- form informasi penerimaan -->
        <div class="modal fade" id="admissionRegisterForm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel" v-show="!editMode">Tambah</h5>
                        <h5 class="modal-title" id="staticBackdropLabel" v-show="editMode">Perbaharui</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="editMode ? updateRegister(): addRegister()">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">Tahun</label>
                                    <input type="text" v-model="form.ar_year" :class="{'is-invalid': form.errors.has('ar_year')}" class="form-control" placeholder="Tahun">
                                    <has-error :form="form" field="ar_year"></has-error>
                                </div>
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">Status</label>
                                    <select v-model="form.status" :class="{'is-invalid': form.errors.has('status')}" class="form-control">
                                        <option value="">Pilih status</option>
                                        <option value="1">Buka</option>
                                        <option value="2">Tutub</option>
                                    </select>
                                    <has-error :form="form" field="status"></has-error>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label>Bermula</label>
                                    <input type="date" v-model="form.ar_start_date" :class="{'is-invalid': form.errors.has('ar_start_date')}" class="form-control">
                                    <has-error :form="form" field="ar_start_date"></has-error>
                                </div>
                                <div class="col-md-6">
                                    <label>Berakhir</label>
                                    <input type="date" v-model="form.ar_end_date" :class="{'is-invalid': form.errors.has('ar_end_date')}" class="form-control">
                                    <has-error :form="form" field="ar_end_date"></has-error>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="">Harga daftar</label>
                                    <input type="text" v-model="form.ar_register_cost" :class="{'is-invalid': form.errors.has('ar_register_cost')}" class="form-control">
                                    <has-error :form="form" field="ar_register_cost"></has-error>
                                </div>
                                <div class="col-md-6">
                                    <label for="">Harga muqaddimah</label>
                                    <input type="text" v-model="form.ar_muqaddimah_cost" :class="{'is-invalid': form.errors.has('ar_muqaddimah_cost')}" class="form-control">
                                    <has-error :form="form" field="ar_muqaddimah_cost"></has-error>
                                </div>
                            </div>
                             <button type="button" class="btn btn-secondary mt-3" data-dismiss="modal">Batal</button>
                             <button type="submit" v-show="!editMode" :disabled="disabled" class="btn btn-primary mt-3 float-right">Save</button>
                             <button type="submit" v-show="editMode" :disabled="disabled" class="btn btn-primary mt-3 float-right">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.form informasi penerimaan -->

        <!-- form informasi penerimaan -->
        <div class="modal fade" id="admissionTestRoomForm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Tambah bilik</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="createRoom()">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">Nama bilik</label>
                                    <input type="text" v-model="roomForm.room_name" :class="{'is-invalid': roomForm.errors.has('room_name')}" class="form-control" placeholder="Nama bilik">
                                    <has-error :form="roomForm" field="room_name"></has-error>
                                </div>
                                <div class="col-md-6">
                                    <label for="">Jenis kelamin</label>
                                    <select v-model="roomForm.room_gender" :class="{'is-invalid': roomForm.errors.has('room_gender')}" class="form-control">
                                        <option value="" style="display:none">Pilih jenis kelamin</option>
                                        <option value="1">Lelaki</option>
                                        <option value="2">Perempuan</option>
                                    </select>
                                    <has-error :form="roomForm" field="room_gender"></has-error>
                                </div>
                            </div>
                            <div class="form-row mt-3">
                                <div class="col-md-12">
                                    <label for="">Catatan</label>
                                    <textarea v-model="roomForm.room_description" :class="{'is-invalid': roomForm.errors.has('room_description')}" rows="10" class="form-control"></textarea>
                                </div>
                            </div>

                            <button type="button" class="btn btn-secondary mt-3" data-dismiss="modal">Batal</button>
                             
                            <button type="submit" :disabled="disabled" class="btn btn-primary mt-3 float-right">Save</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.form informasi penerimaan -->

    </main>
</template>

<script>
    export default {
        mounted(){
            this.loadAdmissionTestRoom();
            this.loadAdmissionRegister();
        },
        data(){
            return{
                roomForm: new Form({
                    room_name:'',
                    room_gender: '',
                    room_description: '',
                }),
                atr_id: '',
                maleRooms: [],
                femaleRooms: [],
                disabled: false,
                editMode: false,
                form: new Form({
                    id: '',
                    ar_year: '',
                    ar_start_date: '',
                    ar_end_date: '',
                    status: '',
                    ar_register_cost: '',
                    ar_muqaddimah_cost: '',
                }),
                query: '',
                pagination:{
                    current_page: 1,
                },
                admissionRegisters: [],
            }
        },
        watch:{
            query: function(){
                if(this.query === ""){
                    this.loadAdmissionRegister();
                }else{
                    this.searchData();
                }
            }
        },
        methods:{
            createRoom(){
                this.disabled = true;
                this.$Progress.start();
                this.roomForm.post('api/admissionTestRoom')
                    .then(r => {
                        this.loadAdmissionTestRoom();
                        this.disabled = false;
                        this.$Progress.finish();

                        toast.fire({
                            icon: 'success',
                            title: 'data berhasil di tambah',
                        })

                    })
                    .catch(() => {
                        this.disabled = false;
                        this.$Progress.fail();
                    })
            },
            testRoomModal(){
                $("#admissionTestRoomForm").modal();
            },
            deleteRoom(id){
                this.atr_id = id;
                swal.fire({
                    title: 'Anda pasti untuk menghapus ?',
                    input: 'password',
                    inputAttributes: {
                        'maxlength': 10,
                        'autocapitalize': 'off',
                        'autocorrect': 'off'
                    }
                    }).then(function(password,id){
                        if(password.value === "") {
                            toast.fire({
                                icon: 'warning',
                                title: 'Password salah'
                            })
                        }else if(password.value === "jisda"){
                            fire.$emit('confirmDelete');
                        }else{
                            toast.fire({
                                icon: 'warning',
                                title: 'Password salah'
                            })
                        }
                })
            },
            loadAdmissionTestRoom(){
                axios.get('api/admissionTestRoom')
                    .then(r => {
                        this.maleRooms = r.data.filter(r => r.room_gender == 1)
                        this.femaleRooms =  r.data.filter(r => r.room_gender == 2)
                    })
                    .catch(() => {

                    })
            },
            updateRegister(){
                this.$Progress.start();
                this.disabled = true;
                this.form.put('api/admissionRegister/'+this.form.id)
                    .then(r => {
                        toast.fire({
                            icon: 'success',
                            title: 'Data berhasil di perbaharui'
                        });
                        this.disabled = false;
                        this.loadAdmissionRegister();
                        this.$Progress.finish();   
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            },
            addRegister(){
                this.$Progress.start();
                this.disabled = true;
                this.form.post('api/admissionRegister')
                    .then(response => {
                        this.loadAdmissionRegister();
                        $("#admissionRegisterForm").modal("hide");
                        this.disabled = false;

                        toast.fire({
                            icon: 'success',
                            title: 'Data berhasil di tambah'
                        })

                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.disabled = false;
                        this.$Progress.fail();
                    })
            },
            addForm(){
                $("#admissionRegisterForm").modal("show");
                this.editMode = false;
                this.form.reset();
            },
            editForm(admissionRegister){
                $("#admissionRegisterForm").modal("show");
                this.editMode = true;
                this.form.fill(admissionRegister);
            },
            searchData: _.debounce(() =>{
                fire.$emit('searching');
            },1000),
            loadAdmissionRegister(){
                this.$Progress.start();
                axios.get('api/admissionRegister?page=' + this.pagination.current_page)
                    .then(response => {
                        this.admissionRegisters = response.data.data;
                        this.pagination = response.data;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            },
        },
        created: function(){
            fire.$on('confirmDelete', () => {
                axios.delete('api/admissionTestRoom/'+this.atr_id)
                    .then(r => {
                        toast.fire({
                            icon: 'warning',
                            title: 'Data berhasil di hapus',
                        });
                        this.loadAdmissionTestRoom();
                    })
                    .catch((e) => {
                        //console.log(e);
                        toast.fire({
                            icon: 'warning',
                            title: 'Tidak dapat menghapus data !'
                        })
                    })
            })
        }
    }   
</script>