<template>
    <main class="app-content">
        
        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-registered"></i> Penerimaan baru - Calon mahasiswa</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- /.Page title -->
        
        <!-- Page body -->
        <div class="tile mb-4" v-if="$can('admission')">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-12">
                        {{pretestForm.payStatus}}
                        <router-link to="/admissionList">
                            <button class="btn btn-primary float-right"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
                        </router-link>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <form @submit.prevent="updateRegisterForm()">
                        <div class="bs-component">
                            <div class="card">
                                <h4 class="card-header">
                                    Borang pendaftaran {{pretestForm.std_photo}}
                                </h4>
                                <div class="card-body">
                                    <fieldset>
                                        <legend>Gambar 
                                            <button @click="takePhoto(pre_id,st_id)" class="btn btn-success btn-sm"><i class="fa fa-camera" aria-hidden="true"></i> Camera</button>
                                        </legend>

                                        <img class="img-thumbnail" :src="pretestForm.std_photo" width="200px" height="280px">
                                        <!-- <img class="img-thumbnail" width="200px" height="280px"> -->

                                        <legend class="mt-3">Bahagian 1 : Biodata</legend>
                                        
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <label class="col-form-label">No. Identitas</label>    
                                                <input type="text" v-model="form.cityzen_id" class="form-control"
                                                :class="{'is-invalid': form.errors.has('cityzen_id')}">
                                                <has-error :form="form" field="cityzen_id"></has-error>
                                            </div>    
                                        </div> 
                                        <div class="form-row mt-3">
                                            <div class="col-md-6">
                                                <label for="exampleInputPassword1">Nama</label>
                                                <input type="text"  v-model="form.firstname_rumi" :class="{'is-invalid': form.errors.has('firstname_rumi')}"
                                                class="form-control" placeholder="Nama tulisan rumi">
                                                <has-error :form="form" field="firstname_rumi"></has-error>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="exampleInputPassword1">Nasab</label>
                                                <input type="text" v-model="form.lastname_rumi" :class="{'is-invalid': form.errors.has('lastname_rumi')}"
                                                class="form-control" placeholder="Nasab tulisan rumi">
                                                <has-error :form="form" field="lastname_rumi"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-row mt-3">
                                            <div class="col-md-6">
                                                <label for="exampleInputPassword1">ชื่อ</label>
                                                <input type="text" v-model="form.t_studentname" :class="{'is-invalid': form.errors.has('t_studentname')}"
                                                class="form-control" placeholder="ชื่อภาษาไทย">
                                                <has-error :form="form" field="t_studentname"></has-error>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="exampleInputPassword1">นามสกุล</label>
                                                <input type="text" v-model="form.t_studentlastname" :class="{'is-invalid': form.errors.has('t_studentlastname')}"
                                                class="form-control" placeholder="นามสกุลภาษาไทย">
                                                <has-error :form="form" field="t_studentlastname"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-row mt-3">
                                            <div class="col-md-6">
                                                <label for="exampleInputPassword1" class="font-amiri float-right">نسب</label>
                                                <input type="text" dir="rtl" v-model="form.lastname_jawi" :class="{'is-invalid': form.errors.has('lastname_jawi')}"
                                                class="form-control font-amiri" placeholder="نسب توليسن عرب">
                                                <has-error :form="form" field="lastname_jawi"></has-error>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="exampleInputPassword1" class="font-amiri float-right">نام</label>
                                                <input type="text" dir="rtl" v-model="form.firstname_jawi" :class="{'is-invalid': form.errors.has('firstname_jawi')}" 
                                                class="form-control font-amiri" placeholder="نام توليسن عرب">
                                                <has-error :form="form" field="firstname_jawi"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-row mt-3">
                                            <div class="col-md-6">
                                                <label>Jenis kelamin</label>
                                                <select class="form-control" v-model="form.gender" :class="{'is-invalid': form.errors.has('gender')}">
                                                    <option value="">Pilih jenis kelamin</option>
                                                    <option value="Lelaki">Lelaki</option>
                                                    <option value="Perempuan">Perempuan</option>
                                                </select>
                                                <has-error :form="form" field="gender"></has-error>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Tarikh lahir</label>
                                                <input type="date" v-model="form.birdth_date" :class="{'is-invalid': form.errors.has('birdth_date')}"
                                                class="form-control">
                                                <has-error :form="form" field="birdth_date"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-row mt-3">
                                            <div class="col-md-6">
                                                <label>Nama bapa</label>
                                                <input type="text" v-model="form.father_name" :class="{'is-invalid': form.errors.has('father_name')}"
                                                class="form-control" placeholder="Nasab bapa">
                                                <has-error :form="form" field="father_name"></has-error>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Nasab bapa</label>
                                                <input type="text" v-model="form.father_lastname" :class="{'is-invalid': form.errors.has('father_lastname')}"
                                                class="form-control" placeholder="Nasab bapa">
                                                <has-error :form="form" field="father_lastname"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-row mt-3">
                                            <div class="col-md-6">
                                                <label>Nama ibu</label>
                                                <input type="text" v-model="form.mother_name" :class="{'is-invalid': form.errors.has('mother_name')}"
                                                class="form-control" placeholder="Nasab ibu">
                                                <has-error :form="form" field="mother_name"></has-error>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Nasab ibu</label>
                                                <input type="text" v-model="form.mother_lastname" :class="{'is-invalid': form.errors.has('mother_lastname')}"
                                                class="form-control" placeholder="Nasab ibu">
                                                <has-error :form="form" field="mother_lastname"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-row mt-3">
                                            <div class="col-md-6">
                                                <label>Pekerjaan bapa</label>
                                                <input type="text" v-model="form.father_job" :class="{'is-invalid': form.errors.has('father_job')}"
                                                class="form-control" placeholder="Pekerjaan bapa">
                                                <has-error :form="form" field="father_job"></has-error>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Pekerjaan ibu</label>
                                                <input type="text" v-model="form.mother_job" :class="{'is-invalid': form.errors.has('mother_job')}"
                                                class="form-control" placeholder="Pekerjaan ibu">
                                                <has-error :form="form" field="mother_job"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-row mt-3">
                                            <div class="col-md-6">
                                                <label>Status keluarga</label>
                                                <select class="form-control" v-model="form.familyStatus" :class="{'is-invalid': form.errors.has('familyStatus')}">
                                                    <option value="">Pilih status keluarga</option>
                                                    <option value="1">Ibu bapa masih bersama</option>
                                                    <option value="2">Bercerai</option>
                                                    <option value="3">Bapa meninggal</option>
                                                    <option value="4">Ibu meninggal</option>
                                                    <option value="5">Ibu bapa meninggal</option>
                                                </select>
                                                <has-error :form="form" field="familyStatus"></has-error>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Penyakit pembawaan</label>
                                                <input type="text" v-model="form.disease" :class="{'is-invalid': form.errors.has('disease')}"
                                                class="form-control" placeholder="Penyakit pembawaan">
                                                <has-error :form="form" field="disease"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-row mt-3 mb-4">
                                            <div class="col-md-6">
                                                <label>Telepon</label>
                                                <input type="text" v-model="form.telephone" :class="{'is-invalid': form.errors.has('telephone')}"
                                                class="form-control" placeholder="No. Telepon">
                                                <has-error :form="form" field="telephone"></has-error>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Email</label>
                                                <input type="text" v-model="form.email" :class="{'is-invalid': form.errors.has('email')}"
                                                class="form-control" placeholder="E-mail">
                                            </div>
                                            <has-error :form="form" field="email"></has-error>
                                        </div>

                                        <legend>Bahagian 2 : Alamat</legend>
                                        <div class="form-row mt-2">
                                            <div class="col-md-6">
                                                <label>Kampong</label>
                                                <input type="text" v-model="form.t_village_name" :class="{'is-invalid': form.errors.has('t_village_name')}"
                                                class="form-control" placeholder="Kampong / หมู่บ้าน">
                                                <has-error :form="form" field="t_village_name"></has-error>
                                            </div>
                                            <div class="col-md-6">
                                                <label>No. Rumah</label>
                                                <input type="text" v-model="form.house_number" :class="{'is-invalid': form.errors.has('house_number')}"
                                                class="form-control" placeholder="No. Rumah / บ้านเลขที่">
                                                <has-error :form="form" field="house_number"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-row mt-3">
                                            <div class="col-md-6">
                                                <label>Tempat</label>
                                                <input type="text" v-model="form.place" :class="{'is-invalid': form.errors.has('place')}"
                                                class="form-control" placeholder="Tempat / หมู่ที่">
                                                <has-error :form="form" field="place"></has-error>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Jalan</label>
                                                <input type="text" v-model="form.t_road" :class="{'is-invalid': form.errors.has('t_road')}"
                                                class="form-control" placeholder="Jalan / ถนน">
                                                <has-error :form="form" field="t_road"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-row mt-3">
                                            <div class="col-md-6">
                                                <label>Wilayah / จังหวัด</label>
                                                <select v-model="form.t_province" :class="{'is-invalid': form.errors.has('t_province')}"
                                                    class="form-control" @change="loadAmphur($event.target.value)">
                                                    <option value="">เลือกจังหวัด</option>
                                                    <option v-for="(province, index) in provinces" :value="province.PROVINCE_ID" :key="index">{{province.PROVINCE_NAME}}</option>
                                                </select>
                                                <has-error :form="form" field="t_province"></has-error>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Dairah / อำเภอ</label>
                                                <select @change="loadSubdistrict($event.target.value)" v-model="form.t_district" :class="{'is-invalid': form.errors.has('t_district')}" class="form-control">
                                                    <option v-for="(amphur, index) in amphurs" :value="amphur.AMPHUR_ID" :key="index">{{amphur.AMPHUR_NAME}}</option>
                                                </select>
                                                <has-error :form="form" field="t_district"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-row mt-3 mb-4">
                                            <div class="col-md-6">
                                                <label>Muqim / ตำบล</label>
                                                <select v-model="form.t_subdistrict" :class="{'is-invalid': form.errors.has('t_subdistrict')}" class="form-control">
                                                    <option v-for="(district, index) in districts" :value="district.DISTRICT_ID" :key="index">{{district.DISTRICT_NAME}}</option>
                                                </select>
                                                <has-error :form="form" field="t_subdistrict"></has-error>
                                            </div>
                                            <div class="col-md-6">
                                                <label>POS Kod / รหัสไปษณีย์</label>
                                                <input type="text" v-model="form.post" :class="{'is-invalid': form.errors.has('post')}" class="form-control">
                                                <has-error :form="form" field="post"></has-error>
                                            </div>
                                        </div>

                                        <legend>Bahagian 3 : Sejarah pendidikan</legend>
                                        
                                        <h5 class="text-default float-left mt-3">Pendidikan agama</h5>
                                        <h5 class="text-default float-right font-amiri mt-3">فنديديقكن اݢام</h5>
                                        <br><br>

                                        <div class="form-row mt-3">
                                            <div class="col-md-3">
                                                <label class="float-right font-amiri">تاهون تامت</label>
                                                <select dir="rtl" v-model="form.ibtidai_graduate_year" :class="{'is-invalid': form.errors.has('ibtidai_graduate_year')}" class="form-control">
                                                    <option value="">ڤيليه تاهون</option>
                                                    <option value="2000">2000</option>
                                                    <option value="2001">2001</option>
                                                    <option value="2002">2002</option>
                                                    <option value="2003">2003</option>
                                                    <option value="2004">2004</option>
                                                    <option value="2005">2005</option>
                                                    <option value="2006">2006</option>
                                                    <option value="2007">2007</option>
                                                    <option value="2008">2008</option>
                                                    <option value="2009">2009</option>
                                                    <option value="2010">2010</option>
                                                    <option value="2011">2011</option>
                                                    <option value="2012">2012</option>
                                                    <option value="2013">2013</option>
                                                    <option value="2014">2014</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option>
                                                </select>
                                                <has-error :form="form" field="ibtidai_graduate_year"></has-error>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="float-right font-amiri">كمفوڠ</label>
                                                <input type="text" v-model="form.ibtidaiVillage" :class="{'is-invalid': form.errors.has('ibtidaiVillage')}" class="form-control font-amiri" dir="rtl" placeholder="كمفوڠ">
                                                <has-error dir="rtl" :form="form" field="ibtidaiVillage"></has-error>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="float-right font-amiri">تاديكا داري سكوله</label>
                                                <input type="text" v-model="form.ibtidai_graduate" :class="{'is-invalid': form.errors.has('ibtidai_graduate')}" class="form-control font-amiri" dir="rtl" placeholder="تاديكا داري سكوله">
                                                <has-error dir="rtl" :form="form" field="ibtidai_graduate" class="float-right"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-row mt-3">
                                            <div class="col-md-3">
                                                <label class="float-right font-amiri">تاهون تامت</label>
                                                <select dir="rtl" v-model="form.mutawasit_graduate_year" :class="{'is-invalid': form.errors.has('mutawasit_graduate_year')}" class="form-control">
                                                    <option value="">ڤيليه تاهون</option>
                                                    <option value="2000">2000</option>
                                                    <option value="2001">2001</option>
                                                    <option value="2002">2002</option>
                                                    <option value="2003">2003</option>
                                                    <option value="2004">2004</option>
                                                    <option value="2005">2005</option>
                                                    <option value="2006">2006</option>
                                                    <option value="2007">2007</option>
                                                    <option value="2008">2008</option>
                                                    <option value="2009">2009</option>
                                                    <option value="2010">2010</option>
                                                    <option value="2011">2011</option>
                                                    <option value="2012">2012</option>
                                                    <option value="2013">2013</option>
                                                    <option value="2014">2014</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option>
                                                </select>
                                                <has-error :form="form" field="mutawasit_graduate_year"></has-error>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="float-right font-amiri">كمفوڠ</label>
                                                <input type="text" v-model="form.mutawassitVillage" :class="{'is-invalid': form.errors.has('mutawassitVillage')}" class="form-control font-amiri" dir="rtl" placeholder="كمفوڠ">
                                                <has-error :form="form" field="mutawassitVillage"></has-error>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="float-right font-amiri">متوسط داري سكوله</label>
                                                <input type="text" v-model="form.mutawasit_graduate" :class="{'is-invalid': form.errors.has('mutawasit_graduate')}" class="form-control font-amiri" dir="rtl" placeholder="متوسط داري سكوله">
                                                <has-error :form="form" field="mutawasit_graduate"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-row mt-3">
                                            <div class="col-md-3">
                                                <label class="float-right font-amiri">تاهون تامت</label>
                                                <select dir="rtl" v-model="form.sanawi_graduate_year" :class="{'is-invalid': form.errors.has('sanawi_graduate_year')}" class="form-control">
                                                    <option value="">ڤيليه تاهون</option>
                                                    <option value="2000">2000</option>
                                                    <option value="2001">2001</option>
                                                    <option value="2002">2002</option>
                                                    <option value="2003">2003</option>
                                                    <option value="2004">2004</option>
                                                    <option value="2005">2005</option>
                                                    <option value="2006">2006</option>
                                                    <option value="2007">2007</option>
                                                    <option value="2008">2008</option>
                                                    <option value="2009">2009</option>
                                                    <option value="2010">2010</option>
                                                    <option value="2011">2011</option>
                                                    <option value="2012">2012</option>
                                                    <option value="2013">2013</option>
                                                    <option value="2014">2014</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option>   
                                                </select>
                                                <has-error dir="rtl" :form="form" field="sanawi_graduate_year"></has-error>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="float-right font-amiri">كمفوڠ</label>
                                                <input type="text" v-model="form.sanawiVillage" :class="{'is-invalid': form.errors.has('sanawiVillage')}" class="form-control font-amiri" dir="rtl" placeholder="كمفوڠ">
                                                <has-error dir="rtl" :form="form" field="sanawiVillage"></has-error>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="float-right font-amiri">ثانوي داري سكوله</label>
                                                <input type="text" v-model="form.sanawi_graduate" :class="{'is-invalid': form.errors.has('sanawi_graduate')}" class="form-control font-amiri" dir="rtl" placeholder="ثانوي داري سكوله">
                                                <has-error dir="rtl" :form="form" field="sanawi_graduate" class="float-right"></has-error>
                                            </div>
                                        </div>

                                        <h5 class="text-secondary mt-4">Pendidikan akademik</h5>

                                        <div class="form-row mt-3">
                                            <div class="col-md-6">
                                                <label for="">โรงเรียนประถม</label>
                                                <input type="text" v-model="form.down_graduate" class="form-control" placeholder="โรงเรียนประถม">
                                            </div>
                                            <div class="col-md-3">
                                                <label>ปีที่จบ</label>
                                                <select v-model="form.down_graduate_year" class="form-control">
                                                    <option value="">เลือกปี</option>
                                                    <option value="1990">1990</option>
                                                    <option value="1991">1991</option>
                                                    <option value="1992">1992</option>
                                                    <option value="1993">1993</option>
                                                    <option value="1994">1994</option>
                                                    <option value="1995">1995</option>
                                                    <option value="1996">1996</option>
                                                    <option value="1997">1997</option>
                                                    <option value="1998">1998</option>
                                                    <option value="1999">1999</option>
                                                    <option value="2000">2000</option>
                                                    <option value="2001">2001</option>
                                                    <option value="2002">2002</option>
                                                    <option value="2003">2003</option>
                                                    <option value="2004">2004</option>
                                                    <option value="2005">2005</option>
                                                    <option value="2006">2006</option>
                                                    <option value="2007">2007</option>
                                                    <option value="2008">2008</option>
                                                    <option value="2009">2009</option>
                                                    <option value="2010">2010</option>
                                                    <option value="2011">2011</option>
                                                    <option value="2012">2012</option>
                                                    <option value="2013">2013</option>
                                                    <option value="2014">2014</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option> 
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row mt-3">
                                            <div class="col-md-6">
                                                <label>โรงเรียนมัธยมต้น</label>
                                                <input type="text" v-model="form.first_highschool_graduate" class="form-control" placeholder="โรงเรียนมัธยมต้น">
                                            </div>
                                            <div class="col-md-3">
                                                <label>ปีที่จบ</label>
                                                <select type="text" v-model="form.first_highschool_graduate_year" class="form-control">
                                                    <option value="">เลือกปี</option>
                                                    <option value="1990">1990</option>
                                                    <option value="1991">1991</option>
                                                    <option value="1992">1992</option>
                                                    <option value="1993">1993</option>
                                                    <option value="1994">1994</option>
                                                    <option value="1995">1995</option>
                                                    <option value="1996">1996</option>
                                                    <option value="1997">1997</option>
                                                    <option value="1998">1998</option>
                                                    <option value="1999">1999</option>
                                                    <option value="2000">2000</option>
                                                    <option value="2001">2001</option>
                                                    <option value="2002">2002</option>
                                                    <option value="2003">2003</option>
                                                    <option value="2004">2004</option>
                                                    <option value="2005">2005</option>
                                                    <option value="2006">2006</option>
                                                    <option value="2007">2007</option>
                                                    <option value="2008">2008</option>
                                                    <option value="2009">2009</option>
                                                    <option value="2010">2010</option>
                                                    <option value="2011">2011</option>
                                                    <option value="2012">2012</option>
                                                    <option value="2013">2013</option>
                                                    <option value="2014">2014</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option>   
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row mt-3 mb-4">
                                            <div class="col-md-6">
                                                <label>โรงเรียนมัธยมปลาย</label>
                                                <input type="text" v-model="form.second_highschool_graduate" class="form-control" placeholder="โรงเรียนมัธยมปลาย">
                                            </div>
                                            <div class="col-md-3">
                                                <label>ปีที่จบ</label>
                                                <select v-model="form.second_highschool_graduate_year" class="form-control">
                                                    <option value="">เลือกปี</option>
                                                    <option value="1990">1990</option>
                                                    <option value="1991">1991</option>
                                                    <option value="1992">1992</option>
                                                    <option value="1993">1993</option>
                                                    <option value="1994">1994</option>
                                                    <option value="1995">1995</option>
                                                    <option value="1996">1996</option>
                                                    <option value="1997">1997</option>
                                                    <option value="1998">1998</option>
                                                    <option value="1999">1999</option>
                                                    <option value="2000">2000</option>
                                                    <option value="2001">2001</option>
                                                    <option value="2002">2002</option>
                                                    <option value="2003">2003</option>
                                                    <option value="2004">2004</option>
                                                    <option value="2005">2005</option>
                                                    <option value="2006">2006</option>
                                                    <option value="2007">2007</option>
                                                    <option value="2008">2008</option>
                                                    <option value="2009">2009</option>
                                                    <option value="2010">2010</option>
                                                    <option value="2011">2011</option>
                                                    <option value="2012">2012</option>
                                                    <option value="2013">2013</option>
                                                    <option value="2014">2014</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option>   
                                                </select>
                                            </div>
                                        </div>
                                        <legend>Bahagian 4 : Pengetahuan bahasa</legend>

                                        <div class="form-row mt-3">
                                            <div class="col-md-6">
                                                <label>Bahasa melayu</label>
                                                <select v-model="form.melayu_lang_skill" :class="{'is-invalid': form.errors.has('melayu_lang_skill')}" class="form-control">
                                                    <option value="">Pilih</option>
                                                    <option value="Kurang">Kurang</option>
                                                    <option value="Cukup">Cukup</option>
                                                    <option value="Lancar">Lancar</option>
                                                </select>
                                                <has-error :form="form" field="melayu_lang_skill"></has-error>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Bahasa arab</label>
                                                <select v-model="form.arab_lang_skill" :class="{'is-invalid': form.errors.has('arab_lang_skill')}" class="form-control">
                                                    <option value="">Pilih</option>
                                                    <option value="Kurang">Kurang</option>
                                                    <option value="Cukup">Cukup</option>
                                                    <option value="Lancar">Lancar</option>
                                                </select>
                                                <has-error :form="form" field="arab_lang_skill"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-row mt-3">
                                            <div class="col-md-6">
                                                <label>Bahasa ingris</label>
                                                <select v-model="form.ingris_lang_skill" :class="{'is-invalid': form.errors.has('ingris_lang_skill')}" class="form-control">
                                                    <option value="">Pilih</option>
                                                    <option value="Kurang">Kurang</option>
                                                    <option value="Cukup">Cukup</option>
                                                    <option value="Lancar">Lancar</option>
                                                </select>
                                                <has-error :form="form" field="ingris_lang_skill"></has-error>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <label>Bahasa thai</label>
                                                <select v-model="form.thai_lang_skill" :class="{'is-invalid': form.errors.has('thai_lang_skill')}" class="form-control">
                                                    <option value="">Pilih</option>
                                                    <option value="Kurang">Kurang</option>
                                                    <option value="Cukup">Cukup</option>
                                                    <option value="Lancar">Lancar</option>
                                                </select>
                                                <has-error :form="form" field="thai_lang_skill"></has-error>
                                            </div>
                                        </div>

                                        <legend>Bahagian 5 : Persyaratan</legend>

                                        <div class="form-row mt-3">
                                            <div class="col-md-4">
                                                <label>Syahadah / Tasdik asli</label>
                                                <select v-model="form.certificate" :class="{'is-invalid': form.errors.has('certificate')}" class="form-control">
                                                    <option value="">Pilih</option>
                                                    <option value="1">Ada</option>
                                                    <option value="2">Tidak ada</option>
                                                </select>
                                                <has-error :form="form" field="certificate"></has-error>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Senarai dapur</label>
                                                <select v-model="form.citizen_book" :class="{'is-invalid': form.errors.has('citizen_book')}" class="form-control">
                                                    <option value="">Pilih</option>
                                                    <option value="1">Ada</option>
                                                    <option value="2">Tidak ada</option>   
                                                </select>
                                                <has-error :form="form" field="citizen_book"></has-error>
                                            </div>
                                            <div class="col-md-4 mb-4">
                                                <label>Kad pengenalan</label>
                                                <select v-model="form.id_book" :class="{'is-invalid': form.errors.has('id_book')}" class="form-control">
                                                    <option value="">Pilih</option>
                                                    <option value="1">Ada</option>
                                                    <option value="2">Tidak ada</option>       
                                                </select>
                                                <has-error :form="form" field="id_book"></has-error>
                                            </div>
                                        </div>

                                        <button :disabled="disabled" class="btn btn-success float-right mt-3">SAVE</button>

                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </form>    
                </div>
                <div class="col-md-6">
                    <div class="bs-component">
                        <div class="card">
                            <h4 class="card-header">
                                <button v-show="pretestForm.payStatus=='1'" @click="print()" class="btn btn-success float-left">Print</button>
                                <button v-show="pretestForm.payStatus=='1'" @click="cacelRegister(st_id)" :disabled="disabled" class="btn btn-danger float-right">BATAL</button>
                            </h4>
                            <div class="card-body">
                                <form @submit.prevent="confirmingRegister()">
                                    
                                    <legend>Bahagian 6 : Pilihan kuliah</legend>

                                    <div class="form-row mt-3">
                                        <div class="col-md-6">
                                            <label>Pilihan pertama</label>
                                            <select @change="selectDepartment($event.target.value)" v-model="pretestForm.first_ftId" :class="{'is-invalid': pretestForm.errors.has('first_ftId')}" class="form-control">
                                                <option value="">Pilih</option>
                                                <option v-for="(faculty, index) in facultys" :value="faculty.ft_id" :key="index">{{faculty.ft_name}}</option>
                                            </select>
                                            <has-error :form="pretestForm" field="first_ftId"></has-error>
                                        </div>
                                        <!-- <div class="col-md-6" v-show="departments.length != []"> -->
                                        <div class="col-md-6" v-show="departments.length != []">
                                            <label>Jurusan</label>
                                            <select v-model="pretestForm.first_dpId" :class="{'is-invalid': pretestForm.errors.has('first_dpId')}" class="form-control">
                                                <option v-for="(department, index) in departments" :value="department.dp_id" :key="index">{{department.dp_name}}</option>
                                            </select>
                                            <has-error :form="pretestForm" field="first_dpId"></has-error>
                                        </div>
                                    </div>
                                    <div class="form-row mt-3 mb-4">
                                        <div class="col-md-6">
                                            <label>Pilihan kedua</label>
                                            <select @change="selectDepartmentSec($event.target.value)" v-model="pretestForm.second_ftId" :class="{'is-invalid': pretestForm.errors.has('second_ftId')}" class="form-control">
                                                <option value="">Pilih</option>
                                                <option v-for="(faculty, index) in facultys" :value="faculty.ft_id" :key="index">{{faculty.ft_name}}</option>
                                            </select>
                                            <has-error :form="pretestForm" field="second_ftId"></has-error>
                                        </div>
                                        <!-- <div class="col-md-6" v-show="departmentSecs.length != []"> -->
                                        <div class="col-md-6" v-show="departmentSecs.length != []">
                                            <label>Jurusan</label>
                                            <select v-model="pretestForm.second_dpId" :class="{'is-invalid': pretestForm.errors.has('second_dpId')}" class="form-control">
                                                <option v-for="(department, index) in departmentSecs" :value="department.dp_id" :key="index">{{department.dp_name}}</option>
                                            </select>
                                            <has-error :form="pretestForm" field="second_dpId"></has-error>
                                        </div>
                                    </div>

                                    <!-- <legend>Bahagian 7 : Bilik periksa</legend>

                                    <div class="form-row mt-3">
                                        <div class="col-md-6">
                                            <label>Bilik</label>
                                            <select class="form-control">
                                                <option value="">Pilih bilik</option>
                                                <option v-for="(testRoom,index) in testRooms" :value="testRoom.id" :key="index">
                                                    {{testRoom.room_name}} 
                                                    <span v-if="testRoom.room_gender == 1">Lelaki</span>
                                                    <span v-if="testRoom.room_gender == 2">Perempuan</span>
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Kursi</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div> -->

                                    <button :disabled="disabled" class="btn btn-success float-right mt-3">CALON</button>
                                </form>       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- PRINT -->
        <div id="documentPrint" class="row printArea" style="display: none">
            
            <div class="row">
                <table align="center" width="100%" class="reciet-header">
                    <tr>
                        <td align="left"><img src="images/head.jpg" width="250px" height="100px" class="float-left"> </td>
                        <td valign="bottom" width="90px"><b>No.Daftar | </b> <br> {{pretestForm.odrNumber}}</td>
                        <td valign="bottom" width="60px"><b>Bilik | </b>  <br> {{pretestForm.testClass}}</td>
                        <td valign="bottom" width="60px"><b>Kursi  </b> <br> {{pretestForm.testNumber}}</td>
                    </tr>
                </table>
            </div>
            
            <b><hr class="new"></b>
            <div class="row">
                <table align="center" width="100%">
                    <tr>
                        <td align="left"><img :src="pretestForm.std_photo" class="img-rounded" width="150px" height="160px"> </td>
                        <!-- <td align="left"><img class="img-rounded" width="120" height="140px"> </td> -->
                        <td align="left" valign="top" class="font-amiri-header">
                            <b>
                                بوراڠ فندفتران چالون مهاسيسوا
                            </b><br>
                            &nbsp;&nbsp;&nbsp;  تاهون اکاديميک 2020
                        </td>
                    </tr>
                </table>
            </div>
            <div align="right" class="row float-right mt-2 font-amiri-content">:فيليهن كلية</div>
            <div class="row">
                <div class="float-left">
                    <table align="left" class="reciet-body font-amiri-content">
                        <tbody>
                            <tr height="30px">
                                <td align="center" width="320px">
                                    {{secondSelect}}
                                </td>
                            </tr>
                        </tbody>
                    </table>  
                </div>
                <div class="float-right">
                    <table align="right" class="reciet-body font-amiri-content">
                        <tbody>
                            <tr height="30px">
                                <td align="center" width="320px">
                                    {{firstSelect}}
                                </td>
                            </tr>
                        </tbody>
                    </table>  
                </div>
            </div>
            <div class="row">
                <table align="right" border="0" width="100%">
                    <tbody>
                        <tr>
                            <td align="right" colspan="8" class="font-amiri-content"><b>بهاݢين يڠ فرتام : بيوداتا</b></td>
                        </tr>
                        <tr>
                            <td align="right" width="150px" colspan="5">
                                        ___________  :
                            </td>
                            <td align="right" width="140px" class="font-amiri-content">
                                <b>نام فڠݢيلن</b>
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                {{form.firstname_jawi}}    {{form.lastname_jawi}}   :
                            </td>
                            <td align="right" width="140px" class="font-amiri-content">
                                <b>نام - بقاء </b>
                            </td>
                        </tr>
                                
                        <tr>
                            <td align="right" width="160px" colspan="5">
                                {{form.firstname_rumi}} {{form.lastname_rumi}}  :
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>نام دالم بهاس ايڠڬريس</b>
                            </td>
                            <td align="right" width="160">
                                {{form.t_studentname}} {{form.t_studentlastname}} :
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>نام دالم بهاس تهاي</b>
                            </td>
                        </tr>

                        <tr>
                            <td align="right" width="160px" colspan="5">
                                
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                
                            </td>
                            <td align="right" width="160">
                                {{form.cityzen_id}} :
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>نمبور کارد فڠنلن</b>
                            </td>
                        </tr>

                        <tr>
                            <td align="right" width="160px" colspan="5">
                                {{form.disease}} :
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>فڽاکيت فمباوأن</b>   
                            </td>
                            <td align="right" width="160">
                                {{form.birdth_date}} :
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>تڠݢل لاهير</b>
                            </td>
                        </tr>

                        <tr>
                            <td align="right" width="160px" colspan="5">
                                {{form.father_job}} :
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>فكرجأن باف</b>   
                            </td>
                            <td align="right" width="160">
                            {{form.father_name}} {{form.father_lastname}} :
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>نام باف</b>
                            </td>
                        </tr>

                        <tr>
                            <td align="right" width="160px" colspan="5">
                                {{form.mother_job}} :
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>فكرجأن ايبو</b>   
                            </td>
                            <td align="right" width="160">
                            {{form.mother_name}} {{form.mother_lastname}} :
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>نام ايبو</b>
                            </td>
                        </tr>

                        <tr>
                            <td align="right" width="160px" colspan="5">
                                {{form.t_village_name}} :
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>کمفوڠ</b>   
                            </td>
                            <td align="right" width="160">
                            {{form.house_number}} :
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>علامت تمفت تيڠݢل</b>
                            </td>
                        </tr>

                        <tr>
                            <td align="right" width="160px" colspan="5">
                                {{form.t_village_name}} :
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>کمفوڠ</b>   
                            </td>
                            <td align="right" width="160">
                            {{form.place}} :
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>تمفت	</b>
                            </td>
                        </tr>

                        <tr>
                            <td align="right" width="160px" colspan="5">
                                {{amphur}} :
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>دائرة</b>   
                            </td>
                            <td align="right" width="160">
                            {{district}} :
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>مقيم	</b>
                            </td>
                        </tr>

                        <tr>
                            <td align="right" width="160px" colspan="5">
                                {{form.post}} :
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>كودافوس</b>   
                            </td>
                            <td align="right" width="160">
                                <!-- <select class="form-control" v-model="form.t_province">
                                    <option v-for="(province, index) in provinces" :value="province.PROVINCE_ID" :key="index">{{province.PROVINCE_NAME}}</option>
                                </select> : -->
                                {{province}}
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>ولاية</b>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="row">
                <table align="right" border="0" width="100%">
                    <tbody>
                        <tr>
                            <td align="right" colspan="8" class="font-amiri-content"><b>بهاݢين يڠ کدوا : سجاره فنديديقكن</b></td>
                        </tr>
                        <tr>
                            <td align="right" colspan="8" class="font-amiri-content"><b>فنديديقكن اݢام - </b></td>
                        </tr>
                        <tr>
                            <td align="right" width="160px" colspan="5">
                                {{form.ibtidai_graduate_year}} :
                            </td>
                            <td align="right" width="60px" class="font-amiri-content">
                                <b>تاهون</b>   
                            </td>
                            <td align="right" width="160">
                            {{form.ibtidai_graduate}} :
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>ابتدائي دري سكول</b>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="160px" colspan="5">
                                {{form.mutawasit_graduate_year}} :
                            </td>
                            <td align="right" width="60px" class="font-amiri-content">
                                <b>تاهون</b>   
                            </td>
                            <td align="right" width="160">
                            {{form.mutawasit_graduate}} :
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>متوسط دري سكوله</b>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="160px" colspan="5">
                                {{form.sanawi_graduate_year}} :
                            </td>
                            <td align="right" width="60px" class="font-amiri-content">
                                <b>تاهون</b>   
                            </td>
                            <td align="right" width="160">
                            {{form.sanawi_graduate}} :
                            </td>
                            <td align="right" width="150px" class="font-amiri-content">
                                <b>ثانوي دري سكوله</b>
                            </td>
                        </tr>
                    </tbody>
                </table>    
            </div>
            <div class="row mt-5">
                <table align="right" border="0" width="100%" class="tableMarginTop">
                    <tbody>
                        <tr>
                            <td align="center" colspan="8" class="font-amiri-content">
                                تندا تاڠن فموهون
                                <br>
                                .....................................
                                <br>
                                (.....................................)
                            </td>
                            <td align="center" colspan="8" class="font-amiri-content">
                                تندا تاڠن بهاݢين فندفترن
                                <br>
                                .....................................
                                <br>
                                (.....................................)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        <!-- \.PRINT -->

        <div class="tile mb-4" v-if="!$gate.isAdminOrRegistration()">
            <not-found></not-found>
        </div>
        <!-- /.Page body -->
    </main>
</template>

<script>
    //import printJS from 'print-js'
    export default {
        mounted(){
            this.loadHeaderInfo();
            this.loadProvince();
            this.loadStudent();
            this.loadPretest();
            this.loadFaculty();
        },  
        data(){
            return{
                firstSelect: '',
                secondSelect: '',
                firstFaculty: '',
                firstDepartment: '',
                secondFaculty: '',
                secondDepartment: '', 
                province: '',
                amphur: '',
                district: '',
                testRooms: [],
                disabled: false,
                t_province: '',
                departmentSecs: [],
                departments: [],
                facultys: [],
                districts: [],
                amphurs: [],
                provinces: [],
                pretestForm: new Form({
                    second_dpId: '',
                    second_ftId: '',
                    first_dpId: '',
                    first_ftId: '',
                    gender: '',
                    st_id: '',
                    payStatus: '',
                    std_photo: '',
                    odrNumber: '',
                    testClass: '',
                    testNumber: '',
                }),
                form: new Form({
                    id_book: '',
                    citizen_book: '',
                    certificate: '',
                    thai_lang_skill: '',
                    ingris_lang_skill: '',
                    arab_lang_skill: '',
                    melayu_lang_skill: '',
                    second_highschool_graduate_year: '',
                    second_highschool_graduate: '',
                    first_highschool_graduate_year: '',
                    first_highschool_graduate: '',
                    down_graduate_year: '',
                    down_graduate: '',
                    sanawi_graduate: '',
                    sanawiVillage: '',
                    sanawi_graduate_year: '',
                    mutawasit_graduate: '',
                    mutawassitVillage: '',
                    mutawasit_graduate_year: '',
                    ibtidaiVillage: '',
                    ibtidai_graduate: '',
                    ibtidai_graduate_year: '',
                    post: '',
                    t_subdistrict: '',
                    t_district: '',
                    t_province: '',
                    t_road: '',
                    place: '',
                    house_number: '',
                    t_village_name: '',
                    cityzen_id: '',
                    firstname_rumi: '',
                    lastname_rumi: '',
                    t_studentname: '',
                    t_studentlastname: '',
                    firstname_jawi: '',
                    lastname_jawi: '',
                    gender: '',
                    birdth_date: '',
                    father_name: '',
                    father_lastname: '',
                    mother_name: '',
                    mother_lastname: '',
                    father_job: '',
                    mother_job: '',
                    familyStatus: '',
                    disease: '',
                    email: '',
                    telephone: '',
                    std_photo: '',
                }),
                pre_id: this.$route.params.pre_id,
                st_id: this.$route.params.st_id,
            }
        },
        methods: {
            loadHeaderInfo(){
                axios.get('api/admissionFormInfo/'+this.st_id)
                    .then(response => {
                        this.province = response.data.province;
                        this.amphur = response.data.amphur;
                        this.district = response.data.district;
                        this.firstSelect = response.data.firstSelect;
                        this.secondSelect = response.data.secondSelect;
                    })
                    .catch(() => {

                    })
            },
            print() {
                // Pass the element id here
                this.$htmlToPaper('documentPrint');
                },
            // print(){
            //     printJS({
            //         printable: 'documentPrint', 
            //         type: 'html', 
            //         //font_size: '26pt',
            //         targetStyle: ['display: block'],
            //         css: 'css/print.css',
            //         scanStyles: true,
            //     })
            // },
            takePhoto(pre_id,st_id){
                this.$router.push({name:'takePhoto',params:{pre_id:pre_id,st_id:st_id}})
            },
            cacelRegister(st_id){
                swal.fire({
                    title: 'Anda pasti untuk membatal ?',
                    input: 'password',
                    inputAttributes: {
                        'maxlength': 10,
                        'autocapitalize': 'off',
                        'autocorrect': 'off'
                    }
                    }).then(function(password,st_id){
                        if(password.value === "") {
                            toast.fire({
                                icon: 'warning',
                                title: 'Password salah'
                            })
                        }else if(password.value === "jisda"){
                            fire.$emit('cancelRegister');
                        }else{
                            toast.fire({
                                icon: 'warning',
                                title: 'Password salah'
                            })
                        }
                })
                
                
            },
            confirmingRegister(){
                this.disabled = true;
                this.$Progress.start();
                this.pretestForm.put('api/confirmingRegister/'+this.st_id)
                    .then(response => {
                        this.pretestForm.payStatus = 1;
                        this.disabled = false;
                        this.loadHeaderInfo();
                        toast.fire({
                            icon: 'success',
                            title: 'Data berhasil di perbaharui'
                        })

                        this.loadPretest();

                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.disabled = false;
                        this.$Progress.fail();
                    })
            },
            updateRegisterForm(){
                this.$Progress.start();
                this.disabled = true;
                this.form.put('api/student/'+this.st_id)
                    .then(response => {
                        this.disabled = false;
                        this.pretestForm.gender = this.form.gender;
                        toast.fire({
                            icon: 'success',
                            title: 'Data berhasil di perbaharui'
                        })

                        this.$Progress.finish();
                    })  
                    .catch(() => {

                        toast.fire({
                            icon: 'warning',
                            title: 'Pembaharuan di tolak'
                        })

                        this.disabled = false;

                        this.$Progress.fail();
                    }) 
            },
            loadStudent(){
                axios.get('api/student/'+this.st_id)
                    .then(response => {
                        //this.studentGender = response.data.gender;
                        this.form.fill(response.data);
                        this.loadAmphur(response.data.t_province);
                        this.loadSubdistrict(response.data.t_district);
                        this.pretestForm.gender = response.data.gender;
                        this.pretestForm.st_id = response.data.st_id;

                        //get test toom data
                        // var studentGender = response.data.gender;
                        // if(response.data.gender=='Lelaki'){
                        //     var room_gender = 1;
                        // }else{
                        //     var room_gender = 2;
                        // }
                        
                        // axios.get('api/testRoomByGender/'+room_gender)
                        //     .then(response => {
                        //         this.testRooms = response.data;
                        //     })
                        //     .catch(() => {

                        //     })
                    })
                    .catch(() => {

                    })
            },
            loadPretest(){
                axios.get('api/pretest/'+this.pre_id)
                    .then(response => {
                        this.pretestForm.first_ftId = response.data.first_ftId;
                        this.pretestForm.first_dpId = response.data.first_dpId;
                        this.pretestForm.second_ftId = response.data.second_ftId;
                        this.pretestForm.second_dpId = response.data.second_dpId;
                        this.pretestForm.payStatus = response.data.payStatus;
                        if(response.data.std_photo == null){
                            this.pretestForm.std_photo = "/image/avatar.png";
                        }else{
                            this.pretestForm.std_photo = "/images/"+response.data.std_photo;
                        }
                        this.pretestForm.odrNumber = response.data.odrNumber;
                        this.pretestForm.testClass = response.data.testClass;
                        this.pretestForm.testNumber = response.data.testNumber;
                        this.loadDepartment(response.data.first_ftId);
                        this.loadDepartmentSec(response.data.second_ftId);

                        this.firstFaculty = response.data.ft_arab_name;
                        this.firstDepartment = response.data.first_dpId;
                        this.secondFaculty = response.data.dp_arab_name;
                        this.secondDepartment = response.data.dp_arab_name;
                       
                    })
                    .catch(() => {

                    })
            },
            selectDepartmentSec(ft_id){
                axios.get('api/departmentAtFaculty/'+ft_id)
                    .then(response => {
                        this.departmentSecs = response.data;
                        this.pretestForm.second_dpId = 0;
                    })
                    .catch(() => {

                    })
            },
            loadDepartmentSec(ft_id){
                axios.get('api/departmentAtFaculty/'+ft_id)
                    .then(response => {
                        this.departmentSecs = response.data;
                    })
                    .catch(() => {

                    })
            },
            selectDepartment(ft_id){
                axios.get('api/departmentAtFaculty/'+ft_id)
                    .then(response => {
                        this.departments = response.data;
                        this.pretestForm.first_dpId = 0;
                    })
                    .catch(() => {

                    })
            },
            loadDepartment(ft_id){
                axios.get('api/departmentAtFaculty/'+ft_id)
                    .then(response => {
                        this.departments = response.data;
                    })
                    .catch(() => {

                    })
            },
            loadFaculty(){
                axios.get('api/faculty')
                    .then(response => {
                        this.facultys = response.data;
                    })
                    .catch(() => {

                    })
            },
            loadSubdistrict(id){
                axios.get('api/district/'+id)
                    .then(response => {
                        this.districts = response.data;
                    })
                    .catch(() => {

                    })
            },
            loadAmphur(id){
                axios.get('api/amphur/'+id)
                    .then(response => {
                        this.amphurs = response.data;
                    })
                    .catch(() => {

                    })
            },
            loadProvince(){
                axios.get('api/province')
                    .then(response => {
                        this.provinces = response.data;
                    })
                    .catch(() => {

                    })
            }, 
        },
        created: function(){
            fire.$on('cancelRegister', () => {
                axios.get('api/cancelPretest/'+this.st_id)
                    .then(response => {
                        this.pretestForm.payStatus = 0;
                        this.disabled = false;

                        toast.fire({
                            icon: 'success',
                            title: 'Pembatalan berhasil'
                        })

                    })
                    .catch(() => {

                    })
            })
        },
    }
</script>