<template>
    <main class="app-content">
        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-money"></i> Bayaran - Muqaddimah</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- /.Page title -->

        <!-- Higligh report -->
        <div class="row" v-if="$can('payment_muqaddimah')">
            <div class="col-md-6 col-lg-6">
                <div class="card mb-3 text-white bg-dark">
                    <div class="card-body">
                        <blockquote class="card-blockquote">
                        <h4>PENERIMAAN TAHUN : {{ar_year}} </h4>
                        </blockquote>
                    </div>
                </div>  
            </div>
            <div class="col-md-6 col-lg-3" v-if="$can('payment_muqaddimah')">
                <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
                <div class="info">
                    <h4>TAHUN 1</h4>
                    <p><b>{{totalStudent}} Orang</b></p>
                </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" v-if="$can('payment_muqaddimah')">
                <div class="widget-small info coloured-icon"><i class="icon fa fa-users fa-3x"></i>
                <div class="info">
                    <h4>TRANSFER</h4>
                    <p><b>{{totalTransfer}} Orang</b></p>
                </div>
                </div>
            </div>
        </div>
        <!-- \.Higligh report -->

        <!-- body -->
        <div class="tile mb-4" v-if="$can('payment_muqaddimah')">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-3">
                            <div class="input-group float-left">
                                <input class="form-control" v-model="query" type="text" placeholder="Cari dengan kata kunci">
                                <div class="input-group-append"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                            </div>
                        </div>
                        <div class="float-right">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button class="btn btn-primary" type="button"><i class="fa fa-bar-chart"></i> Laporan duit</button>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-primary dropdown-toggle" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(36px, 37px, 0px);">
                                        <a class="dropdown-item" href="#" @click="reportMoney('0')">Tahun satu</a>
                                        <a class="dropdown-item" href="#" @click="reportMoney('1')">Transfer</a>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button class="btn btn-primary" type="button"><i class="fa fa-bar-chart"></i> Statistic mahasiswa</button>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-primary dropdown-toggle" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(36px, 37px, 0px);">
                                        <a class="dropdown-item" href="#" @click="reportStatistic('0')">Tahun satu</a>
                                        <a class="dropdown-item" href="#" @click="reportStatistic('1')">Transfer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><b>No Dafatr</b></th>
                                <th><b>Nama-Nasab</b></th>
                                <th class="font-amiri"><b>ناما - نسب</b></th>
                                <th><b>Kad pengenalan</b></th>
                                <th><b>Bilik | Kursi</b></th>
                                <th><b>Daftar</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in students" :key="index">
                                <td>{{item.odrNumber}}</td>
                                <td>
                                    <!-- <span v-if="student.student"></span> -->
                                    {{item.student.firstname_rumi}} {{item.student.lastname_rumi}}
                                </td>
                                <td class="font-amiri" align="right">
                                    {{item.student.firstname_jawi}} {{item.student.lastname_jawi}}
                                </td>
                                <td>{{item.student.cityzen_id}}</td>
                                <td>{{item.testClass}} - {{item.testNumber}}</td>
                                <td>
                                    <button @click="confirmingForm(item.st_id)" class="btn btn-warning">Daftar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination
                        v-if="pagination.last_page > 1"
                        :pagination="pagination"
                        :offset="5"
                        @paginate="query === '' ? loadAdmissionStudent() : searchData()"
                    ></pagination>
                </div>
            </div>
        </div>
        <!-- \.body -->

        <!-- muqaddimah modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            No Daftar : {{student.odrNumber}}
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                        <div align="center">
                            <!-- <img class="img-thumbnail" :src="'/images/'+student.std_photo" width="200px" height="280px"> -->
                            <img class="img-thumbnail" :src="image" width="200px" height="280px">
                            <hr>
                            <p class="font-weight-normal"><b>No. IDENTITAS :</b> {{student.student.cityzen_id}}</p>
                            <p class="font-amiri font-weight-normal"><b>نام نسب :</b>  {{student.student.firstname_jawi}} {{student.student.lastname_jawi}}</p>
                            <p class="font-weight-normal"><b>NAMA NASAB :</b> {{student.student.firstname_rumi}} {{student.student.lastname_rumi}}</p>
                            <p class="font-weight-normal"><b>TARIKH DAFTAR : </b> {{student.regisDate | thaiDate}}</p>
                            
                            <p>
                                <button @click="print()" class="btn btn-primary" :disabled="disabled" v-show="confirmed"><i class="fa fa-print" aria-hidden="true"></i> PRINT</button>
                            </p>
                        </div>
                        
                        <hr>

                        <form @submit.prevent="cancelMode? cancelPay(): muqaddimahPay()">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="">Pilih kuliah</label>
                                    <select v-model="muqaddimahForm.ft_id" @change="departmentAtFaculty($event.target.value)" :class="{'is-invalid': muqaddimahForm.errors.has('ft_id')}" class="form-control">
                                        <option value="" style="display:noe">Pilih kuliah</option>
                                        <option v-for="(item, index) in faculties" :value="item.ft_id" :key="index">{{item.ft_name}}</option>
                                    </select>
                                    <has-error :form="muqaddimahForm" field="ft_id"></has-error>
                                </div>
                                <div class="form-group col-md-6" v-if="departments.length != 0">
                                    <label for="">Pilih jurusan</label>
                                    <select v-model="muqaddimahForm.dp_id" :class="{'is-invalid': muqaddimahForm.errors.has('dp_id')}" class="form-control">
                                        <option v-for="(item, index) in departments" :value="item.dp_id" :key="index">{{item.dp_name}}</option>
                                    </select>
                                    <has-error :form="muqaddimahForm" field="dp_id"></has-error>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="">Kategori</label>
                                    <select v-model="muqaddimahForm.category" @change="selectCategory($event.target.value)" :class="{'is-invalid': muqaddimahForm.errors.has('category')}" class="form-control">
                                        <option :value="0">Tahun 1</option>
                                        <option :value="1">Transfer</option>
                                    </select>
                                    <has-error :form="muqaddimahForm" field="category"></has-error>
                                </div>
                                <div class="form-group col-md-6" v-if="muqaddimahForm.category == 1">
                                    <label for="">Tahun/Kelas</label>
                                    <select v-model="muqaddimahForm.class" :class="{'is-invalid': muqaddimahForm.errors.has('class')}" class="form-control">
                                        <option value="" style="display: none">Pilih tahun/kelas</option>
                                        <option v-for="(item, index) in classs" :value="item.year" :key="index">{{item.class}}</option>
                                    </select>
                                    <has-error :form="muqaddimahForm" field="class"></has-error>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <button class="btn btn-secondary float-left" data-dismiss="modal">TUTUP</button>
                                    <button class="btn btn-warning float-right" :disabled="disabled" v-show="confirmed">BATAL</button>
                                    <button class="btn btn-success float-right" :disabled="disabled" v-show="!confirmed">SAVE</button>
                                </div>
                            </div>
                        </form>

                    </div>

                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send message</button>
                    </div> -->

                </div>
            </div>
        </div>
        <!-- \.modal -->

        <!-- report modal -->
            <MuqaddimahReport
                :headerTitle="headerTitle"
                :facultyStatistic="facultyStatistic"
                :totalStudent="totalStudent"
            ></MuqaddimahReport>
        <!-- \.report modal -->

        <!-- report money -->
            <MuqaddimahMoney
                :payedPerson="payedPerson"
                :muqaaimahMony="muqaaimahMony"
                :muqaddimahTotalMoney="muqaddimahTotalMoney"
                :type="type"
                :headerTitle="headerTitle"
            ></MuqaddimahMoney>
        <!-- report money -->
      
        <!-- PRINT -->
        <div id="documentPrint"  style="display: none">
            
            <page size="reciet">
                <table width="96%" align="center" style="margin-right: 4ch;">
                    <tr style="height:15px;">
                        <td width="127" rowspan="4" align="left" valign="top"><img src="image/logo_reciet.png" width="70" height="77"></td>
                        <td width="434" align="center"><b>ใบเสร็จรับเงิน / RECEIPT</b></td>
                        <td width="146"></td>
                    </tr>
                    <tr style="height:15px;">
                        <td align="center">JAMIAH ISLAM SYEIKH DAUD AL-FATHANI(JISDA) -YALA</td>
                        <td align="right">เลขที่ : {{muqaddimah.m_reciet}}</td>
                    </tr>
                    <tr style="height:15px;">
                        <td align="center">สถาบันอิสลามศึกษาชั้นสูง เช็คดาวุดอัลฟาฎอนีอัลอิสลามียะห์</td>
                        <td align="right">วันที่ : {{muqaddimah.m_paydate}}</td>
                    </tr>
                    <tr style="height:15px;">
                        <td align="center">762 Siroros Road, Yala, Tel : 073-212937</td>
                        <td></td>
                    </tr>
                </table>
                <table width="96%" align="center" border="0" style="margin-right: 4ch;">
                    <tr>
                        <td width="20%"><b>ได้รับเงินจาก :</b></td>
                        <td width="30%" align="center">{{student.student.firstname_rumi}} {{student.student.lastname_rumi}}</td>
                        <td width="15%"><b>รหัสประจำตัว  :</b></td>
                        <td width="35%" align="center">{{student.odrNumber}}</td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Received From </b></td>
                        <td width="30%" align="center"></td>
                        <td width="15%"><b>Student ID</b></td>
                        <td width="35%" align="center"></td>
                    </tr>
                    <tr>
                        <td width="20%"><b>คณะ :</b></td>
                        <td width="30%" align="center">{{facultyName}}</td>
                        <td width="15%"><b>สาขาวิชา  :</b></td>
                        <td width="35%" align="center">{{departmentName}}</td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Faculty </b></td>
                        <td width="30%" align="center"></td>
                        <td width="15%"><b>Department</b></td>
                        <td width="35%" align="center"></td>
                    </tr>
                </table>
                <table align="center" id="muqaddimah">
                    <tbody>
                        <tr>
                            <td height="37" colspan="2" align="center"><b>รายการ / Description</b></td>
                            <td width="154" align="center"><b>จำนวนเงิน / Amount</b></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left">	ค่าเทอมนักศึกษา</td>
                            <td align="right"></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left">	ค่าธรรมเนียม </td>
                            <td align="right">1,000.00</td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left">	ค่าลงทะเบียน </td>
                            <td align="right"></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left">	ค่าประกาศนียบัตร </td>
                            <td align="right"></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left">	อื่นๆ </td>
                            <td align="right"></td>
                        </tr>
                        <tr>
                            <td width="82" height="24" align="left"><b>รวม (บาท)</b></td>
                            <td width="339" align="center">&nbsp;</td>
                            <td align="right">1,000.00</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <p align="right" id="reciet-footer">ผู้รับเงิน/Cashier</p>
            </page>

        </div>
        <!-- \.PRINT -->

        <!-- not found -->
        <div class="tile mb-4" v-if="!$can('payment_muqaddimah')">
            <not-found></not-found>
        </div>
        <!-- \. not found -->

    </main>
</template>

<script>
    import MuqaddimahReport from "./report/Muqaddimah.vue";
    import MuqaddimahMoney from "./report/MuqaddimahMoney.vue";
    export default {
        components:{
            MuqaddimahReport,
            MuqaddimahMoney,
        },
        mounted(){
            this.currentAdmissionRegister();
            this.loadAdmissionStudent();
            this.loadFaculty();
            this.studentClass();
            this.currentStudentMuqaddimahPayed();
        },  
        data(){
            return{
                image: '/imaege/avatar.png',
                type: '',
                muqaddimahTotalMoney: '...',
                muqaaimahMony: '...',
                payedPerson: [],
                headerTitle: '',
                totalStudent: '',
                totalTransfer: '',
                facultyStatistic: [],
                reportCount: {},
                classs: [],
                facultyName: '',
                departmentName: '',
                muqaddimah: {
                    m_reciet: '',
                    m_paydate: '',
                },
                pretest: '',
                cancelMode: false,
                disabled: false,
                muqaddimahForm: new Form({
                    st_id: '',
                    p_id: '',
                    ft_id: '',
                    dp_id: '',
                    category: 0,
                    class: '',
                }),
                confirmed: false,
                departments: [],
                faculties: [],
                student: {
                    student: {}
                },
                ar_year: '...',
                query: '',
                pagination:{
                    current_page: 1,
                },
                students: [],
            }
        },
        watch:{
            query: function(){
                this.pagination.current_page = 1;
                if(this.query === "") {
                    this.loadAdmissionStudent();
                } else {
                    this.searchData();
                }
            }
        },
        methods:{
            reportMoney(studentType){
                this.$Progress.start();
                this.type = studentType;
                axios.post('api/muqaddimahReportMoney',{'type': studentType})
                    .then(r => {
                        this.payedPerson = r.data.list;
                        this.muqaaimahMony = r.data.money;
                        this.muqaddimahTotalMoney = r.data.totalMoney;
                        if(studentType == '0'){
                            this.headerTitle = 'Duit muaddimah mahasiswa tahun satu';
                        }else{
                            this.headerTitle = 'Duit muaddimah mahasiswa transfer';
                        }
                        $("#reportMoney").modal('show');
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            },
            reportStatistic(studentType){
                this.$Progress.start();
                $("#reportModal").modal("show");
                axios.get('api/muqaddimahReportStatistic')
                    .then(r => {
                        if(studentType == '0'){
                            this.facultyStatistic = r.data.classOneStatistic;
                            this.totalStudent = r.data.totalClassOne;
                            this.headerTitle = "Laporan bayar muqaddimah Mahasiswa tahun satu";
                        }else{
                            this.facultyStatistic = r.data.transferStatistic;
                            this.totalStudent = r.data.totalTransfer;
                            this.headerTitle = "Laporan bayar muqaddimah Mahasiswa transfer";
                        }
                        
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            },
            currentStudentMuqaddimahPayed(){
                axios.get('api/muqaddimahReportStatistic')
                    .then(r => {
                        this.totalStudent = r.data.totalClassOne;
                        this.totalTransfer = r.data.totalTransfer;
                    })
                    .catch(() => {

                    })
            },
            studentClass(){
                axios.get('api/studentClass')
                    .then(r => {
                        this.classs = r.data.filter(r => r.class > 1);
                    })
                    .catch(() => {

                    })
            },
            selectCategory(category){
                this.muqaddimahForm.category = category;
            },
            print() {
                this.$htmlToPaper('documentPrint');
            },
            cancelPay(){
                console.log('cancel');
                swal.fire({
                    title: 'Anda pasti untuk membatal ?',
                    text: "Pembayaran akan di batalkan !",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Batal'
                    }).then((result) => {
                        if(result.value) {
                            fire.$emit('cancelPayment');
                    }
                })
            },
            muqaddimahPay(){
                this.$Progress.start();
                this.disabled = true;
                this.muqaddimahForm.post('api/muqaddimah')
                    .then(r => {

                        this.muqaddimah = r.data.muqaddimah;
                        this.pretest = r.data.pretest;
                        this.facultyName = r.data.faculty;
                        this.departmentName = r.data.department;

                        if(r.data.type === 0 || r.data.type === 1){
                            this.confirmed = true;
                            this.cancelMode = true;
                        }else{
                            this.confirmed = false;
                            this.cancelMode = false;
                        }

                        this.currentStudentMuqaddimahPayed();

                        toast.fire({
                            icon: 'success',
                            title: 'Bayaran berhasil'
                        })

                        this.disabled = false;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.disabled = false;
                        this.$Progress.fail();
                    })
            },
            departmentAtFaculty(ft_id){
                this.muqaddimahForm.dp_id = '',
                axios.get('api/departmentAtFaculty/'+ft_id)
                    .then(r => {
                        this.departments = r.data;
                    })
                    .catch(() => {
                        
                    })
            },
            loadFaculty(){
                axios.get('api/faculty')
                    .then(r => {
                        this.faculties = r.data;
                    })
                    .catch(() => {

                    })
            },
            confirmingForm(st_id){
                this.$Progress.start();
                this.disabled = true;
                this.muqaddimahForm.reset();
                this.departments = '';
                axios.get('api/admissionStudentMuqaddimahForm/'+st_id)
                    .then(r => {
                        this.student = r.data.student;
                        if(r.data.student.std_photo == null){
                            this.image = '/image/avatar.png';
                        }else{
                            this.image = '/images/'+r.data.student.std_photo;
                        }
                        this.muqaddimahForm.st_id = st_id;
                        this.muqaddimahForm.p_id = r.data.student.pre_id;
                        this.muqaddimahForm.ft_id = r.data.student.student.ft_id;
                        if(r.data.student.type == null){

                        }else{
                            this.muqaddimahForm.category = r.data.student.type;
                        }
                        
                        this.muqaddimahForm.class = r.data.student.student.class,
                        this.muqaddimah = r.data.muqaddimah;
                        this.facultyName = r.data.faculty;
                        this.departmentName = r.data.department;
                        

                        if(this.muqaddimahForm.ft_id === 121 || this.muqaddimahForm.ft_id === 125 ){
                            this.departmentAtFaculty(r.data.student.student.ft_id);
                            this.muqaddimahForm.dp_id = r.data.student.student.dp_id;
                        }

                        if(r.data.student.type === 0 || r.data.student.type === 1){
                            this.confirmed = true;
                            this.cancelMode = true;
                        }else{
                            this.confirmed = false;
                            this.cancelMode = false;
                        }

                        this.disabled = false;
                        $("#exampleModal").modal('show');
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.disabled = false;
                        this.$Progress.fail();
                    })
            },
            currentAdmissionRegister(){
                axios.get('api/currentAdmissionRegister')
                    .then(r => {
                        this.ar_year = r.data.ar_year;  
                    })
                    .catch(() => {

                    })
            },
            searchData: _.debounce(() => {
                 fire.$emit('searching');
            },1000),
            loadAdmissionStudent(){
                this.$Progress.start();
                axios.get('api/admissionStudent?page='+this.pagination.current_page)
                    .then(r => {
                        this.students = r.data.data;
                        this.pagination = r.data;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            }
        },
        created: function(){
            fire.$on('cancelPayment', () => {
                axios.delete('api/muqaddimah/'+this.muqaddimahForm.p_id)
                    .then(r => {
                        if(r.data.type === 0){
                            this.confirmed = true;
                            this.cancelMode = true;
                        }else{
                            this.confirmed = false;
                            this.cancelMode = false;
                        }

                        this.currentStudentMuqaddimahPayed();

                        toast.fire({
                            icon: 'success',
                            title: 'Pembatalan berhasil'
                        })

                    })
                    .catch(() => {

                    })
            }),
            fire.$on('searching', () => {
                this.$Progress.start();
                axios.get('api/findAdmissionStudent?q=' + this.query + '&page=' +this.pagination.current_page)
                    .then(response => {
                        this.students = response.data.data;
                        this.pagination = response.data;
                        this.$Progress.finish();
                    })
                    .catch(() => {  
                        this.$Progress.finish();
                    })
            })
        }
        
    }
</script>
