<template>
    <main class="app-content">
        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-money"></i> Bayaran - Mustawa</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- Page title -->

        <!-- Page body -->
        <div class="row" v-if="$can('payment_mustawa')">
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-title">
                        <div class="col-lg-3">
                            <div class="input-group float-left">
                                <input v-model="query" class="form-control" type="text" placeholder="kata kunci">
                                <div class="input-group-append"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                            </div>
                        </div>
                        <div class="float-right">
                            <button class="btn btn-primary" @click="mustawaMoneyStatistic()"><i class="fa fa-bar-chart"></i> Pendapatan</button>
                            <button class="btn btn-primary" @click="reportMoney()"><i class="fa fa-bar-chart"></i> Laporan duit</button>
                            <!-- <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button class="btn btn-primary" type="button"><i class="fa fa-bar-chart"></i> Laporan duit</button>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-primary dropdown-toggle" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(36px, 37px, 0px);">
                                        <a class="dropdown-item" href="#" @click="reportMoney()">Laporan duit</a>
                                    </div>
                                </div>
                            </div> -->
                        </div>    
                    </div>
                    <div class="tile-body">
                        <div class="table-responsive">
                            <table class="table mt-3">
                                <thead>
                                    <tr class="table-info">
                                        <th>NIM</th>
                                        <th>NO.IDENTITAS</th>
                                        <th>NAMA NASAB</th>
                                        <th class="font-amiri">نام - نسب</th>
                                        <th>UBAH</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in students" :key="index">
                                        <td>{{item.student_id}}</td>
                                        <td>{{item.cityzen_id}}</td>
                                        <td>{{item.firstname_rumi}} {{item.lastname_rumi}}</td>
                                        <td class="font-amiri" align="right">{{item.firstname_jawi}} - {{item.lastname_jawi}}</td>
                                        <td>
                                            <router-link :to="{ name: 'MustawaForm', params:  { st_id: item.st_id}  }">
                                                <button class="btn btn-warning" >daftar</button>
                                            </router-link>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination
                                v-if="pagination.last_page > 1"
                                :pagination="pagination"
                                :offset="5"
                                @paginate="query === '' ? loadStudent() : searchData()"
                            ></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- \.Page body -->

        <!-- Money Report -->
        <mustawaMoney
            :moneyReport="moneyReport"
        ></mustawaMoney>
        <!-- Money Report -->

        <!-- Money statistic -->
        <MustawaMoneyStatistic
            :moneyStatistic="moneyStatistic"
        ></MustawaMoneyStatistic>
        <!-- \.Money statistic -->

        <!-- not found -->
        <div class="tile mb-4" v-if="!$can('payment_mustawa')">
            <not-found></not-found>
        </div>
        <!-- \. not found -->


    </main>
</template>
<script>
    import MustawaMoney from "./report/MustawaMoney.vue";
    import MustawaMoneyStatistic from "./report/MustawaMoneyStatistic.vue";
    export default {
        components:{
            MustawaMoney,
            MustawaMoneyStatistic,
        },
        mounted(){
            this.loadStudent();
        },
        data(){
            return{
                //money report
                moneyStatistic: {},
                moneyReport: {},

                query: '',
                pagination:{
                    current_page: 1
                },
                students: [],
            }
        },
        watch: {
            query: function(){
                if(this.query === ""){
                    this.loadStudent();
                }else{
                    this.searchData();
                }
            }
        },
        methods:{
            mustawaMoneyStatistic(){
                this.$Progress.start();
                axios.post('api/mustawaMoneyStatistic')
                    .then(r => {
                        $("#moneyStatisticModal").modal("show");
                        this.moneyStatistic = r.data.statistic;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            },
            reportMoney(){
                this.$Progress.start();
                axios.post('api/mustawaMoneyReport',{
                    'searchType': 'today',
                })
                    .then(r => {
                        $("#reportMoney").modal("show");
                        this.moneyReport = r.data;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            },
            searchData: _.debounce(() => {
                 fire.$emit('searching');
            },1000),
            loadStudent(){
                this.$Progress.start();
                axios.get('api/student?page='+this.pagination.current_page)
                    .then(r => {
                        this.students = r.data.data;
                        this.pagination = r.data;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            }
        },
        created: function(){
            fire.$on('searching', () => {
                this.$Progress.start();
                axios.get('api/findStudent?q='+this.query+'&page='+this.pagination.current_page)
                    .then(r => {
                        this.students = r.data.data;
                        this.pagination = r.data;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            })
        }   
    }
</script>