<template>
    <main class="app-content">
        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-money"></i> Bayaran - Mustawa</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- Page title -->

        <!-- Page body -->
        <div class="row">
            <div class="clearfix"></div>
            <div class="col-md-12">
                <!-- Tile -->
                <div class="tile">
                    <!-- Tile title -->
                    <div class="tile-title">
                        <div class="float-left">
                            <h3>{{studentInfo.student_id}}</h3>
                        </div>
                        <div class="float-right">
                            <router-link to="/PaymentMustawa">
                                <button class="btn btn-primary"><i class="fa fa-arrow-left"></i> back</button>
                            </router-link>
                        </div>
                    </div>
                    <!-- \.Tile title -->

                    <!-- Tile body -->
                    <div class="tile-body mt-5">
                        <table class="table">
                            <tr>
                                <td colspan="2" align="center">
                                    <img :src="image.name" class="rounded" width="170px" height="185px">
                                </td>
                            </tr>
                            <tr>
                                <td align="right" width="50%">
                                    <b>NIM :</b>
                                </td>
                                <td align="left">
                                    {{studentInfo.student_id}}
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <b>NAMA NASAB :</b>
                                </td>
                                <td align="left" width="50%">
                                    {{studentInfo.firstname_rumi}} {{studentInfo.lastname_rumi}} || {{studentInfo.firstname_jawi}} - {{studentInfo.lastname_jawi}}
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <b>FACKULTI & JURUSAN :</b>
                                </td>
                                <td align="left">
                                    <!-- {{faculty[0].ft_name}} {{department[0].dp_short_name}} -->
                                    {{studentFaculty.ft_name}} {{studentDepartment.dp_short_name}}
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <b>KELAS :</b>
                                </td>
                                <td align="left">
                                    <span v-for="(item, index) in studentClass" :key="index">
                                        <span v-if="studentInfo.class == item.year">{{item.class}}</span>
                                    </span>
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <div class="col-lg-12">
                            <div class="card mb-3 border-dark">
                                <div class="card-body">
                                    <div class="row">
                                        <!-- Payment form -->
                                        <div class="col-lg-4">
                                            <form @submit.prevent="editMode ? updatePayment(): createPayment()">
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <label for="">Kelas Mustawa</label>    
                                                        <select :disabled="mustawaDisabled" :class="{'is-invalid': form.errors.has('mustawadata_id')}" class="form-control" v-model="form.mustawadata_id" @change="findMustawaData($event.target.value)">
                                                            <option value="" style="display: none">--Pilih mustawa--</option>
                                                            <option v-for="(item, index) in mustawadata" :value="item.mustawaData_id" :key="index">Mustawa {{item.level}} , Tahun {{item.year}}</option>
                                                        </select>
                                                        <has-error :form="form" field="mustawadata_id"></has-error>
                                                    </div> 
                                                    <div class="col-md-6">
                                                        <label for="">Grup Belajar</label>
                                                        <select :class="{'is-invalid': form.errors.has('learningGroup')}" class="form-control" v-model="form.learningGroup">
                                                            <option value="" style="display: none">--Pilih grup--</option>
                                                            <option v-for="(item, index) in mustawaGroup" :value="index+1" :key="index">{{index+1}}</option>
                                                        </select>
                                                        <has-error :form="form" field="learningGroup"></has-error>
                                                    </div> 
                                                </div>
                                                <div class="form-row">
                                                    <button v-show="editMode" type="submit" :disabled="disabled" class="btn btn-success mt-3 float-right"><i class="fa fa-check-circle"></i> update</button>
                                                    <button v-show="!editMode" type="submit" :disabled="disabled" class="btn btn-success mt-3 float-right"><i class="fa fa-check-circle"></i> save</button>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- \.Payment form -->

                                        <!-- Payment history -->
                                        <div class="col-lg-8">
                                            <table class="table table-hover table-bordered">
                                                <thead>
                                                    <tr class="bg-primary text-white">
                                                        <td align="center">mustawa</td>
                                                        <td align="center">no. resit</td>
                                                        <td align="center">grup belajar</td>
                                                        <td align="center">ubah</td>
                                                        <td align="center">batal</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(item, index) in mustawaregister" :key="index">
                                                        <td align="center">Mustawa {{item.level}} , Tahun {{item.year}}</td>
                                                        <td align="center">
                                                            <button :disabled="disabled" class="btn btn-primary btn-sm" @click="loadRecietData(item)">
                                                                <i class="fa fa-print"></i>

                                                                {{item.reciet_code}}
                                                            </button>
                                                        </td>
                                                        <td align="center">{{item.learningGroup}}</td>
                                                        <td align="center">
                                                            <button @click="editPayment(item.mustawadata_id,item.mustawa_register_id,item.learningGroup)" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i >ubah</button>
                                                        </td>
                                                        <td align="center">
                                                            <button @click="deletePayment(item.mustawa_register_id)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>batal</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- \.Payment history --> 
                                    </div>
                                       
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- \.Tile body -->

                </div>
                <!-- \.Tile -->
            </div>
        </div>
        <!-- \.Page body -->

        <!-- Cancel Payment Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title" id="staticBackdropLabel">Membatal bayaran</h5>
                        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button> -->
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="cancelPayment()">
                            <div class="form-row">
                                <label for="">Password</label>
                                <input :class="{'is-invalid': cancelForm.errors.has('password')}" v-model="cancelForm.password" type="password" class="form-control" placeholder="Password">
                                <has-error :form="cancelForm" field="password"></has-error>
                            </div>
                            <button type="button" class="btn btn-secondary float-left mt-3" data-dismiss="modal">tutup</button>
                            <button :disabled="disabled" type="submit" class="btn btn-success float-right mt-3"><i class="fa fa-check-circle"></i> save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- \.Cancel Payment Modal-->

        <!-- PRINT -->
        <div id="mustawaReciet" style="display: none" align="center">
            
            <page size="reciet">
                <table width="96%" align="center" style="margin-right: 4ch;">
                    <tr style="height:15px;">
                        <td width="127" rowspan="4" align="left" valign="top"><img src="image/logo_reciet.png" width="70" height="77"></td>
                        <td width="434" align="center"><b>ใบเสร็จรับเงิน / RECEIPT</b></td>
                        <td width="146"></td>
                    </tr>
                    <tr style="height:15px;">
                        <td align="center">JAMIAH ISLAM SYEIKH DAUD AL-FATHANI(JISDA) -YALA</td>
                        <td align="right">เลขที่ : {{mustawaRegisterData.code}}</td>
                    </tr>
                    <tr style="height:15px;">
                        <td align="center">สถาบันอิสลามศึกษาชั้นสูง เช็คดาวุดอัลฟาฎอนีอัลอิสลามียะห์</td>
                        <td align="right">วันที่ : {{mustawaRegisterData.date | thaiDate}}</td>
                    </tr>
                    <tr style="height:15px;">
                        <td align="center">762 Siroros Road, Yala, Tel : 073-212937</td>
                        <td></td>
                    </tr>
                </table>
                <table width="96%" align="center" border="0" style="margin-right: 4ch;">
                    <tr>
                        <td width="20%"><b>ได้รับเงินจาก :</b></td>
                        <td width="30%" align="center" class="font-amiri">{{studentInfo.firstname_rumi}} &nbsp;&nbsp; {{studentInfo.lastname_rumi}}</td>
                        <td width="15%"><b>รหัสประจำตัว  :</b></td>
                        <td width="35%" align="center">{{studentInfo.student_id}}</td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Received From </b></td>
                        <td width="30%" align="center"></td>
                        <td width="15%"><b>Student ID</b></td>
                        <td width="35%" align="center"></td>
                    </tr>
                    <tr>
                        <td width="20%"><b>คณะ :</b></td>
                        <td width="30%" align="center">{{studentFaculty.ft_name}}</td>
                        <td width="15%"><b>สาขาวิชา  :</b></td>
                        <td width="35%" align="center">{{studentDepartment.dp_name}}</td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Faculty </b></td>
                        <td width="30%" align="center"></td>
                        <td width="15%"><b>Department</b></td>
                        <td width="35%" align="center"></td>
                    </tr>
                </table>
                <table width="98%" align="center" id="muqaddimah">
                    <tbody>
                        <tr>
                            <td height="37" colspan="2" align="center"><b>รายการ / Description</b></td>
                            <td width="154" align="center"><b>จำนวนเงิน / Amount</b></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left">	ค่าเทอมนักศึกษา</td>
                            <td align="right"></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left">	ค่าธรรมเนียม </td>
                            <td align="right"></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left">	ค่าลงทะเบียน </td>
                            <td align="right"></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left">	ค่าประกาศนียบัตร </td>
                            <td align="right"></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left">	อื่นๆ : Daftar Kelas Bahasa Arab (Kali {{mustawaRegisterData.level}})</td>
                            <td align="right"></td>
                        </tr>
                        <tr>
                            <td width="82" height="24" align="left"><b>รวม (บาท)</b></td>
                            <td width="339" align="center">{{mustawaRegisterData.prize_thai}}</td>
                            <td align="center">{{mustawaRegisterData.payMoney}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <p align="right" id="reciet-footer">ผู้รับเงิน/Cashier</p>
            </page>

        </div>
        <!-- \.PRINT -->


    </main>
</template>
<script>
    export default {
        mounted(){
            this.loadMustawaHistory();
            this.loadMustawaData();
            this.loadStudentClass();
            this.loadStudentInfo();
        },
        props: ['st_id'], 
        data(){
            return{
                mustawaRegisterData: {
                    code: '',
                    date: '',
                    level: '',
                    prize_thai: '',
                    payMoney: '',
                    year: '',
                },
                cancelForm: new Form({
                    mustawa_register_id: '',
                    password: '',
                }),
                editMode: false,
                mustawaDisabled: false,
                mustawaregister: [],
                disabled: false,
                form: new Form({
                    mustawa_register_id: '',
                    mustawadata_id: '',
                    learningGroup: '',
                    st_id: this.st_id,
                }),
                mustawaGroup: '',
                mustawadata: [],
                stdClass: [{
                    class: 'loading...',
                }],
                studentClass: [],
                department: [{
                    dp_short_name: '',
                }],
                faculty: [{
                    ft_name: 'loading...',
                }],
                allFaculty: [],
                allDepartment: [],
                studentInfo: {
                    student_id: 'loading...',
                    firstname_rumi: 'loading...',
                    lastname_rumi: '',
                    firstname_jawi: 'loading...',
                    lastname_jawi: '',
                },
                studentFaculty: {
                    ft_name: 'loading...',
                },
                studentDepartment: {
                    dp_short_name: '',
                },
                image: {
                    name: 'image/avatar.png',
                },
            }
        }, 
        methods:{
            printReciet(){
                this.$htmlToPaper('mustawaReciet');
            },
            printing: _.debounce(() => {
                 fire.$emit('printing');
            },1000),
            loadRecietData(item){
                //this.disabled = true;
                this.mustawaRegisterData.code = item.reciet_code;
                this.mustawaRegisterData.date = item.register_date;
                this.mustawaRegisterData.level = item.level;
                this.mustawaRegisterData.prize_thai = item.prize_thai;
                this.mustawaRegisterData.payMoney = item.payMoney;

                // var year = item.year;
                // var str = year.toString();
                // var res = str.substring(2, 4);

                //this.mustawaRegisterData.year = res;

                this.printing();
                //fire.$emit('printing');
            },
            cancelPayment(){
                this.$Progress.start();
                this.disabled = true;
                this.cancelForm.post('api/mustawaRegisterCancel')
                    .then(r => {
                        this.loadMustawaHistory();
                        this.disabled = false;

                        if(r.data.status == 'match'){
                            toast.fire({
                                icon: 'success',
                                title: 'bayaran berhasil di batal',
                            })
                        }else{
                            toast.fire({
                                icon: 'warning',
                                title: 'password salah',
                            })
                        }
                        

                        this.mustawaDisabled = false;
                        this.editMode = false;

                        $("#staticBackdrop").modal("hide");

                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.disabled = false;
                        this.$Progress.fail();
                    })
            },
            deletePayment(id){
                $("#staticBackdrop").modal("show");
                this.cancelForm.mustawa_register_id = id;
                this.cancelForm.password = '';
            },
            updatePayment(){
                this.disabled = true;
                this.$Progress.start();
                this.form.put('api/mustawaRegister/'+this.form.mustawa_register_id)
                    .then(r => {
                        this.loadMustawaHistory(); 
                        this.disabled = false;
                        this.mustawaDisabled = false;
                        this.form.mustawadata_id = '',
                        this.form.learningGroup = '',
                        this.editMode = false;

                        toast.fire({
                            icon: 'success',
                            title: 'data berhasil di perbaharui'
                        })

                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            },
            editPayment(mid,rid,grp){
                this.$Progress.start();
                this.editMode = true;
                axios.get('api/mustawadata/'+mid)
                    .then(r => {
                        this.mustawaGroup = r.data.group_number;
                        this.mustawaDisabled = true;
                        this.form.mustawa_register_id = rid;
                        this.form.learningGroup = grp;
                        this.form.mustawadata_id = mid;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            },
            loadMustawaHistory(){
                axios.get('api/mustawaRegister/'+this.st_id)
                    .then(r => {
                        this.mustawaregister = r.data;
                    })
                    .catch(() => {

                    })
            },
            createPayment(){
                this.$Progress.start();
                this.disabled = true;
                this.form.post('api/mustawaRegister')
                    .then(r => {
                        if(r.data.status == 'success'){
                            toast.fire({
                                icon: 'success',
                                title: 'pembayaran berhasil'
                            })
                        }else{
                            toast.fire({
                                icon: 'warning',
                                title: 'sudah daftar'
                            })
                        }
                        this.form.reset();
                        this.loadMustawaHistory();
                        this.disabled = false;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.disabled = false;
                        this.$Progress.fail();
                    })
            },
            findMustawaData(id){
                //console.log(id);
                axios.get('api/mustawadata/'+id)
                    .then(r => {
                        this.mustawaGroup = r.data.group_number;
                    })
                    .catch(() => {

                    })
            },
            loadMustawaData(){
                axios.get('api/mustawadata')
                    .then(r => {
                        this.mustawadata = r.data;
                    })
                    .catch(() => {

                    })
            },
            loadStudentClass(){
                axios.get('api/studentClass')
                    .then(r => {
                        this.studentClass = r.data;
                        fire.$emit('showClass');
                    })
                    .catch(() => {

                    })
            },
            studentFacultyDepartment(faculty,department){
              this.faculty =  faculty.filter(faculty => faculty.ft_id == this.studentInfo.ft_id);
              if(this.studentInfo.dp_id != 0){
                  this.department = department.filter(department => department.dp_id == this.studentInfo.dp_id);
              }
            },
            loadStudentInfo(){
                this.$Progress.start();
                axios.get('api/studentInfo/'+this.st_id)
                    .then(r => {
                        this.studentInfo = r.data.biodata;
                        this.studentFaculty = r.data.studentFaculty;
                        this.studentDepartment = r.data.studentDepartment;
                        this.image.name = r.data.image.name; 
                        this.allFaculty = r.data.faculty;
                        this.allDepartment = r.data.department;
                        fire.$emit('showFaculty');
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            }
        },
        created:function(){
            fire.$on('printing', () => {
                this.printReciet();
            })
        }
    }
</script>