<template>
    <main class="app-content">
            <!-- Page title -->
            <div class="app-title">
                <div>
                    <h1><i class="fa fa-money"></i> Bayaran - Daftar ulang</h1>
                    <p>Sistem managemen informasi JISDA</p>
                </div>
            </div>
            <!-- /.Page title -->

            <!-- body -->
            <div class="tile mb-4" >
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <div class="input-group float-left">
                                    <h3>{{faculty.ft_name}} {{department.dp_short_name}}</h3>
                                </div>
                            </div>
                            <div class="float-right">
                                <router-link to="/PaymentUlang">
                                    <button class="btn btn-primary"><i class="fa fa-arrow-left"></i> back</button>
                                </router-link>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <form @submit.prevent="createPayment()">
                            <!-- <ul>
                                <li v-for="(item, index) in canExamStudents" :key="index">
                                    normal
                                </li>
                                <li v-for="(tra, index) in transferStudents" :key="index">
                                    transfer
                                </li>
                            </ul> -->
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="bg-secondary text-white">
                                        <td align="center">PILIH</td>
                                        <td align="center">NIM</td>
                                        <td align="center">Nama Nasab</td>
                                        <td align="center" class="font-amiri text-white">نام نسب</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, key, nrml) in canExamStudents" :key="nrml">
                                        <td align="center">
                                            <div class="form-check">
                                                <input type="checkbox" v-model="studentPaying" :value="item.st_id" @click="creatingPay()" class="form-check-input">
                                            </div>
                                        </td>
                                        <td>{{item.student_id}}</td>
                                        <td>{{item.firstname_rumi}} {{item.lastname_rumi}}</td>
                                        <td align="right" class="font-amiri">{{item.firstname_jawi}} - {{item.lastname_jawi}}</td>
                                    </tr>
                                    <tr v-for="(item, key, strfm) in transferStudents" :key="strfm" class="bg-info">
                                        <td align="center">
                                            <div class="form-check">
                                                <input type="checkbox" v-model="studentPaying" :value="item.st_id" @click="creatingPay()" class="form-check-input">
                                            </div>
                                        </td>
                                        <td>{{item.student_id}}</td>
                                        <td>{{item.firstname_rumi}} {{item.lastname_rumi}}</td>
                                        <td align="right" class="font-amiri">{{item.firstname_jawi}} - {{item.lastname_jawi}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="submit" :disabled="creatingPayButton" class="btn btn-success float-right">save <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form @submit.prevent="ulangPayStudentDelete()">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="bg-secondary text-white">
                                        <td align="center">PILIH</td>
                                        <td align="center">NIM</td>
                                        <td align="center">Nama Nasab</td>
                                        <td align="center" class="font-amiri text-white">نام نسب</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, key, nrml) in studentPayed" :key="nrml">
                                        <td align="center">
                                            <div class="form-check">
                                                <input type="checkbox" v-model="studentDeleting" :value="item.id" @click="deletingPay()" class="form-check-input">
                                            </div>
                                        </td>
                                        <td>{{item.student_id}}</td>
                                        <td>{{item.firstname_rumi}} {{item.lastname_rumi}}</td>
                                        <td align="right" class="font-amiri">{{item.firstname_jawi}} - {{item.lastname_jawi}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="submit" :disabled="deletingPayButton" class="btn btn-success float-left"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> save</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- \.body -->
    </main>
</template>

<script>
export default {
    props: ['ft_id','dp_id','year'],
    mounted(){
        this.loadDepartment();
        this.loadFaculty();
        this.ulangPayStudentPayed();
        this.currentStudent();
    },
    data() {
        return {
            department: '',
            faculty: '',
            deletingPayButton: true,
            creatingPayButton: true,
            studentDeleting: [],
            studentPayed: [],
            studentPaying: [],
            canExamStudents: [],
            transferStudents: [],
        }
    },
    methods: {
        loadDepartment(){
            axios.get('api/department/'+this.dp_id)
                .then(r => {
                    this.department = r.data;
                })
                .catch(() => {

                })
        },
        loadFaculty(){
            axios.get('api/faculty/'+this.ft_id)
                .then(r => {
                    this.faculty = r.data;
                })
                .catch(() => {
                    
                })
        },
        creatingPay(){
            this.creatingPayButton = false;
        },
        deletingPay(){
            this.deletingPayButton = false;
        },
        ulangPayStudentDelete(){
            this.$Progress.start();
            this.deletingPayButton = true;
            axios.post('api/ulangPayStudentDelete',{
                'studentDeleting': this.studentDeleting
            })
                .then(r => {
                    this.ulangPayStudentPayed();
                    this.currentStudent();
                    this.studentDeleting = [];
                    // this.deletingPayButton = true;
                    this.$Progress.finish();
                })
                .catch(() => {
                    this.$Progress.fail();
                })
        },
        ulangPayStudentPayed(){
            axios.post('api/ulangPayStudentPayed',{
                'class': this.year,
                'ft_id': this.ft_id,
                'dp_id': this.dp_id,
            })
                .then(r => {
                    this.studentPayed = r.data;
                })
                .catch(() => {

                })
        },
        createPayment(){
            this.$Progress.start();
            this.creatingPayButton = true;
            axios.post('api/ulangPay', {
                'studentPayings': this.studentPayings,
                'studentPaying': this.studentPaying,
            })
                .then(r => {
                    this.currentStudent(); 
                    this.ulangPayStudentPayed();
                    this.studentPaying = [];
                    // this.creatingPayButton = true;
                    this.$Progress.finish();
                })
                .catch(() => {
                    this.$Progress.fail();
                })
        },
        currentStudent(){
            axios.post('api/currentStudent',{
                'class': this.year,
                'ft_id': this.ft_id,
                'dp_id': this.dp_id,
            })
                .then(r => {
                    this.canExamStudents = r.data.studentCanExam;
                    this.transferStudents = r.data.studentTransfer;
                })
                .catch(() => {
                    
                })
        } 
    },
}
</script>

<style>

</style>