<template>
    <main class="app-content">

        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-money"></i> Bayaran - Daftar ulang (Mahasiswa drop sudah daftar ulang)</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div> 
        </div>
        <!-- /.Page title -->

        <!-- body -->
            <div class="tile mb-4" v-if="$can('payment_daftar_ulang')">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                <div class="input-group float-left">
                                    <!-- <input class="form-control" v-model="query" type="text" placeholder="kata kunci">
                                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-search"></i></span></div> -->
                                </div>
                            </div>
                            <div class="float-right">
                                <router-link to="/PaymentUlangDrop">
                                    <button class="btn btn-primary"><i class="fa fa-arrow-left"></i> back</button>
                                </router-link>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td align="center">NIM</td>
                                    <td align="center">NAMA-NASAB</td>
                                    <td align="center" class="font-amiri">نام - نسب</td>
                                    <td align="center">DAFTAR</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in students" :key="index">
                                    <td align="center">{{item.student_id}}</td>
                                    <td>{{item.firstname_rumi}} {{item.lastname_rumi}}</td>
                                    <td align="right" class="font-amiri">{{item.firstname_jawi}} - {{item.lastname_jawi}}</td>
                                    <td align="center">
                                        <button @click="cancelPay(item.id)" class="btn btn-warning">batal</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <!-- /.body -->

    </main>
</template>

<script>
    export default {
        mounted(){
            this.loadStudent();
        },
        data(){
            return{
                id: '', //ulang_pays
                students: [],
            }
        },
        methods:{
            cancelPay(id){
                //console.log(id);
                this.id = id;
                swal.fire({
                    title: 'Anda pasti untuk membatal ?',
                    text: "Pembayaran akan di batalkan !",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Batal'
                    }).then((result) => {
                        if(result.value) {
                            fire.$emit('cancelPayment');
                        }
                })
            },
            loadStudent(){
                this.$Progress.start();
                axios.get('api/UlangPayStudentDropList')
                    .then(r => {
                        this.students = r.data;
                        this.$Progress.finish();
                    })  
                    .catch(() => {
                        this.$Progress.fail();
                    })  
            }
        },
        created: function(){
            fire.$on('cancelPayment', () => {
                this.$Progress.start();
                axios.delete('api/UlangPayStudentDropDelete/'+this.id)
                    .then(r => {
                        this.loadStudent();
                        this.$Progress.finish();
                        toast.fire({
                            icon: 'success',
                            title: 'Pendaftaran di batal'
                        })
                    })
                    .catch(() => {

                    })
            })
        }
    }
</script>