<template>
    <main class="app-content">
        
        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-money"></i> Bayaran - Daftar ulang (Mahasiswa drop)</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- /.Page title -->

        <!-- body -->
        <div class="tile mb-4" v-if="$can('payment_daftar_ulang')">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-3">
                            <div class="input-group float-left">
                                <input class="form-control" v-model="query" type="text" placeholder="kata kunci">
                                <div class="input-group-append"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                            </div>
                        </div>
                        <div class="float-right">
                            <router-link to="/PaymentDropList">
                                <button class="btn btn-primary"><i class="fa fa-list" aria-hidden="true"></i> Mahasiswa drop</button>
                            </router-link>
                            <router-link to="/PaymentUlang">
                                <button class="btn btn-primary"><i class="fa fa-arrow-left"></i> back</button>
                            </router-link>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td align="center">NIM</td>
                                <td align="center">NAMA-NASAB</td>
                                <td align="center" class="font-amiri">نام - نسب</td>
                                <td align="center">DAFTAR</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in students" :key="index">
                                <td align="center">{{item.student_id}}</td>
                                <td>{{item.firstname_rumi}} {{item.lastname_rumi}}</td>
                                <td align="right" class="font-amiri">{{item.firstname_jawi}} - {{item.lastname_jawi}}</td>
                                <td align="center">
                                    <button @click="openModal(item.st_id)" class="btn btn-warning">daftar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination
                        v-if="pagination.last_page > 1"
                        :pagination="pagination"
                        :offset="5"
                        @paginate="query === '' ? loadStudent() : searchData()"
                    ></pagination>
                </div>
            </div>
        </div>
        <!-- \. body -->

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{studentInfo.data.student_id}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div align="center">
                        <img class="img-thumbnail" :src="'/images/'+studentInfo.photo+''" width="200px" height="280px">
                    </div>
                    <div class="card mb-3 text-white bg-success mt-3">
                        <div class="card-body">
                            <blockquote class="card-blockquote">
                                <p><b>NIM : </b>{{studentInfo.data.student_id}}</p>
                                <p><b>No.Identitas : </b>{{studentInfo.data.cityzen_id}}</p>
                                <p><b>Nama - nasab : </b>{{studentInfo.data.firstname_rumi}} {{studentInfo.data.firstname_rumi}}</p>
                                <p><b>Fakulti/Jurusan : </b>{{studentInfo.faculty}} {{studentInfo.department}}</p>
                            </blockquote>
                        </div>
                    </div>
                    <form @submit.prevent="createPayment()">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">kelas:</label>
                            <select v-model="class_level" class="form-control" required>
                                <option value="" style="display: none">Pilih kelas</option>
                                <option v-for="(item, index) in studentClass" :value="item.year" :key="index">{{item.class}}</option>
                            </select>
                        </div>
                        <!-- <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Fakulti:</label>
                            <select v-model="ft_id" class="form-control" @change="departmentAtFaculty($event.target.value)">
                                <option value="" style="display: none">Pilih fakulti</option>
                                <option v-for="(item, index) in faculties" :key="index" :value="item.ft_id">{{item.ft_name}}</option>
                            </select>
                        </div>
                        <div class="form-group" v-if="departmentFaculty != 0">
                            <label for="recipient-name" class="col-form-label">Jurusan:</label>
                            <select v-model="dp_id" class="form-control">
                                <option value="" style="display: none">Pilih kelas</option>
                                <option v-for="(item, index) in departmentFaculty" :value="item.dp_id" :key="index">{{item.dp_name}}</option>
                            </select>
                        </div> -->
                        <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">batal</button>
                        <button type="submit" :disabled="disabled" class="btn btn-primary float-right">save</button>
                    </form>
                </div>
                <div class="modal-footer">
                    
                </div>
                </div>
            </div>
        </div>

    </main>
</template>

<script>
    export default {
        mounted(){
            //this.loadFaculty();
            this.loadStudentClass();
            this.loadStudent();
        },
        data(){
            return{
                disabled: false,

                //form data
                class_level: '',
                st_id: '',

                departmentFaculty: [],
                faculties: '',
                studentClass: [],
                studentInfo: {
                    data: {
                        student_id: '',
                        firstname_rumi: '',
                        lastname_rumi: '',
                    }
                    
                },
                pagination:{
                    current_page: 1,
                },
                query: '',
                students: [],
            }
        },
        watch: {
            query: function(){
                if(this.query === ""){
                    this.loadStudent();
                }else{
                    this.searchData();
                }
            }
        },
        methods:{
            createPayment(){
                this.$Progress.start();
                this.disabled = true;
                axios.post('api/ulangPayStudentDrop', {
                    'class': this.class_level,
                    'st_id': this.st_id,
                    // 'ft_id': this.ft_id,
                    // 'dp_id': this.dp_id,  
                })
                .then(r => {
                    if(r.data.status == 'exist'){
                        toast.fire({
                            icon: 'warning',
                            title: 'sudah daftar',
                        })
                    }else{
                        toast.fire({
                            icon: 'success',
                            title: 'Pendaftaran berhasil',
                        })
                    }
                    
                    this.disabled = false;
                    this.$Progress.finish();
                })
                .catch(() => {
                    this.disabled = false;
                    this.$Progress.fail();
                })
            },
            // departmentAtFaculty(ft_id){
            //     axios.get('api/departmentAtFaculty/'+ft_id)
            //         .then(r => {    
            //             this.departmentFaculty = r.data;
            //         })
            //         .catch(() => {
                        
            //         })
            // },
            // loadFaculty(){
            //     axios.get('api/faculty')
            //         .then(r => {
            //             this.faculties = r.data;
            //         })
            //         .catch(() => {

            //         })
            // },
            loadStudentClass(){
                axios.get('api/studentClass')
                    .then(r => {
                        this.studentClass = r.data.filter(r => r.class >1)
                    })
                    .catch(() => {

                    })
            },
            openModal(st_id){
                this.$Progress.start();
                axios.get('api/drop/'+st_id)
                    .then(r => {
                        $("#exampleModal").modal("show");
                        this.studentInfo = r.data;
                        this.st_id = st_id;
                        this.class_level = '';
                        //this.departmentFaculty = '';
                        // if(r.data.data.ft_id === 121 || r.data.data.ft_id === 125){
                        //     this.departmentAtFaculty(r.data.data.ft_id);
                        // }

                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            },
            searchData: _.debounce(() => {
                 fire.$emit('searching');
            },1000),
            loadStudent(){
                this.$Progress.start();
                axios.get('api/drop?page='+this.pagination.current_page)
                    .then(r => {
                        this.students = r.data.data;
                        this.pagination = r.data;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            }
        },
        created: function(){
            fire.$on('searching', () => {
                this.$Progress.start();
                 axios.get('api/findDropStudent?q=' + this.query + '&page=' + this.pagination.current_page)
                    .then(response => {
                        this.students = response.data.data;
                        this.pagination = response.data;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            })
        }
    }
</script>
