<template>
    <main class="app-content">
        
        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-money"></i> Bayaran - Daftar ulang</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- /.Page title -->
        
        <!-- body -->
        <div class="tile mb-4" v-if="$can('payment_daftar_ulang')">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-3">
                            <div class="input-group float-left">
                                
                            </div>
                        </div>
                        <div class="float-right">
                            <router-link to="/PaymentUlangDrop">
                                <button class="btn btn-primary"><i class="fa fa-users"></i> Mahasiswa drop</button>
                            </router-link>
                            <button class="btn btn-primary" @click="reportShow()"><i class="fa fa-bar-chart"></i> Laporan duit</button>
                            <!-- <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button class="btn btn-primary" type="button"><i class="fa fa-bar-chart"></i> Laporan duit</button>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-primary dropdown-toggle" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(36px, 37px, 0px);">
                                        <a class="dropdown-item" href="#">Tahun satu</a>
                                        <a class="dropdown-item" href="#">Transfer</a>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div> 
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td align="center">KELAS</td>
                                <td align="center">TARBIAH - PAI</td>
                                <td align="center">TARBIAH - PBSM</td>
                                <td align="center">SYARIAH</td>
                                <td align="center">USULUDDIN</td>
                                <td align="center">DIRASAT</td>
                                <td align="center">DAKWAH - MD</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in classList" :key="index">
                                <td align="center">{{item.class}}</td>
                                <td align="center">
                                    <router-link :to="{ name: 'PaymentUlangForm', params:  { year: item.year, ft_id: '121', dp_id: '22'}  }">
                                        <button class="btn btn-secondary btn-sm" ><i class="fa fa-chevron-right"></i></button>
                                    </router-link>
                                </td>
                                <td align="center">
                                    <!-- <button class="btn btn-secondary btn-sm" @click="showStudent(item.year,'121','23',item.class)"><i class="fa fa-chevron-right"></i></button> -->
                                    <router-link :to="{ name: 'PaymentUlangForm', params:  { year: item.year, ft_id: '121', dp_id: '23'}  }">
                                        <button class="btn btn-secondary btn-sm" ><i class="fa fa-chevron-right"></i></button>
                                    </router-link>
                                </td>
                                <td align="center">
                                    <!-- <button class="btn btn-secondary btn-sm" @click="showStudent(item.year,'122','0',item.class)"><i class="fa fa-chevron-right"></i></button> -->
                                    <router-link :to="{ name: 'PaymentUlangForm', params:  { year: item.year, ft_id: '122', dp_id: '0'}  }">
                                        <button class="btn btn-secondary btn-sm" ><i class="fa fa-chevron-right"></i></button>
                                    </router-link>
                                </td>
                                <td align="center">
                                    <!-- <button class="btn btn-secondary btn-sm" @click="showStudent(item.year,'123','0',item.class)"><i class="fa fa-chevron-right"></i></button> -->
                                    <router-link :to="{ name: 'PaymentUlangForm', params:  { year: item.year, ft_id: '123', dp_id: '0'}  }">
                                        <button class="btn btn-secondary btn-sm" ><i class="fa fa-chevron-right"></i></button>
                                    </router-link>
                                </td>
                                <td align="center">
                                    <!-- <button class="btn btn-secondary btn-sm" @click="showStudent(item.year,'124','0',item.class)"><i class="fa fa-chevron-right"></i></button> -->
                                    <router-link :to="{ name: 'PaymentUlangForm', params:  { year: item.year, ft_id: '124', dp_id: '0'}  }">
                                        <button class="btn btn-secondary btn-sm" ><i class="fa fa-chevron-right"></i></button>
                                    </router-link>
                                </td>
                                <td align="center">
                                    <!-- <button class="btn btn-secondary btn-sm" @click="showStudent(item.year,'125','28',item.class)"><i class="fa fa-chevron-right"></i></button> -->
                                    <router-link :to="{ name: 'PaymentUlangForm', params:  { year: item.year, ft_id: '125', dp_id: '28'}  }">
                                        <button class="btn btn-secondary btn-sm" ><i class="fa fa-chevron-right"></i></button>
                                    </router-link>
                                </td>
                            </tr>
                        </tbody>
                    </table>   
                </div>
            </div>
        </div>
        <!-- \.body -->

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body">
                    <h3 class="text-danger">Masih dalam proses pembangunan</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>

        <!-- not found -->
            <div class="tile mb-4" v-if="!$can('payment_daftar_ulang')">
                <not-found></not-found>
            </div>
        <!-- \.not found -->

    </main>
</template>

<script>
export default {
    mounted(){
        this.currentClassList();
    },
    data() {
        return {
            classList: [],
        }
    },
    methods:{
        reportShow(){
            $("#exampleModal").modal("show");
        },
        currentClassList(){
            axios.get('api/currentClassList')
                .then(r => {
                    //this.classList = r.data.filter(r => (r.class > 1));
                    this.classList = r.data;
                })
                .catch(() => {

                })
        }
    }
};
</script>

<style>

</style>
