<template>
    <main class="app-content">
        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-money"></i> Bayaran - Yuran</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- Page title -->

        <!-- Page body -->
        <div class="row">
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="tile">
                    <div class="title-title">
                        <div class="col-lg-3">
                            <div class="input-group float-left">
                                <input v-model="query" class="form-control" type="text" placeholder="kata kunci">
                                <div class="input-group-append"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                            </div>
                        </div>  
                        <div class="float-right">
                            <button class="btn btn-primary"><i class="fa fa-bar-chart"></i> Pendapatan</button>
                            <button class="btn btn-primary"><i class="fa fa-bar-chart"></i> Laporan duit</button>
                        </div>
                    </div>
                    <div class="tile-body">
                        <div class="table-responsive table-hover">
                            <table class="table mt-3">
                                <thead>
                                    <tr class="table-info">
                                        <th>NIM</th>
                                        <th>NO.IDENTITAS</th>
                                        <th>NAMA NASAB</th>
                                        <th class="font-amiri">نام - نسب</th>
                                        <th class="text-center">SEMESTER/TAHUN</th>
                                        <th>STATUS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in students" :key="index">
                                        <td>{{item.student.student_id}}</td>
                                        <td>{{item.student.cityzen_id}}</td>
                                        <td>{{item.student.firstname_rumi}} {{item.student.lastname_rumi}}</td>
                                        <td class="font-amiri" align="right">
                                            {{item.student.firstname_jawi}} {{item.student.lastname_jawi}}
                                        </td>
                                        <td align="center">{{item.term}}/{{item.academic_year}}</td>
                                        <td>
                                            <router-link :to="{ name: 'YuranForm', params: {sr_id: item.sr_id, st_id: item.st_id}}">
                                                <button v-if="item.pay_status == 'Belum bayar'" class="btn btn-danger btn-sm"><i class="fa fa-times-circle"></i> belum bayar</button>
                                                <button v-if="item.pay_status == 'BELUM LUNAS'" class="btn btn-warning btn-sm"><i class="fa fa-minus-circle"></i> belum lunas</button>
                                                <button v-if="item.pay_status == 'SUDAH LUNAS'" class="btn btn-success btn-sm"><i class="fa fa-check-circle"></i> sudah lunas</button>
                                            </router-link>
                                        </td>
                                        <!-- <td>
                                            <router-link :to="{ name: 'MustawaForm', params:  { st_id: item.st_id}  }">
                                                <button class="btn btn-warning" >daftar</button>
                                            </router-link>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                            <pagination
                                v-if="pagination.last_page > 1"
                                :pagination="pagination"
                                :offset="5"
                                @paginate="query === '' ? loadStudent() : searchData()"
                            ></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- \.Page body -->

    </main>
</template>

<script>
    export default {
        mounted(){
            this.loadStudent();
        },
        data(){
            return{
                query: '',
                pagination: {
                    current_page: 1,
                },
                students: [],
            }
        },
        watch:{
            query: function(){
                if(this.query === ""){
                    this.loadStudent();
                }else{
                    this.searchData();
                }
            }
        },
        methods:{
            searchData: _.debounce(() => {
                 fire.$emit('searching');
            },1000),
            loadStudent(){
                this.$Progress.start();
                axios.get('api/studentRegister?page='+this.pagination.current_page)
                    .then(r => {
                        this.students = r.data.data;
                        this.pagination = r.data;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            },
        },
        created: function(){
            fire.$on('searching', () => {
                this.$Progress.start();
                axios.get('api/studentRegisterSearch?q='+this.query+'&page='+this.pagination.current_page)
                    .then(r => {
                        this.students = r.data.data;
                        this.pagination = r.data;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            })
        }   
    }
</script>