<template>
    <main class="app-content">
        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-money"></i> Bayaran - Yuran</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- Page title -->

        <!-- Page body -->
        <div class="row">
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="tile">
                    <!-- Tile title -->
                    <div class="tile-title">
                        <div class="float-left">
                            <h3>{{studentInfo.student_id}}</h3>
                        </div>
                        <div class="float-right">
                            <router-link to="/PaymentYuran">
                                <button class="btn btn-primary"><i class="fa fa-arrow-left"></i> back</button>
                            </router-link>
                        </div>
                    </div>
                    <!-- \.Tile title -->
                    
                    <!-- Tile body -->
                    <div class="tile-body mt-5">
                        <table class="table">
                            <tr>
                                <td colspan="2" align="center">
                                    <img :src="image.name" class="rounded" width="170px" height="185px">
                                </td>
                            </tr>
                            <tr>
                                <td align="right" width="50%">
                                    <b>NIM :</b>
                                </td>
                                <td align="left">
                                    {{studentInfo.student_id}}
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <b>NAMA NASAB :</b>
                                </td>
                                <td align="left" width="50%">
                                    {{studentInfo.firstname_rumi}} {{studentInfo.lastname_rumi}} || {{studentInfo.firstname_jawi}} - {{studentInfo.lastname_jawi}}
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <b>FACKULTI & JURUSAN :</b>
                                </td>
                                <td align="left">
                                    {{studentFaculty.ft_name}} {{studentDepartment.dp_short_name}}
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <b>KELAS :</b>
                                </td>
                                <td align="left">
                                    <span v-for="(item, index) in studentClass" :key="index">
                                        <span v-if="studentInfo.class == item.year">{{item.class}}</span>
                                    </span>
                                </td>
                            </tr>
                        </table>

                        <hr>
                        <div class="col-md-12">
                            <div class="card mb-3 border-dark">
                                <div class="card-body">
                                    <div class="row">
                                        <!-- Payment form -->
                                        <div class="col-lg-3">
                                            <form @submit.prevent="createPayment()" v-show="paymentInfo.payStatus != 2">
                                                <div class="form-row">
                                                    <div class="col-md-6"> 
                                                        <input v-model="form.money" :class="{'is-invalid': form.errors.has('money')}" type="number" class="form-control" :disabled="disabled">
                                                        <has-error :form="form" field="money"></has-error>
                                                    </div> 
                                                    <div class="col-md-6"> 
                                                        <button :disabled="disabled" type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> save</button>
                                                    </div> 
                                                </div>
                                            </form>
                                        </div>
                                        <!-- \.Payment form -->

                                        <!-- Payment history -->
                                        <div class="col-lg-9">
                                            <table class="table table-hover table-bordered">
                                                <thead>
                                                    <tr class="bg-primary text-white">
                                                        <td align="center" colspan="3">
                                                            status :    
                                                            <button v-if="paymentInfo.payStatus == 0" class="btn btn-danger btn-sm"><i class="fa fa-times"></i> belum bayar</button>
                                                            <button v-if="paymentInfo.payStatus == 1" class="btn btn-warning btn-sm"><i class="fa fa-minus-circle"></i> belum lunas</button>
                                                            <button v-if="paymentInfo.payStatus == 2" class="btn btn-success btn-sm"><i class="fa fa-check-square-o"></i> sudah lunas</button>
                                                        </td>
                                                        <td align="center" colspan="2">
                                                            baqi : {{paymentInfo.payRemaining}} ฿.
                                                        </td>
                                                        <td align="center">
                                                            denda : {{paymentInfo.payPenalty}} ฿.
                                                        </td>
                                                    </tr>
                                                    <tr class="bg-primary text-white"> 
                                                        <td align="center">jumlah duit</td>
                                                        <td align="center">resit</td>
                                                        <td align="center">tarikh bayar</td>
                                                        <td align="center">masa bayar</td>
                                                        <td align="center">ubah</td>
                                                        <td align="center">batal</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(item, index) in payments" :key="index">
                                                        <td align="center">
                                                            {{item.money}} ฿.
                                                        </td>
                                                        <td align="center">
                                                            <button class="btn btn-primary btn-sm">
                                                                {{item.reciet_code}} 
                                                                <i class="fa fa-print"></i>
                                                            </button>
                                                        </td>
                                                        <td align="center">
                                                            {{item.paydate | thaiDate}}
                                                        </td>
                                                        <td align="center">
                                                            {{item.created_at | thaiTime}}
                                                        </td>
                                                        <td align="center">
                                                            <button class="btn btn-secondary btn-sm"><i class="fa fa-edit"></i >ubah</button>
                                                        </td>
                                                        <td align="center">
                                                            <button @click="deletePayment(item.p_id)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>batal</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- \.Payment history --> 
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- \.Tile body -->

                </div>
            </div>
        </div>
        <!-- \.Page body -->

        <!-- Cancel Payment Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title" id="staticBackdropLabel">Membatal bayaran</h5>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="cancelPayment()">
                            <div class="form-row">
                                <label for="">Password</label>
                                <input :class="{'is-invalid': cancelForm.errors.has('password')}" v-model="cancelForm.password" type="password" class="form-control" placeholder="Password">
                                <has-error :form="cancelForm" field="password"></has-error>
                            </div>
                            <button type="button" class="btn btn-secondary float-left mt-3" data-dismiss="modal">tutup</button>
                            <button :disabled="cancelDisabled" type="submit" class="btn btn-success float-right mt-3"><i class="fa fa-check-circle"></i> save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- \.Cancel Payment Modal-->

    </main>
</template>

<script>
    export default {
        props: ['st_id', 'sr_id'],
        mounted(){
            this.loadYuranPaymentInfo();
            this.loadStudentInfo();
            this.loadStudentClass();
        },
        data(){
            return{
                cancelDisabled: false,
                cancelForm: new Form({
                    p_id: '',
                    st_id: this.st_id,
                    sr_id: this.sr_id,
                    password: '',
                }),
                payments: [],
                disabled: false,
                form: new Form({
                    money: '',
                    st_id: this.st_id,
                    sr_id: this.sr_id,
                }),
                paymentInfo: {
                    payStatus: '',
                    payRemaining: '1,500',
                    payPenalty: '',
                },
                image: {
                    name: 'image/avatar.png',
                },
                studentFaculty: {},
                studentDepartment: {}, 
                studentClass: [],
                studentInfo: {},
            }
        },
        methods:{
            cancelPayment(){
                this.cancelDisabled = true;
                this.$Progress.start();
                this.cancelForm.post('api/yuranCancelPay')
                    .then(r => {
                        this.form.money = r.data.payRemaining;
                        this.payments = r.data.payments;
                        if(r.data.payStatus == 2){
                            this.disabled = true;
                        }else{
                            this.disabled = false;
                        }
                        if(r.data.status == 'not'){
                            toast.fire({
                                icon: 'warning',
                                title: 'password salah',
                            });
                        }else{
                            toast.fire({
                                icon: 'success',
                                title: 'bayaran berhasil di batal',
                            });
                            this.cancelForm.password = '';
                            $("#staticBackdrop").modal("hide");;
                        }
                        
                        this.paymentInfo = r.data;
                        this.cancelDisabled = false;
                        this.$Progress.finish();

                    })
                    .catch(() => {
                        this.cancelDisabled = false;
                        this.$Progress.fail();
                    })
            },
            deletePayment(p_id){
                $("#staticBackdrop").modal("show");
                this.cancelForm.p_id = p_id;
                this.cancelForm.password = '';
            },
            createPayment(){
                this.$Progress.start();
                this.disabled = true;
                this.form.post('api/payment')
                    .then(r => {
                        this.paymentInfo = r.data;
                        this.form.money = r.data.payRemaining;
                        if(r.data.payStatus == 2){
                            this.disabled = true;
                        }else{
                            this.disabled = false;
                        }
                        toast.fire({
                            icon: 'success',
                            title: 'bayaran berhasil'
                        });
                        this.payments = r.data.payments;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.disabled = false;
                        this.$Progress.fail();
                    })
            },
            loadYuranPaymentInfo(){
                axios.post('api/yuranPaymentInfo', {
                    'st_id': this.st_id,
                    'sr_id': this.sr_id,
                })
                    .then(r => {
                        this.paymentInfo = r.data;
                        this.form.money = r.data.payRemaining;
                        if(r.data.payStatus == 2){
                            this.disabled = true;
                        }else{
                            this.disabled = false;
                        }
                        this.payments = r.data.payments;
                    })
                    .catch(() => {

                    })
            },
            loadStudentClass(){
                axios.get('api/studentClass')
                    .then(r => {
                        this.studentClass = r.data;
                    })
                    .catch(() => {

                    })
            },
            loadStudentInfo(){
                this.$Progress.start();
                axios.get('api/studentInfo/'+this.st_id)
                    .then(r => {
                        this.studentInfo = r.data.biodata;
                        this.image.name = r.data.image.name; 
                        this.studentFaculty = r.data.studentFaculty;
                        this.studentDepartment = r.data.studentDepartment;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            }
        }
    }
</script>