<template>
    <main class="app-content">

        <!-- Page title -->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-cog"></i> Penetapan - Import NIM</h1>
                <p>Sistem managemen informasi JISDA</p>
            </div>
        </div>
        <!-- \'Page title -->

        <!-- body -->
        <div class="row">
            <div class="clearix"></div>
            <div class="col-md-12">
                <div class="tile">
                    <h3 class="tile-title">Subscribe</h3>
                    <div class="tile-body">
                        <form class="row" @submit.prevent="importNim()">
                            <div class="form-group col-md-3">
                                <input type="file" :class="{ 'is-invalid' : error.message }" class="form-control" id="input-file-import" name="file_import" ref="import_file"  @change="onFileChange">
                                <div v-if="error.message" class="invalid-feedback">
                                    {{error.errors.import_file}}
                                </div>
                            </div>
                            <div class="form-group col-md-4 align-self-end">
                                <button class="btn btn-primary" :disabled="disabled" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>upload</button>
                            </div>
                        </form>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>BIL</td>
                                    <td>No. Identitas</td>
                                    <td>NIM</td>
                                    <td>NAMA - NASAB</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in students" :key="index">
                                    <td>{{item.number}}</td>
                                    <td>{{item.idcard}}</td>
                                    <td>{{item.student_code}}</td>
                                    <td align="right" class="font-amiri">{{item.name}} - {{item.lastname}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- \.body -->

        <!-- not found -->
            <div class="tile mb-4" v-if="!$can('settingNim')">
                <not-found></not-found>
            </div>
        <!-- \.not found -->

    </main>
</template>

<script>
    export default {
        data(){
            return{
                students: [],
                error: {},
                import_file: '',
                disabled: false,
            }
        },
        methods:{

            onFileChange(e) {
                this.import_file = e.target.files[0];
            },

            importNim() {
                this.$Progress.start();
                this.disabled = true;
                let formData = new FormData();
                formData.append('import_file', this.import_file);
                //formData.append('ar_year', this.ar_year);
                //axios.post('api/studentCodeExcelImport', formData, {
                axios.post('/api/importStudentCode', formData, {
                    headers: { 'content-type': 'multipart/form-data' }
                })
                    .then(response => {
                        this.students = response.data.data;
                        if(response.status === 200) {
                            toast.fire({
                                icon: 'success',
                                title: 'ดำเนินการสำเร็จ'
                            })
                        }
                        this.error = '';
                        this.disabled = false;
                        this.$Progress.finish();
                    })
                    .catch(error => {
                        // code here when an upload is not valid
                        //this.uploading = false
                        this.disabled = false;
                        this.error = error.response.data;
                        this.$Progress.fail();
                        //console.log('check error: ', this.error)
                    });
            },
        }   
    }
</script>