<template>
    <div>
        {{year}}
    </div>
    <!-- <div id="paperPrint" style="display: none" align="center">
        <page size="A4">
            <table width="100%">
                <tbody>
                    <tr v-for="(item, index) in year" :key="index">
                        <td>SEM 1</td>
                        <td>SEM 2</td>
                    </tr>
                </tbody>
            </table>
        </page>
    </div> -->
</template>

<script>
    export default {
        name: 'ScorePrint',
        props: {
            score: Array,
        },
        mounted(){
            this.yearList(this.score);
        },
        data(){
            return{
                year: Object,
            }
        },
        methods:{
            yearList(score){
                //this.year = score;
                console.log(score);
            }
        }
    }
</script>