<template>
    <div>
        <div class="timeline-post" v-for="(semester, index) in score" :key="index">
            <div class="post-media">
                <div class="content">
                    <h5>
                        <a href="#">{{semester.semester}}/{{semester.year}}</a>
                    </h5>
                    <p class="text-muted">
                        <small>2 January at 9:30</small>
                    </p>
                </div>
            </div>
            <div class="post-content">
                <table class="table table-hover">
                    <tr>
                        <td>kode</td>
                        <td>Madah</td>
                        <td>Madah</td>
                        <td>Pensyarah</td>
                        <td>Markah</td>
                    </tr>
                    <tr v-for="(subject, index) in semester.subject" :key="index">
                        <td>{{subject.subject.s_code}}</td>
                        <td>{{subject.subject.s_rumiName}}</td>
                        <td align="right" class="font-amiri">{{subject.subject.s_arabName}}</td>
                        <td>{{subject.teacher.t_fnameRumi}} {{subject.teacher.t_lnameRumi}}</td>
                        <td>{{subject.ss_score}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'StudenScore',
        props: {
            score: Array,
        }   
    }
</script>