<template>
    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{headerTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="bg-primary text-white">
                                <th>Fakulti</th>
                                <th>Lelaki</th>
                                <th>Perempuan</th>
                                <th>Semua</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in facultyStatistic" :key="index">
                                <td>{{item.faculty}} {{item.department}}</td>
                                <td>{{item.male}}</td>
                                <td>{{item.female}}</td>
                                <td>{{item.sumStudent}}</td>
                            </tr>
                            <tr class="bg-primary text-white">
                                <td colspan="4">Semua : {{totalStudent}} Orang</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'MuqaddimahReport',
        props: {
            totalStudent: null,
            facultyStatistic: Array,
            headerTitle: null,
        },
        mounted(){
            
        },
        data(){
            return{
                
            }
        },
        methods:{
            
        }
    }
</script>