<template>
    <div class="modal fade" id="reportMoney" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{headerTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <div class="card mb-3 text-white bg-success">
                        <div class="card-body">
                            <blockquote class="card-blockquote">
                                <h3>{{muqaddimahTotalMoney}} BTH.</h3>
                            </blockquote>
                        </div>
                    </div>

                    <form @submit.prevent="findmuqaddimahReportMoneyDateRange()">
                        <div class="form-row">
                            <div class="col-md-3">
                                <input type="date" v-model="fromDate" class="form-control">
                            </div>
                            <div class="col-md-3">
                                <input type="date" v-model="toDate" class="form-control">
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-success" :disabled="disabled"><i class="fa fa-search"></i> cari</button>
                            </div>
                        </div>
                    </form>
                    <table class="table table-bordered mt-3">
                        <thead>
                            <tr class="bg-primary text-white">
                                <td colspan="4">jumlah duit semua : {{muqaaimahMony}} BTH.</td>
                            </tr>
                            <tr class="bg-primary text-white">
                                <th>Nama nasab</th>
                                <th align="right">نام نسب</th>
                                <th>Tarikh bayar</th>
                                <th>Resit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in payedPerson" :key="index">
                                <td>{{index+1}}. {{item.firstname_rumi}} {{item.lastname_rumi}}</td>
                                <td class="font-amiri" align="right">{{item.firstname_jawi}} - {{item.lastname_jawi}}</td>
                                <td>{{item.m_paydate | thaiDate}}</td>
                                <td>{{item.m_reciet}}</td>
                            </tr>
                            <tr class="bg-primary text-white">
                                <td colspan="4">jumlah duit semua : {{muqaaimahMony}} BTH.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'MuqaddimahMoney',
        props:{
            muqaddimahTotalMoney: null,
            payedPerson: Array,
            muqaaimahMony: null,
            type: null,
            headerTitle: null,
        },  
        data(){
            return{
                disabled: false,
                fromDate: '',
                toDate: '',
            }
        },
        methods:{
            findmuqaddimahReportMoneyDateRange(){
                this.$Progress.start();
                this.disabled = true;
                axios.post('api/findmuqaddimahReportMoneyDateRange',{
                    'fromDate': this.fromDate,
                    'toDate': this.toDate,
                    'type': this.type,
                })
                    .then(r => {
                        this.payedPerson = r.data.list;
                        this.muqaaimahMony = r.data.totalMoney;
                        this.disabled = false;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.disabled = false;
                        this.$Progress.fail();
                    })
            }
        }
    }
</script>