<template>
    <div class="modal fade" id="moneyStatisticModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Statistic pendapatan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <table class="table table-hover mt-3">
                    <thead>
                        <tr class="bg-primary text-white">
                            <th>PROGRAM</th>
                            <th>HARGA (bth.)</th>
                            <th>JUMLAH PELAJAR (orang)</th>
                            <th>TOTAL PENDAPATAN (bth.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in moneyStatistic" :key="index">
                            <td>Mustawa {{item.level}} , Tahun {{item.year}}</td>
                            <td>฿ {{item.prize}}</td>
                            <td><i class="fa fa-users" aria-hidden="true"></i> {{item.student}}</td>
                            <td>฿ {{item.totalMoney}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">tutub</button>
            </div>
            </div>
        </div>
    </div> 
</template>

<script>
    export default {
        name: 'MustawaMoneyStatistic',
        props: {
            moneyStatistic: Object,
        }
    }
</script>