<template>
    <div class="modal fade" id="reportMoney" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Laporan duit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!-- <h3 class="text-danger">Masih dalam proses pembangunan</h3> -->
                <div class="card mb-3 text-white bg-success">
                    <div class="card-body">
                        <blockquote class="card-blockquote">
                            <h2 class="text-center">{{moneyReport.today}} :: {{moneyReport.totalMoney}} BTH.</h2>
                        </blockquote>
                    </div>
                </div>

                <form @submit.prevent="loadReport()">
                    <div class="form-row">
                        <div class="col-md-3">
                            <select v-model="form.mustawadata_id" class="form-control">
                                <option value="all">Semua</option>
                                <option v-for="(item, index) in mustawadata" :value="item.mustawaData_id" :key="index">Mustawa {{item.level}} , Tahun {{item.year}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input v-model="form.startDate" type="date" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <input v-model="form.toDate" type="date" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-success"><i class="fa fa-search"></i>cari</button>
                        </div>
                    </div>
                </form>

                <table class="table table-hover mt-3">
                    <thead>
                        <tr class="bg-primary text-white">
                            <th>#</th>
                            <th>NIM</th>
                            <th>NAMA NASAB</th>
                            <th>PROGRAM</th>
                            <th>RESIT</th>
                            <th>TARIKH BAYAR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in moneyReport.payList" :key="index">
                            <td>{{index+1}}</td>
                            <td>{{item.student_id}}</td>
                            <td>{{item.firstname_rumi}} {{item.lastname_rumi}}</td>
                            <td>Mustawa {{item.level}} , Tahun {{item.year}}</td>
                            <td>{{item.reciet_code}}</td>
                            <td>{{item.created_at | thaiDateTime}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">tutub</button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'MustawaMoney',
        props:{
            moneyReport: Object,
        },
        mounted(){
            this.loadMustawaData();  
        },
        data(){
            return{
                form: new Form({
                    searchType: 'range',
                    mustawadata_id: 'all',
                    startDate: '',
                    toDate: '',
                }),
                mustawadata: [],
            }
        },
        methods:{
            loadReport(){
                this.$Progress.start();
                this.form.post('api/mustawaMoneyReport')
                    .then(r => {
                        this.moneyReport = r.data;
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    })
            },
            loadMustawaData(){
                axios.get('api/mustawadata')
                    .then(r => {
                        this.mustawadata = r.data;
                    })
                    .catch(() => {

                    })
            },
        }
    }
</script>